@use "@db-ui/foundations/build/scss/variables.global" as *;

.input-container {
	display: flex;
	flex-wrap: wrap;
	gap: $db-spacing-fixed-md;
	padding: $db-spacing-fixed-md;

	& > form {
		display: flex;
		flex-wrap: wrap;
		gap: $db-spacing-fixed-md;
	}
}
