<h1>Input</h1>
<div class="input-container">
	<form (ngSubmit)="onSubmit()">
		<DBInput
			description="This is a description"
			label="Start train station"
			placeholder="some text"
			iconBefore="edit"
			variant="critical"
			value="hello"
			name="testInput"
		></DBInput>

		<DBInput
			description="Valid test"
			label="With event"
			placeholder="some text"
			iconBefore="edit"
			iconAfter="heart"
			variant="warning"
			id="input-expr-warning"
			[required]="true"
		></DBInput>
		<DBInput
			label="start date"
			placeholder="some text"
			type="datetime-local"
			id="input-expr-date"
		></DBInput>

		<DBInput
			label="Start train station"
			placeholder="some text"
			iconAfter="heart"
			id="input-reg"
			[required]="true"
			[minLength]="5"
		></DBInput>
		<DBInput
			label="Start date"
			placeholder="some text"
			type="week"
			id="input-reg-date"
		></DBInput>

		<DBInput
			id="db-input-functional-1"
			label="Start train station"
			placeholder="some text"
		></DBInput>
		<DBInput
			id="db-input-functional-2"
			label="Textinput disabled"
			placeholder="some text"
			variant="information"
			[disabled]="true"
		></DBInput>

		<DBInput
			label="start date"
			placeholder="some text"
			type="datetime-local"
			id="input-func-date"
		></DBInput>
		<DBButton type="submit">Submit</DBButton>
	</form>
</div>
