@use "sass:map";
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/color-placeholder" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;

%grid-layout {
	grid-template-areas: "icon content close";
	grid-template-columns: min-content 1fr min-content;

	&:has(.db-alert-link) {
		grid-template-areas: "icon content link close";
		grid-template-columns: min-content 1fr min-content min-content;
	}

	@media screen and (max-width: $db-screens-s) {
		&:has(.db-alert-link) {
			grid-template-columns: min-content 1fr min-content;
			grid-template-areas:
				"icon content close"
				"icon link link";
		}
	}

	&:has(.db-alert-headline) {
		grid-template-columns: min-content 1fr 1fr min-content;
		grid-template-areas:
			"icon head head close"
			"icon content content content";

		&:has(.db-alert-link) {
			grid-template-columns: min-content 1fr 1fr min-content min-content;
			grid-template-areas:
				"icon head head link close"
				"icon content content content content";
		}

		@media screen and (max-width: $db-screens-s) {
			grid-template-columns: min-content 1fr min-content;
			grid-template-areas:
				"icon head close"
				"icon content content";

			&:has(.db-alert-link) {
				grid-template-columns: min-content 1fr min-content;
				grid-template-areas:
					"icon head close"
					"icon content content"
					"icon link link";
			}
		}
	}
}

.db-alert {
	@extend %component-border;
	@extend %grid-layout;
	display: grid;
	padding: $db-spacing-fixed-md;
	gap: $db-spacing-fixed-xs $db-spacing-fixed-md;
	inline-size: inherit;

	// TODO: probably extract this to an overwrite or external file
	text-align: start; // workaround for power apps

	dblink,
	db-link {
		// workaround angular
		display: inline-flex;
	}

	.db-alert-headline {
		grid-area: head;
	}

	.db-alert-content {
		grid-area: content;
		margin: 0;
	}

	.db-alert-link {
		grid-area: link;
	}

	.db-alert-close {
		grid-area: close;
	}

	&::before {
		/* TODO: Take filled icons if they are ready */
		--icon-font-family: var(--db-base-icon-font-family);
		--icon-font-size: var(--db-base-icon-font-size);
		grid-area: icon;
		margin-inline-end: 0;
	}

	&[data-type="inline"] {
		@extend %default-card;

		&[data-elevation="none"] {
			box-shadow: none;
		}
	}

	@each $name, $colors in $component-variants {
		&[data-variant="#{$name}"] {
			@if ($name == "critical") {
				@extend %db-bg-critical;
			} @else if ($name == "informational") {
				@extend %db-bg-informational;
			} @else if ($name == "warning") {
				@extend %db-bg-warning;
			} @else if ($name == "successful") {
				@extend %db-bg-successful;
			}

			--db-current-border-color: #{map.get($colors, "border")};

			&::before {
				color: map.get($colors, "element");
			}
		}
	}
}
