@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;

:root {
	body {
		margin: 0;
	}
}

:root:has(.fixed-header-footer) {
	height: 100%;
	overflow: hidden;

	body,
	#root,
	#app {
		height: 100%;
	}
}

.db-page {
	&.fixed-header-footer {
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		header,
		footer {
			display: flex;
			flex: 0 1 auto;
			flex-grow: 0;
			flex-shrink: 0;
		}

		main {
			display: flex;
			flex-direction: column;
			overflow: auto;
			flex: 1 1 auto;
			width: 100%;
		}
	}
}
