<div class="form-container">
	<div>
		<form>
			<fieldset>
				<p>db-input:</p>
				<db-input
					[(ngModel)]="input"
					name="username"
					label="Textinput"
					placeholder="Placeholder"
					description="Description"
					icon="edit"
					ngDefaultControl
				>
				</db-input>
				<p>db-radio:</p>
				<ul>
					<li *ngFor="let radioName of radioNames">
						<db-radio
							(change)="radio = radioName"
							[label]="'Radio ' + radioName"
							[value]="radioName"
							name="RadioGroup"
						></db-radio>
					</li>
				</ul>
				<p>db-button:</p>
				<db-button
					type="button"
					variant="primary"
					(click)="showValues()"
				>
					Hi from Showcase!
				</db-button>
			</fieldset>
		</form>
	</div>
	<div>
		<h2>Output</h2>
		<dl>
			<dt>inputs value</dt>
			<dd>{{ input ? input : "No Input set" }}</dd>
		</dl>
		<dl>
			<dt>radio's value</dt>
			<dd>{{ radio ? radio : "No radio set" }}</dd>
		</dl>
	</div>
</div>
