<div class="form-container">
	<div>
		<form>
			<fieldset>
				<p>Input:</p>
				<db-input
					[(ngModel)]="input"
					name="username"
					label="Textinput"
					placeholder="Placeholder"
					description="Description"
					[dataList]="dataList"
					icon="account"
					ngDefaultControl
				>
				</db-input>
				<p>Radio:</p>
				<ul>
					<li *ngFor="let radioName of radioNames">
						<db-radio
							(change)="radio = radioName"
							[label]="getRadioName(radioName)"
							[value]="radioName"
							name="RadioGroup"
						></db-radio>
					</li>
				</ul>
				<p>Checkbox:</p>
				<db-checkbox
					(change)="checkbox = $event.target.checked"
					name="checkbox"
					label="Checkbox"
				></db-checkbox>
				<p>Button:</p>
				<db-button
					type="button"
					variant="primary"
					(click)="showValues()"
				>
					Hi from Showcase!
				</db-button>
			</fieldset>
		</form>
	</div>
	<div>
		<h2>Output</h2>
		<dl>
			<dt>inputs value</dt>
			<dd>{{ input ? input : "No Input set" }}</dd>
			<dt>radio value</dt>
			<dd>{{ radio ? radio : "No radio set" }}</dd>
			<dt>checkbox value</dt>
			<dd>checkbox {{ checkbox ? "" : "un" }}checked</dd>
		</dl>
	</div>
</div>
