<div class="form-container">
	<div>
		<form [formGroup]="form" (submit)="onFormSubmit()">
			<fieldset>
				<p>Input:</p>
				<!-- OR [(ngModel)]="model.input" -->
				<db-input
					name="form"
					id="form"
					label="Textinput"
					placeholder="Placeholder"
					description="Description"
					icon="account"
					formControlName="input"
				>
				</db-input>

				<db-input
					name="form"
					id="datalist"
					label="Textinput with Datalist"
					placeholder="Placeholder"
					description="Description"
					[dataList]="dataList"
					icon="account"
				>
				</db-input>

				<p>Radio:</p>
				<ul>
					<li *ngFor="let radioName of radioNames">
						<db-radio
							label="Label"
							name="RadioGroup"
							[value]="radioName"
							(change)="model.radio = radioName"
							[label]="getRadioName(radioName)"
						></db-radio>
					</li>
				</ul>
				<p>Checkbox:</p>
				<db-checkbox
					(change)="model.checkbox = $event.target.checked"
					name="checkbox"
					label="Checkbox"
				></db-checkbox>
				<p>DBSelect:</p>
				<db-select
					[value]="select"
					label="Label"
					(change)="select = $event.target.value"
				>
					<option value="test1">Test1</option>
					<option value="test2">Test2</option>
				</db-select>
				<p>Button:</p>
				<db-button type="button" (click)="resetValues()">
					Reset
				</db-button>
				<db-button type="submit" variant="primary">
					Hi from Showcase!
				</db-button>
			</fieldset>
		</form>
	</div>
	<div>
		<h2>Output</h2>
		<dl>
			<dt>inputs value</dt>
			<dd>
				{{
					form.get("input")?.value
						? form.get("input")?.value
						: "No Input set"
				}}
			</dd>
			<dt>radio value</dt>
			<dd>{{ model.radio ? model.radio : "No radio set" }}</dd>
			<dt>checkbox value</dt>
			<dd>checkbox {{ checkbox ? "" : "un" }}checked</dd>
			<dt>select value</dt>
			<dd>{{ select ? select : "No select set" }}</dd>
		</dl>
	</div>
</div>
