@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/components/build/styles/db-ui-42-webpack" as *;

@import "@db-ui/foundations/build/scss/color-classes";

.desktop-navigation {
	ul {
		list-style-type: none;
		display: flex;
		gap: $db-spacing-fixed-md;
	}
}
