@if (navItem) {
	<db-navigation-item
		[backButtonText]="getBackButtonText()"
		[active]="isActive()"
	>
		@if (navItem.subNavigation) {
			<ng-container sub-navigation>
				@for (item of navItem.subNavigation; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}
			</ng-container>
		}
		<ng-container *dbNavigationContent>
			@if (navItem.component) {
				<a [routerLink]="navItem.path" queryParamsHandling="merge">
					{{ navItem.label }}
				</a>
			}
			@if (!navItem.component) {
				{{ navItem.label }}
			}
		</ng-container>
	</db-navigation-item>
}
