@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/helpers";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/animation";
@use "../../styles/form-components";
@use "../../styles/component";

.db-accordion-item {
	@extend %bg-transparent;
	@include helpers.divider($position: "top");

	position: relative;
	inline-size: 100%;

	summary + div {
		padding: variables.$db-spacing-fixed-md;
		padding-block-end: variables.$db-spacing-fixed-lg;
	}

	&:last-of-type {
		@include helpers.divider($position: "bottom", $slot: "after");

		// Angular workaround
		db-accordion-item:not(:last-of-type) & {
			&::after {
				content: none;
			}
		}
	}

	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: variables.$db-opacity-sm;
	}

	summary {
		@extend %dropdown-icon;
		@include colors.bg-transparent-interactive(false);

		list-style: none;
		display: flex;
		justify-content: space-between;
		padding: variables.$db-spacing-fixed-md;
		gap: variables.$db-spacing-fixed-md;

		&::-webkit-details-marker {
			display: none;
		}

		&::after {
			inset-inline-end: variables.$db-spacing-fixed-sm;
		}

		&:focus-visible {
			border-radius: variables.$db-border-radius-md;
		}
	}

	&[open] {
		summary + div {
			animation: accordion-open
				variables.$db-transition-emotional-straight normal both;
		}

		summary::after {
			transform: form-components.$dropdown-icon-transform;
		}
	}
}
