@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/helpers";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/animation";
@use "../../styles/form-components";
@use "../../styles/component";

.db-accordion-item {
	position: relative;
	inline-size: 100%;
	border-radius: variables.$db-border-radius-lg;

	summary + div {
		padding: variables.$db-spacing-fixed-md;
		padding-block-end: variables.$db-spacing-fixed-lg;
	}

	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: component.$default-disabled;
	}

	summary {
		@extend %dropdown-icon;
		background-color: colors.$db-current-color-bg-transparent-full-enabled;

		list-style: none;
		display: flex;
		justify-content: space-between;
		padding: variables.$db-spacing-fixed-md;
		gap: variables.$db-spacing-fixed-md;
		border-radius: variables.$db-border-radius-lg;

		@include helpers.hover {
			background-color: colors.$db-current-color-bg-transparent-hover;
		}

		@include helpers.active {
			background-color: colors.$db-current-color-bg-transparent-pressed;
		}

		&::-webkit-details-marker {
			display: none;
		}

		&::after {
			inset-inline-end: variables.$db-spacing-fixed-sm;
		}

		&:focus-visible {
			border-radius: variables.$db-border-radius-xs;
		}
	}

	&[open] {
		summary + div {
			animation: accordion-open
				variables.$db-transition-straight-emotional normal both;
		}

		summary::after {
			transform: form-components.$dropdown-icon-transform;
		}
	}
}
