@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/form-components";

.db-radio {
	@extend %check-element;

	input {
		border-color: currentColor;
		border-radius: variables.$db-border-radius-3xl;
		transition: border-width variables.$db-transition-duration-fast
			variables.$db-transition-functional-timing;

		&:checked {
			border-width: calc(#{form-components.$font-size-height} * 0.3);

			// The radio element still has the default background for the dot on :hover when in checked state
			&:enabled:hover {
				@extend %bg-transparent;
			}
		}
	}
}
