@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/helpers";

$min-mobile-header-height: calc(
	#{variables.$db-sizing-md} + 2 * #{variables.$db-spacing-fixed-xs}
);

$default-disabled: 0.4;

%default-adaptive-border {
	border: variables.$db-border-height-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-100-default;
}

%transparent-border {
	border: variables.$db-border-height-3xs solid transparent;
}

%component-border {
	border: variables.$db-border-height-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-60-default;
}

%default-interactive-component {
	@extend %default-adaptive-border;

	border-radius: variables.$db-border-radius-xs;
}

%default-card {
	@extend %component-border;

	border-radius: var(
		--default-card-border-radius,
		#{variables.$db-border-radius-sm}
	);
}
