@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "@db-ui/foundations/build/scss/colors";

@mixin set-db-puls-horizontal() {
	&::after {
		block-size: variables.$db-border-height-lg;
		inline-size: 0;
		transform: translate(-50%, 0);
		inset-inline-start: 50%;
		background-color: colors.$db-brand;
		inset-block-start: auto;
		inset-block-end: calc(-1 * #{variables.$db-spacing-fixed-xs});
	}
}

@mixin set-db-puls-vertical() {
	&::after {
		block-size: 0;
		inline-size: variables.$db-border-height-lg;
		transform: translate(0, -50%);
		inset-block-start: 50%;
		background-color: colors.$db-brand;
		inset-inline-start: calc(-1 * #{variables.$db-spacing-fixed-xs});
		inset-block-end: auto;
	}
}

%db-puls {
	&::after {
		content: "";
		position: absolute;
		border-radius: variables.$db-border-radius-md;
		transition:
			height 0.15s variables.$db-transition-emotional-timing,
			width 0.15s variables.$db-transition-emotional-timing;
	}
}

%db-puls-auto {
	@extend %db-puls;

	@include set-db-puls-vertical();

	@include screen-sizes.screen("md") {
		@include set-db-puls-horizontal();
	}
}

@mixin show-db-puls-horizontal() {
	&::after {
		block-size: variables.$db-border-height-lg;
		inline-size: 100%;
	}
}

@mixin show-db-puls-vertical() {
	&::after {
		block-size: 100%;
		inline-size: variables.$db-border-height-lg;
	}
}

%show-db-puls-auto {
	@include show-db-puls-vertical;
	@include screen-sizes.screen("md") {
		@include show-db-puls-horizontal;
	}
}
