@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "@db-ui/foundations/build/scss/colors";
@use "component";

%db-puls {
	@include screen-sizes.screen("md") {
		&::after {
			border-inline-start: none;
			border-block-end: component.$default-border-radius solid
				colors.$db-brand;
			inset-block-end: calc(-1 * #{variables.$db-spacing-fixed-xs});
			inline-size: 0;
			block-size: auto;
			inset-inline-start: 50%;
			inset-block-start: auto;
			transform: translate(-50%, 0);
		}
	}

	&::after {
		content: "";
		position: absolute;
		border-radius: component.$default-border-radius;
		transition:
			height 0.15s variables.$db-transition-emotional-timing,
			width 0.15s variables.$db-transition-emotional-timing;
		block-size: 0;
		transform: translate(0, -50%);
		inset-block-start: 50%;
		inset-inline-start: calc(-1 * #{variables.$db-spacing-fixed-xs});
		border-inline-start: component.$default-border-radius solid
			colors.$db-brand;
	}
}

%show-db-puls {
	@include screen-sizes.screen("md") {
		&::after {
			block-size: auto;
			inline-size: 100%;
		}
	}

	&::after {
		block-size: 100%;
	}
}
