@use "@db-ui/foundations/build/scss/variables" as *;

%dialog-container {
	position: fixed;
	inset: 0;
	z-index: 9995;
}

dialog {
	padding: 0;
	margin: 0;
	border: 0;
	z-index: 9996;
	color: inherit;
}

dialog[data-backdrop="false"] {
	@extend %dialog-container;
}

dialog[data-backdrop="true"]::backdrop {
	@extend %dialog-container;
	background-color: $db-colors-neutral-on-bg-enabled;
	opacity: 0.5;
}
