@use "sass:map";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/tonality";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/helpers";
@use "component";

$dropdown-icon-transition: transform variables.$db-transition-emotional-straight;
$dropdown-icon-transform: rotate(-180deg);

$font-size-height: calc(var(--db-base-font-size) * var(--db-base-line-height));
$icon-size-sm: var(--db-base-icon-font-size-sm);
$label-size-height-sm: calc(
	var(--db-type-body-font-size-sm) * var(--db-type-body-line-height-sm)
);
$label-size-height-xs: calc(
	var(--db-type-body-font-size-xs) * var(--db-type-body-line-height-xs)
);
$label-size-height-2xs: calc(
	var(--db-type-body-font-size-2xs) * var(--db-type-body-line-height-2xs)
);

$floating-label-size: calc(
	#{variables.$db-spacing-fixed-3xs} + #{variables.$db-spacing-fixed-2xs} + #{$label-size-height-2xs}
);

%dropdown-icon {
	@include icons.set-icon("expand_more", "after");

	&::after {
		transition: $dropdown-icon-transition;
		pointer-events: none;
	}
}

@mixin placeholder-content() {
	&::placeholder,
	& + [id$="-placeholder"] {
		@content;
	}
}

@mixin set-floating-label-overwrites($selector) {
	&[data-label-variant="floating"] {
		label {
			@extend %db-overwrite-font-size-md;
			position: absolute;
			z-index: 2;
			inset-block-start: calc(
				(#{variables.$db-sizing-md} - #{$font-size-height}) / 2
			);
			inset-inline: var(
				--db-form-component-padding-inline-start,
				#{variables.$db-spacing-fixed-sm}
			);
		}

		// icons
		&::after,
		&::before {
			inset-block-start: calc(
				#{variables.$db-sizing-md} / 2 - #{$font-size-height} / 2
			);
		}

		[id$="-placeholder"] {
			@extend %db-overwrite-font-size-sm;
			inset-block-start: calc(
				50% - 0.5em + #{variables.$db-spacing-fixed-3xs}
			);
		}

		#{$selector} {
			@extend %db-overwrite-font-size-sm;
			@include placeholder-content() {
				transition: none;
				opacity: 0;
			}

			@if ($selector == textarea) {
				padding-block-start: $floating-label-size;
			} @else {
				// font-size label which is 2xs + smallest spacing
				padding-block-start: calc(
					var(--db-type-body-font-size-2xs) +
						#{variables.$db-spacing-fixed-3xs}
				);
			}
		}

		&:has(#{$selector}:focus-within),
		&:has(#{$selector}:is(input, textarea):not(:placeholder-shown)),
		&:has(> select option:checked:not([hidden])) {
			label {
				@extend %db-overwrite-font-size-2xs;
				inset-block-start: variables.$db-spacing-fixed-2xs;
			}

			#{$selector} {
				@include placeholder-content() {
					transition: opacity
						variables.$db-transition-emotional-straight;
					opacity: variables.$db-opacity-md;
				}
			}
		}
	}
}

@mixin get-validity-color($key: "valid") {
	$variant: "successful";

	@if ($key != "valid") {
		$variant: "critical";
	}

	& {
		@extend %db-bg-#{$variant}-variables;
	}

	textarea,
	input,
	select,
	[id$="-placeholder"] {
		color: var(--db-#{$variant}-on-bg);
	}
}

@mixin get-validity($key: "valid") {
	$boolean: "true";
	@if ($key == "valid") {
		$boolean: "false";
	}

	&:has(input:not([aria-invalid]):user-#{$key}),
	&:has(textarea:not([aria-invalid]):user-#{$key}),
	&:has(select:not([aria-invalid]):user-#{$key}) {
		@content;
	}

	// :user-valid workaround
	@supports not selector(:user-#{$key}) {
		&:has(input:not([aria-invalid]):required:#{$key}),
		&:has(textarea:not([aria-invalid]):required:#{$key}),
		&:has(select:not([aria-invalid]):required:#{$key}) {
			@content;
		}
	}

	// If aria-invalid is set we overwrite the selectors above
	&:has(input[aria-invalid="#{$boolean}"]),
	&:has(textarea[aria-invalid="#{$boolean}"]),
	&:has(select[aria-invalid="#{$boolean}"]) {
		@content;
	}
}

@mixin set-required-label($selector) {
	&:has(#{$selector}:required) {
		&:is(label),
		label {
			&::after {
				content: "*";
				padding-inline-start: variables.$db-spacing-fixed-2xs;
			}
		}
	}
}

@mixin set-default-form-component($selector) {
	--db-form-has-before: 0;
	@extend %db-overwrite-font-size-sm;

	@include set-floating-label-overwrites($selector);
	@include set-required-label($selector);

	// we use absolute icons
	position: relative;
	display: flex;
	flex-direction: column;
	@include get-validity() {
		@include get-validity-color("valid");
	}
	@include get-validity("invalid") {
		@include get-validity-color("invalid");
	}

	#{$selector} {
		@extend %db-overwrite-font-size-md;
		@extend %default-interactive-component;
		@extend %component-border;

		background-color: colors.$db-current-bg-transparent-semi;

		appearance: none;
		max-inline-size: 100%;
		inline-size: 100%;
		padding-inline: var(
				--db-form-component-padding-inline-start,
				#{variables.$db-spacing-fixed-sm}
			)
			var(
				--db-form-component-padding-inline-end,
				#{variables.$db-spacing-fixed-sm}
			);

		@include placeholder-content() {
			opacity: variables.$db-opacity-md;
		}

		&:hover {
			background-color: colors.$db-current-bg-transparent-hover;
		}

		&:is(input, textarea):read-only {
			background-color: colors.$db-base-bg !important;
		}
	}

	// label
	label {
		@extend %db-overwrite-font-size-xs;
		padding-block-end: variables.$db-spacing-fixed-xs;
		pointer-events: none;
		cursor: text;
		opacity: variables.$db-opacity-lg;

		transition: font-size variables.$db-transition-emotional-straight;
		max-inline-size: 25ch;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&[data-label-variant="hidden"] {
		label {
			@extend %a11y-visually-hidden;
			padding: 0;
		}
	}

	// Helper message
	& .db-infotext {
		margin-block-start: variables.$db-spacing-fixed-2xs;
	}

	// disabled
	&:has(#{$selector}:disabled) {
		// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
		opacity: variables.$db-opacity-sm;
		pointer-events: none;
	}

	// icons
	&::after,
	&::before {
		position: absolute;
		pointer-events: none;
		// 1px for border
		inset-block-start: calc(
			#{variables.$db-sizing-md} / 2 - #{variables.$db-spacing-fixed-xs} *
				var(--db-label-visible-spacing, 0) + #{$label-size-height-xs} * var(
					--db-label-visible-height,
					1
				) - 1px
		);
	}

	&::before {
		margin-inline-end: variables.$db-spacing-fixed-sm;
		inset-inline-start: variables.$db-spacing-fixed-sm;
	}

	&::after {
		margin-inline-start: variables.$db-spacing-fixed-sm;
		inset-inline-end: variables.$db-spacing-fixed-sm;
	}

	// colors
	@each $name in colors.$variant-colors {
		&[data-variant="#{$name}"] {
			@extend %db-bg-#{$name}-variables;
		}

		&[data-variant="#{$name}"] #{$selector},
		&[data-variant="#{$name}"] [id$="-placeholder"] {
			color: var(--db-#{$name}-on-bg);
		}
	}

	@if ($selector == input or $selector == select) {
		#{$selector} {
			block-size: variables.$db-sizing-md;
			text-overflow: ellipsis;
		}
	}
}

// CHECKBOX & RADIO

@mixin get-validity-color-check($key: "valid") {
	$variant: successful;

	@if ($key != "valid") {
		$variant: citical;
	}

	input {
		--db-current-bg-color: var(--db-#{$variant}-bg-weak);
		--db-current-bg-transparent-semi: var(
			--db-#{$variant}-bg-transparent-semi
		);
		--db-current-bg-transparent-hover: var(
			--db-#{$variant}-bg-transparent-hover
		);
		--db-current-bg-transparent-pressed: var(
			--db-#{$variant}-bg-transparent-pressed
		);
		border-color: var(--db-current-color);

		&:not(:checked),
		&:is([type="radio"]) {
			--db-current-color: var(--db-#{$variant}-contrast-high);
		}

		&:checked {
			--db-base-on-bg: #{colors.$db-successful-contrast-high};
			--db-base-on-bg-hover: #{colors.$db-successful-contrast-high-hover};
			--db-base-on-bg-pressed: #{colors.$db-successful-contrast-high-pressed};
		}
	}

	&:is(label),
	label {
		color: var(--db-#{$variant}-contrast-high);
	}
}

%check-element {
	@include set-required-label(input);

	@include get-validity() {
		@include get-validity-color-check("valid");
	}
	@include get-validity("invalid") {
		@include get-validity-color-check("invalid");
	}

	&:has(input:disabled) {
		opacity: variables.$db-opacity-md;
	}

	&:is(label),
	label {
		display: flex;
		align-items: center;
		position: relative;
	}

	input {
		background-color: colors.$db-current-bg-transparent-full;

		align-content: center;

		appearance: none;
		aspect-ratio: 1;

		margin-inline-end: variables.$db-spacing-fixed-xs;

		border: min(calc(#{$font-size-height} / 16 + 0.5px), 2px) solid
			currentColor;

		block-size: $font-size-height;
		justify-content: center;

		// TODO: probably extract this to an overwrite or external file
		// workarounds for power apps
		inline-size: auto;
		padding: 0;

		&:enabled {
			&:hover {
				background-color: colors.$db-current-bg-transparent-hover;
			}

			&:active {
				background-color: colors.$db-current-bg-transparent-pressed;
			}
		}
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-sm;

		input {
			margin-inline-end: variables.$db-spacing-fixed-2xs;
		}
	}

	&[data-label-variant="hidden"] {
		font-size: 0;

		input {
			margin-inline-end: 0;
		}
	}

	// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01s !important;
	}
}
