@use "sass:map";
@use "sass:string";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/fonts";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/helpers";
@use "component";

$dropdown-icon-transition: transform variables.$db-transition-straight-emotional;
$dropdown-icon-transform: rotate(-180deg);

$font-size-height: calc(var(--db-base-font-size) * var(--db-base-line-height));
$icon-size-sm: var(--db-base-body-icon-font-size-sm);
$label-size-height-sm: calc(
	var(--db-type-body-font-size-sm) * var(--db-type-body-line-height-sm)
);
$label-size-height-xs: calc(
	var(--db-type-body-font-size-xs) * var(--db-type-body-line-height-xs)
);
$label-size-height-2xs: calc(
	var(--db-type-body-font-size-2xs) * var(--db-type-body-line-height-2xs)
);

$floating-label-size: calc(
	#{variables.$db-spacing-fixed-3xs} + #{variables.$db-spacing-fixed-2xs} + #{$label-size-height-2xs}
);

$input-types: "button", "checkbox", "color", "date", "datetime-local", "email",
	"file", "hidden", "image", "month", "number", "password", "radio", "range",
	"reset", "search", "submit", "tel", "text", "time", "url", "week";

%dropdown-icon {
	@include icons.set-icon("expand_more", "after");

	&::after {
		transition: $dropdown-icon-transition;
		pointer-events: none;
	}
}

%helper-message {
	.db-infotext {
		margin-block-start: variables.$db-spacing-fixed-2xs;

		&:is([data-semantic], :empty) {
			display: none;
		}
	}
}

@mixin placeholder-content() {
	&::placeholder,
	& + [id$="-placeholder"] {
		@content;
	}
}

@mixin set-floating-label-overwrites($selector) {
	&[data-variant="floating"] {
		label {
			@extend %db-overwrite-font-size-md;
			opacity: component.$default-disabled;
			position: absolute;
			z-index: 2;
			inset-block-start: calc(
				(#{variables.$db-sizing-md} - #{$font-size-height}) / 2
			);
			inset-inline: var(
				--db-form-component-padding-inline-start,
				#{variables.$db-spacing-fixed-sm}
			);
		}

		// icons
		&::after,
		&::before {
			inset-block-start: calc(
				#{variables.$db-sizing-md} / 2 - #{$font-size-height} / 2
			);
		}

		[id$="-placeholder"] {
			@extend %db-overwrite-font-size-sm;
			inset-block-start: calc(
				50% - 0.5em + #{variables.$db-spacing-fixed-3xs}
			);
		}

		#{$selector} {
			@extend %db-overwrite-font-size-sm;
			@include placeholder-content() {
				transition: none;
				opacity: 0;
			}

			@if ($selector == textarea) {
				padding-block-start: $floating-label-size;
			} @else {
				// font-size label which is 2xs + smallest spacing
				padding-block-start: calc(
					var(--db-type-body-font-size-2xs) +
						#{variables.$db-spacing-fixed-3xs}
				);
			}
		}

		&:has(#{$selector}:focus-within),
		&:has(#{$selector}:is(input, textarea):not(:placeholder-shown)),
		&:has(> select option:checked:not([hidden])) {
			label {
				@extend %db-overwrite-font-size-2xs;
				inset-block-start: variables.$db-spacing-fixed-2xs;
				opacity: 1;
			}

			#{$selector} {
				@include placeholder-content() {
					transition: opacity
						variables.$db-transition-straight-emotional;
					opacity: component.$default-disabled;
				}
			}
		}
	}
}

@mixin get-validity-message($key: "valid") {
	.db-infotext {
		@if ($key == "valid") {
			&[data-semantic="successful"] {
				display: flex;
			}
		} @else {
			&[data-semantic="critical"] {
				display: flex;
			}
		}

		&:not([data-semantic]) {
			display: none;
		}
	}
}

@mixin get-validity-color($selector, $key: "valid") {
	$variant: "successful";

	@include get-validity-message($key);

	#{$selector},
	[id$="-placeholder"] {
		color: var(--db-#{$variant}-on-bg-enabled);
		caret-color: var(--db-#{$variant}-on-bg-enabled);
	}

	@if ($key != "valid") {
		$variant: "critical";
	}

	@if ($selector != textarea) {
		& {
			@extend %db-#{$variant}-variables;
		}
	} @else {
		// this is a workaround for the textarea scrollbar
		& {
			--db-textarea-read-only: var(--db-#{$variant}-bg-lvl-1-enabled);
			--db-current-color-bg-transparent-full-enabled: var(
				--db-#{$variant}-bg-transparent-full-enabled
			);
			--db-current-color-bg-transparent-semi-enabled: var(
				--db-#{$variant}-bg-transparent-semi-enabled
			);
			--db-current-color-bg-transparent-hover: var(
				--db-#{$variant}-bg-transparent-hover
			);
			--db-current-color-bg-transparent-pressed: var(
				--db-#{$variant}-bg-transparent-pressed
			);
			--db-current-color-enabled: var(--db-#{$variant}-on-bg-enabled);
			--db-current-color-border: var(--db-#{$variant}-border);
		}
	}
}

// This doesn't contain text, search and password, because they don't have an auto-validation
$input-valid-types: "color", "date", "datetime-local", "email", "file", "hidden",
	"month", "number", "range", "tel", "time", "url", "week";

@function get-validations($selector, $key) {
	$validations: ":required";

	@if ($selector == input) {
		// https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation#using_built-in_form_validation
		$validations: ":required, [minlength], [maxlength], [pattern]";
		@each $type in $input-valid-types {
			$validations: $validations + ", [type=#{$type}]";
		}
	} @else if($selector == textarea) {
		$validations: ":required, [minlength], [maxlength]";
	}

	$has-selectors: "&:has(#{$selector}:not([data-custom-validity]):is(#{$validations}):user-#{$key}),";

	@return string.unquote(string.slice($has-selectors, 1, -2));
}

@mixin get-validity($selector, $key: "valid") {
	@if ($key == "valid") {
		$boolean: "false";
	}

	$user: "";
	@if ($selector == check) {
		$user: "user-";
	}

	@if ($selector == check or $selector == radio) {
		$selector: input;

		&:has(
				#{$selector}:not(
						[data-custom-validity]
					):required:#{$user}#{$key}
			) {
			@content;
		}
	} @else {
		#{get-validations($selector,$key)} {
			@content;
		}
	}

	// If data-custom-validity is set we overwrite the selectors above
	&:has(#{$selector}[data-custom-validity="#{$key}"]) {
		@content;
	}
}

@mixin set-required-label($selector) {
	&:has(#{$selector}:required) {
		&:is(label),
		label {
			&::after {
				content: "*";
				padding-inline-start: variables.$db-spacing-fixed-2xs;
			}
		}
	}
}

@mixin set-default-form-component($selector) {
	--db-form-has-before: 0;
	--db-current-icon-color: #{colors.$db-current-color-enabled};
	@extend %db-overwrite-font-size-sm;
	@extend %helper-message;

	@include set-floating-label-overwrites($selector);
	@include set-required-label($selector);

	// we use absolute icons
	position: relative;
	display: flex;
	flex-direction: column;
	@include get-validity($selector) {
		@include get-validity-color($selector, "valid");
	}
	@include get-validity($selector, "invalid") {
		@include get-validity-color($selector, "invalid");
	}

	#{$selector} {
		@extend %db-overwrite-font-size-md;
		@extend %default-interactive-component;
		@extend %component-border;

		background-color: colors.$db-current-color-bg-transparent-semi-enabled;
		caret-color: colors.$db-current-color-enabled;

		appearance: none;
		max-inline-size: 100%;
		inline-size: 100%;
		padding-inline: var(
				--db-form-component-padding-inline-start,
				#{variables.$db-spacing-fixed-sm}
			)
			var(
				--db-form-component-padding-inline-end,
				#{variables.$db-spacing-fixed-sm}
			);

		@include placeholder-content() {
			opacity: component.$default-disabled;
		}

		@include helpers.hover {
			background-color: colors.$db-current-color-bg-transparent-hover;
		}

		&:is(input, textarea):not(:disabled):read-only {
			background-color: var(
				--db-textarea-read-only,
				#{colors.$db-current-color-bg-lvl-1-enabled}
			) !important;
		}
	}

	// label
	label {
		@extend %db-overwrite-font-size-xs;
		padding-block-end: variables.$db-spacing-fixed-xs;
		pointer-events: none;
		cursor: text;

		transition: font-size variables.$db-transition-straight-emotional;
		max-inline-size: 25ch;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&[data-variant="hidden"] {
		label {
			@extend %a11y-visually-hidden;
			padding: 0;
		}
	}

	// disabled
	&:has(#{$selector}:disabled) {
		// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
		opacity: component.$default-disabled;
		pointer-events: none;
	}

	// icons
	&::after,
	&::before {
		position: absolute;
		pointer-events: none;
		// 1px for border
		inset-block-start: calc(
			#{variables.$db-sizing-md} / 2 - #{variables.$db-spacing-fixed-xs} *
				var(--db-label-visible-spacing, 0) + #{$label-size-height-xs} * var(
					--db-label-visible-height,
					1
				) - 1px
		);
	}

	&::before {
		margin-inline-end: variables.$db-spacing-fixed-sm;
		inset-inline-start: variables.$db-spacing-fixed-sm;
	}

	&::after {
		margin-inline-start: variables.$db-spacing-fixed-sm;
		inset-inline-end: variables.$db-spacing-fixed-sm;
	}

	@if ($selector == input or $selector == select) {
		#{$selector} {
			block-size: variables.$db-sizing-md;
			text-overflow: ellipsis;
		}
	}
}

// CHECKBOX & RADIO

@mixin get-validity-color-check($key: "valid") {
	$variant: successful;

	@if ($key != "valid") {
		$variant: critical;
	}

	@include get-validity-message($key);

	input {
		--db-current-color-bg-transparent-semi: var(
			--db-#{$variant}-bg-transparent-semi-enabled
		);
		--db-current-color-bg-transparent-hover: var(
			--db-#{$variant}-bg-transparent-hover
		);
		--db-current-color-bg-transparent-pressed: var(
			--db-#{$variant}-bg-transparent-pressed
		);
		border-color: colors.$db-current-color-enabled;

		&:not(:checked),
		&:is([type="radio"]) {
			--db-current-color-enabled: var(
				--db-#{$variant}-contrast-high-enabled
			);
		}

		&:checked {
			--db-current-color-enabled: #{colors.$db-successful-contrast-high-enabled};
			--db-current-color-hover: #{colors.$db-successful-contrast-high-hover};
			--db-current-color-pressed: #{colors.$db-successful-contrast-high-pressed};
		}
	}

	&:is(label),
	label {
		color: var(--db-#{$variant}-contrast-high-enabled);
	}
}

@mixin set-default-check-element($selector) {
	@include set-required-label(input);

	@include get-validity($selector) {
		@include get-validity-color-check("valid");
	}
	@include get-validity($selector, "invalid") {
		@include get-validity-color-check("invalid");
	}

	&:has(input:disabled) {
		opacity: component.$default-disabled;
	}

	&:is(label),
	label {
		display: flex;
		align-items: center;
		position: relative;

		gap: variables.$db-spacing-fixed-xs;

		&:not(:has(input:disabled)) {
			@include helpers.hover;
			@include helpers.active;
		}
	}

	input {
		background-color: colors.$db-current-color-bg-transparent-full-enabled;

		align-content: center;

		appearance: none;
		aspect-ratio: 1;

		border: min(#{variables.$db-border-height-2xs}, 2px) solid
			var(--db-check-element-border-color, currentColor);

		block-size: $font-size-height;
		justify-content: center;

		// TODO: probably extract this to an overwrite or external file
		// workarounds for power apps
		inline-size: auto;
		padding: 0;

		@include helpers.hover {
			background-color: colors.$db-current-color-bg-transparent-hover;
		}

		@include helpers.active {
			background-color: colors.$db-current-color-bg-transparent-pressed;
		}
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-sm;

		input {
			margin-inline-end: variables.$db-spacing-fixed-2xs;
		}
	}

	&[data-variant="hidden"] {
		font-size: 0;

		input {
			margin-inline-end: 0;
		}
	}

	// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01s !important;
	}
}
