@use "@db-ui/foundations/build/scss/variables";

$list-padding-block: variables.$db-spacing-fixed-md;
$list-padding-inline: variables.$db-spacing-fixed-sm;
$list-item-padding-block: variables.$db-spacing-fixed-xs;
$list-item-padding-inline: variables.$db-spacing-fixed-xs;

// TODO: What shall we do with this??
$min-size: 270px;
