@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/animation";
@use "component";

$popover-gap-size: var(--db-popover-distance);
$popover-inset: calc(100% + #{$popover-gap-size} * var(--db-popover-gap, 0));
$popover-gap-inset: calc(-1 * #{$popover-gap-size});

// use this for popover but not for tooltip
%popover-center {
	&:not([data-placement]),
	&[data-placement="bottom"]:not([data-outside-vy]),
	&[data-placement="top"]:not([data-outside-vy]),
	&[data-outside-vy="bottom"]:not([data-outside-vx]):not(
			[data-placement$="end"]
		):not([data-placement$="start"]),
	&[data-outside-vy="top"]:not([data-outside-vx]):not(
			[data-placement$="end"]
		):not([data-placement$="start"]) {
		--db-popover-center-x: -50%;
		inset-inline-start: 50%;
	}

	&[data-placement="left"]:not([data-outside-vx]),
	&[data-placement="right"]:not([data-outside-vx]),
	&[data-outside-vx="left"]:not([data-placement$="end"]):not(
			[data-placement$="start"]
		),
	&[data-outside-vx="right"]:not([data-placement$="end"]):not(
			[data-placement$="start"]
		) {
		--db-popover-center-y: -50%;
		inset-block-start: 50%;
	}
}

%popover-placement {
	--db-popover-distance: #{variables.$db-spacing-fixed-2xs};

	// This pseudo-content is used to bridge the visible vertical offset in between the element that it triggering the tooltip and the tooltip itself
	&::before {
		content: "";
		position: absolute;
	}

	&[data-gap="true"] {
		--db-popover-gap: 1;
		--db-popover-distance: #{variables.$db-spacing-fixed-md};
	}

	&:is(.db-tooltip) {
		--db-popover-distance: #{variables.$db-spacing-fixed-xs};
	}

	&[data-placement^="bottom"]:not([data-outside-vy]),
	&[data-placement^="top"]:not([data-outside-vy]),
	&[data-outside-vy="bottom"]:not([data-outside-vx]),
	&[data-outside-vy="top"]:not([data-outside-vx]) {
		&[data-placement$="end"] {
			inset-inline-end: 0;
		}

		&[data-placement$="start"] {
			inset-inline-start: 0;
		}
	}

	&[data-placement^="left"]:not([data-outside-vx]),
	&[data-placement^="right"]:not([data-outside-vx]),
	&[data-outside-vx="left"],
	&[data-outside-vx="right"] {
		&[data-placement$="end"] {
			inset-block-end: 0;
		}

		&[data-placement$="start"] {
			inset-block-start: 0;
		}
	}

	&:not([data-placement]):not([data-outside-vy]),
	&[data-placement^="bottom"]:not([data-outside-vy]),
	&[data-outside-vy="top"]:not([data-outside-vx]) {
		inset-block-start: $popover-inset;

		&::before {
			inset-inline-start: 0;
			inline-size: 100%;
			block-size: $popover-gap-size;
			inset-block-start: $popover-gap-inset;
		}
	}

	&[data-placement^="top"]:not([data-outside-vy]),
	&[data-outside-vy="bottom"]:not([data-outside-vx]) {
		inset-block-end: $popover-inset;

		&::before {
			inset-inline-end: 0;
			inline-size: 100%;
			block-size: $popover-gap-size;
			inset-block-end: $popover-gap-inset;
		}
	}

	&[data-placement^="left"]:not([data-outside-vx]),
	&[data-outside-vx="right"] {
		inset-inline-end: $popover-inset;

		&::before {
			inset-block-end: 0;
			block-size: 100%;
			inline-size: $popover-gap-size;
			inset-inline-end: $popover-gap-inset;
		}
	}

	&[data-placement^="right"]:not([data-outside-vx]),
	&[data-outside-vx="left"] {
		inset-inline-start: $popover-inset;

		&::before {
			inset-block-start: 0;
			block-size: 100%;
			inline-size: $popover-gap-size;
			inset-inline-start: $popover-gap-inset;
		}
	}
}

@mixin get-popover-show() {
	&[data-animation="disabled"] {
		opacity: 1;
	}

	&:not([data-animation="disabled"]) {
		animation: popover-animation variables.$db-transition-emotional-straight
			normal both;

		&[data-delay="slow"] {
			animation-delay: variables.$db-transition-duration-fast;
		}

		&[data-delay="fast"] {
			animation-delay: calc(
				#{variables.$db-transition-duration-fast} / 2
			);
		}
	}
}

%show-popover {
	visibility: visible;

	&:not([data-placement]):not([data-outside-vy]),
	&[data-placement^="bottom"]:not([data-outside-vy]),
	&[data-outside-vy="top"]:not([data-outside-vx]) {
		--db-popover-translate-y: -25%;
		@include get-popover-show();
	}

	&[data-placement^="top"]:not([data-outside-vy]),
	&[data-outside-vy="bottom"]:not([data-outside-vx]) {
		--db-popover-translate-y: 25%;
		@include get-popover-show();
	}

	&[data-placement^="right"]:not([data-outside-vx]),
	&[data-outside-vx="left"] {
		--db-popover-translate-x: -25%;
		@include get-popover-show();
	}

	&[data-placement^="left"]:not([data-outside-vx]),
	&[data-outside-vx="right"] {
		--db-popover-translate-x: 25%;
		@include get-popover-show();
	}
}

%default-popover {
	@extend %default-card;
	@extend %popover-placement;

	@extend %component-border;

	position: absolute;
	background-color: colors.$db-base-bg;
	visibility: hidden;
	z-index: 1;
	white-space: nowrap;

	&[data-width="fixed"] {
		inline-size: max-content;
		max-inline-size: variables.$db-sizing-3xl;
		// revert this if popover is included in button
		white-space: normal;
		text-align: initial;
	}
}
