@use "@db-ui/foundations/build/scss/fonts";
@use "@db-ui/foundations/build/scss/variables";
@use "./form-components";

%select-icon {
	@extend %dropdown-icon;

	&[data-icon] {
		--db-form-has-before: 1;
	}
}

$has-before-padding: calc(
	var(--db-form-has-before) *
		(#{form-components.$icon-size-sm} + #{variables.$db-spacing-fixed-sm})
);

%select-placeholder {
	[id$="-placeholder"] {
		@extend %db-overwrite-font-size-md;

		position: absolute;
		pointer-events: none;
		// we use the top of the element, the size of the label+label-margin-bottom and the font-size of the select/2
		// for functional we have some rounding issues for rem, so we need 1px less
		inset-block-start: calc(
			0% +
				(
					#{form-components.$label-size-height-xs} + #{variables.$db-spacing-fixed-xs}
				) * var(--db-label-visible-height, 1) + var(--db-base-font-size) /
				2 - var(--db-density-functional, 0) * 1px
		);
		inset-inline: $has-before-padding;
		margin-inline-start: variables.$db-spacing-fixed-sm;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		inline-size: calc(
			100% - var(--db-form-component-padding-inline-end) - #{$has-before-padding} -
				#{variables.$db-spacing-fixed-sm}
		);
	}
}
