@use "sass:map";
@use "component";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/helpers";

$interactive-selectors: "label, button:not(.db-tab-remove-button), a";

%set-adaptive-strong-tag {
	--db-current-color-border: #{colors.$db-current-color-contrast-high-enabled};

	@include colors.set-current-colors(
		colors.$db-current-color-contrast-high-enabled,
		colors.$db-current-color-on-contrast-enabled
	);
}

@mixin get-tag-colors() {
	background-color: colors.$db-current-color-bg-lvl-1-enabled;

	&[data-emphasis="strong"] {
		@extend %set-adaptive-strong-tag;
	}

	@each $name in colors.$variant-colors {
		&[data-semantic="#{$name}"] {
			@extend %db-#{$name}-bg-lvl-1;

			&[data-emphasis="strong"] {
				@extend %db-#{$name}-contrast-high;
			}
		}
	}
}

// get button and link tags
@mixin get-interactive-selectors() {
	&:not(:has(dbbutton)) button:not(.db-tab-remove-button),
	dbbutton:not(.db-tab-remove-button) > button,
	db-button > button,
	a {
		@content;
	}
}

%set-interactive-weak {
	background-color: colors.$db-current-color-bg-lvl-1-enabled;

	@include helpers.hover {
		background-color: colors.$db-current-color-bg-lvl-1-hover;
	}

	@include helpers.active {
		background-color: colors.$db-current-color-bg-lvl-1-pressed;
	}
}

%set-interactive-strong {
	@extend %set-adaptive-strong-tag;

	@include helpers.hover {
		background-color: colors.$db-current-color-contrast-high-hover;
	}

	@include helpers.active {
		background-color: colors.$db-current-color-contrast-high-pressed;
	}
}

@mixin revert-db-components() {
	input:checked {
		background-color: transparent;

		@include helpers.hover {
			background-color: transparent;
		}

		@include helpers.active {
			background-color: transparent;
		}
	}

	a {
		color: currentcolor;

		@include helpers.hover {
			color: currentcolor;
		}

		@include helpers.active {
			color: currentcolor;
		}
	}
}

@mixin get-tag-colors-interactive() {
	@include revert-db-components;

	// overwrite current variables for semantic color
	@each $name in colors.$variant-colors {
		&[data-semantic="#{$name}"] {
			@extend %db-#{$name}-variables;
		}
	}

	label:has(input) {
		@extend %set-interactive-weak;
	}

	&:not([data-emphasis]),
	&[data-emphasis="weak"] {
		// buttons and links should have bg-lvl-2
		@include get-interactive-selectors() {
			@extend %set-interactive-weak;
		}

		// checkbox should have bg-lvl-3 (checked)
		label:has(input[type="checkbox"]:checked) {
			background-color: colors.$db-current-color-bg-lvl-3-enabled;

			@include helpers.hover {
				background-color: colors.$db-current-color-bg-lvl-3-hover;
			}

			@include helpers.active {
				background-color: colors.$db-current-color-bg-lvl-3-pressed;
			}
		}

		// radio should have bg-lvl-3 (checked) without hover/pressed
		label:has(input[type="radio"]:checked) {
			&,
			&:hover,
			&:focus,
			&:active {
				background-color: colors.$db-current-color-bg-lvl-3-enabled;
			}
		}
	}

	&[data-emphasis="strong"] {
		@include get-interactive-selectors() {
			@extend %set-interactive-strong;
		}

		label:has(input[type="radio"]:checked) {
			@extend %set-adaptive-strong-tag;

			/* Revert this for checked radio button (it's not clickable again) */
			@include helpers.hover {
				background-color: colors.$db-current-color-contrast-high-enabled;
			}

			@include helpers.active {
				cursor: default;
				background-color: colors.$db-current-color-contrast-high-enabled;
			}
		}

		label:has(input[type="checkbox"]:checked) {
			@extend %set-interactive-strong;
		}

		&:has(a),
		&:has(input:checked) {
			@extend %set-adaptive-strong-tag;
		}
	}
}
