@forward "@db-ui/foundations/build/scss/db-ui-foundations";
@forward "../components/button/button";
@forward "../components/icon/icon";
@forward "../components/tab-item/tab-item";
@forward "../components/divider/divider";
@forward "../components/card/card";
@forward "../components/input/input";
@forward "../components/brand/brand";
@forward "../components/header/header";
@forward "../components/page/page";
@forward "../components/link/link";
@forward "../components/section/section";
@forward "../components/infotext/infotext";
@forward "../components/notification/notification";
@forward "../components/checkbox/checkbox";
@forward "../components/radio/radio";
@forward "../components/tag/tag";
@forward "../components/drawer/drawer";
@forward "../components/select/select";
@forward "../components/navigation-item/navigation-item";
@forward "../components/textarea/textarea";
@forward "../components/badge/badge";
@forward "../components/accordion/accordion";
@forward "../components/accordion-item/accordion-item";
@forward "../components/navigation/navigation";
@forward "../components/popover/popover";
@forward "../components/tooltip/tooltip";
@forward "dialog-init";
@forward "../components/tab-item/tab-item";
@forward "../components/tab-list/tab-list";
@forward "../components/tabs/tabs";
@forward "../components/tab-panel/tab-panel";
@forward "../components/switch/switch";

// angular-workaround
dbswitch,
db-switch,
dbtab-panel,
db-tab-panel,
dbtabs,
db-tabs,
dbtab-list,
db-tab-list,
dbtabitem,
db-tab-item,
dbtab-bar,
db-tab-bar,
dbtooltip,
db-tooltip,
dbpopover,
db-popover,
dbtextarea,
db-textarea,
dbnavigation,
db-navigation,
dbaccordion-item,
db-accordion-item,
dbaccordion,
db-accordion,
dbbadge,
db-badge,
dbnavigation-item,
db-navigation-item,
dbtag,
db-tag,
dbradio,
db-radio,
dbselect,
db-select,
dbnotification,
db-notification,
dbcodedocs,
db-codedocs,
dbbrand,
db-brand,
dbbutton,
db-button,
dbcard,
db-card,
dbcheckbox,
db-checkbox,
dbdivider,
db-divider,
dbdrawer,
db-drawer,
dbheader,
db-header,
dbicon,
db-icon,
dbinfotext,
db-infotext,
dbinput,
db-input,
dblink,
db-link,
dbpage,
db-page,
dbsection,
db-section,
dbtab,
db-tab,
dbtabbar,
db-tabbar {
	display: contents;
}

db-notification,
dbnotification {
	inline-size: inherit;
}

:has(> .db-badge[data-placement^="corner"]) {
	position: relative;
}

@mixin show-popover($state) {
	:has(
			> :is(db-tooltip, dbtooltip) > .db-tooltip:not([data-open]),
			> .db-tooltip:not([data-open])
		) {
		&:#{$state} {
			.db-tooltip:first-of-type {
				@extend %show-popover;
			}
		}
	}
}

:has(> db-tooltip, > dbtooltip, > .db-tooltip) {
	position: relative;
}

$popover-states: "hover", "focus";
@each $state in $popover-states {
	@include show-popover($state);
}
