@forward "@db-ui/foundations/build/scss/db-ui-foundations";
@forward "../components/button/button";
@forward "../components/icon/icon";
@forward "../components/tab/tab";
@forward "../components/tab-bar/tab-bar";
@forward "../components/divider/divider";
@forward "../components/card/card";
@forward "../components/input/input";
@forward "../components/brand/brand";
@forward "../components/header/header";
@forward "../components/page/page";
@forward "../components/link/link";
@forward "../components/section/section";
@forward "../components/infotext/infotext";
@forward "../components/alert/alert";
@forward "../components/checkbox/checkbox";
@forward "../components/radio/radio";
@forward "../components/code-docs/code-docs";
@forward "../components/tag/tag";
@forward "../components/drawer/drawer";
@forward "../components/select/select";
@forward "../components/navigation-item/navigation-item";
@forward "../components/textarea/textarea";
@forward "../components/badge/badge";

@forward "../components/accordion/accordion";

@forward "../components/accordion-item/accordion-item";
@forward "../components/main-navigation/main-navigation";

@forward "../components/popover/popover";
@forward "../components/tooltip/tooltip";
@forward "dialog-init";

// angular-workaround
dbtooltip,
db-tooltip,
dbpopover,
db-popover,
dbtextarea,
db-textarea,
dbmain-navigation,
db-main-navigation,
dbaccordion-item,
db-accordion-item,
dbaccordion,
db-accordion,
dbbadge,
db-badge,
dbnavigation-item,
db-navigation-item,
dbtag,
db-tag,
dbradio,
db-radio,
dbselect,
db-select,
dbalert,
db-alert,
dbcodedocs,
db-codedocs,
dbbrand,
db-brand,
dbbutton,
db-button,
dbcard,
db-card,
dbcheckbox,
db-checkbox,
dbdivider,
db-divider,
dbdrawer,
db-drawer,
dbheader,
db-header,
dbicon,
db-icon,
dbinfotext,
db-infotext,
dbinput,
db-input,
dblink,
db-link,
dbpage,
db-page,
dbsection,
db-section,
dbtab,
db-tab,
dbtabbar,
db-tabbar {
	display: contents;
}

db-alert,
dbalert {
	inline-size: inherit;
}

// for db-badge

:has(.db-badge[data-placement^="corner"]) {
	position: relative;
}

$popover-components: "popover", "tooltip";
$popover-states: "hover", "focus";

@mixin show-popover($component, $state) {
	:has(> db-#{$component} > .db-#{$component}:not([data-open])):#{$state},
	:has(> db#{$component} > .db-#{$component}:not([data-open])):#{$state},
	:has(> .db-#{$component}:not([data-open])):#{$state} {
		/* TODO: We need to disable hover and active effects if popover is visible */
		.db-#{$component}:first-of-type {
			@extend %show-popover;
		}
	}
}

@each $component in $popover-components {
	:has(> db-#{$component}),
	:has(> db#{$component}),
	:has(> .db-#{$component}) {
		position: relative;
	}

	@each $state in $popover-states {
		@include show-popover($component, $state);
	}
}
