@use "@db-ui/foundations/build/scss/colors";

$backdrop-color: #{colors.$db-current-color-on-bg-enabled};

$backdrop-opacity-strong: 0.64;
$backdrop-opacity-weak: 0.32;

%dialog-container {
	position: fixed;
	inset: 0;
	z-index: 9995;
}

dialog {
	padding: 0;
	margin: 0;
	border: 0;
	z-index: 9996;
	color: inherit;

	&[data-backdrop] {
		@extend %dialog-container;
	}

	&:not([data-backdrop="none"]) {
		&::backdrop {
			background-color: $backdrop-color;
			opacity: $backdrop-opacity-strong;
		}

		&[data-backdrop="invisible"] {
			&::backdrop {
				opacity: 0;
			}
		}

		&[data-backdrop="weak"] {
			&::backdrop {
				opacity: $backdrop-opacity-weak;
			}
		}
	}
}
