**/build
**/public
**/out
**/helpers
**/dist
/packages/components/**
!/packages/components/scripts
/showcases/patternhub/pages/components/**
/showcases/nuxt-showcase/**
build-outputs/
build-showcases/
