.DS_Store
node_modules
npm-debug.log
.history
.idea
**/build/
build-old/
public/
out/
dependencyGraph.json
source/_meta/_head.mustache
source/_meta/_foot.mustache

tailwind.config.js
.env
**/*/.env

**/output/

# vim files
*.swp
*.swo
tags
ctags.tmp
[._]*.un~

packages/components/src/**/*.css
packages/components/src/**/*.css.map

