.db-infotext, .db-infotext .db-icon {
  --db-base-icon-font-size: var(--db-base-icon-font-size-sm);
  --db-base-icon-font-family: var(--db-base-icon-font-family-sm);
  /* prettier-ignore */
  --db-base-icon-font-family-filled: var(--db-base-icon-font-family-filled-sm);
  --db-base-line-height: var(--db-type-body-line-height-sm);
  --db-base-font-size: var(--db-type-body-font-size-sm);
  line-height: var(--db-type-body-line-height-sm);
  font-size: var(--db-type-body-font-size-sm);
}

.db-infotext[data-size=small], .db-infotext[data-size=small] .db-icon {
  --db-base-icon-font-size: var(--db-base-icon-font-size-xs);
  --db-base-icon-font-family: var(--db-base-icon-font-family-xs);
  /* prettier-ignore */
  --db-base-icon-font-family-filled: var(--db-base-icon-font-family-filled-xs);
  --db-base-line-height: var(--db-type-body-line-height-xs);
  --db-base-font-size: var(--db-type-body-font-size-xs);
  line-height: var(--db-type-body-line-height-xs);
  font-size: var(--db-type-body-font-size-xs);
}

.db-infotext {
  display: flex;
}
.db-infotext .db-icon {
  margin-inline-end: var(--db-spacing-fixed-2xs);
}
.db-infotext .db-icon::before {
  --icon-font-family: var(--db-base-icon-font-family-filled);
  --icon-font-size: var(--db-base-icon-font-size);
}
.db-infotext[data-variant=critical] {
  color: var(--db-colors-critical-enabled, #ec0016);
}
.db-infotext[data-variant=critical] .db-icon {
  color: var(--db-colors-critical-element-enabled, #ec0016);
}
.db-infotext[data-variant=informational] {
  color: var(--db-colors-informational-enabled, #0087b9);
}
.db-infotext[data-variant=informational] .db-icon {
  color: var(--db-colors-informational-element-enabled, #309fd1);
}
.db-infotext[data-variant=warning] {
  color: var(--db-colors-warning-enabled, #ac6600);
}
.db-infotext[data-variant=warning] .db-icon {
  color: var(--db-colors-warning-element-enabled, #d68000);
}
.db-infotext[data-variant=successful] {
  color: var(--db-colors-successful-enabled, #4c8500);
}
.db-infotext[data-variant=successful] .db-icon {
  color: var(--db-colors-successful-element-enabled, #63a615);
}
