@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;

.db-section {
	padding-inline: $db-spacing-fixed-md;

	@include screen("m") {
		padding-inline: $db-spacing-fixed-md;
	}

	&[data-variant="full"] {
		padding-inline: 0;
	}

	&[data-size="none"] {
		padding-block: 0;
	}

	&[data-size="small"] {
		padding-block: $db-spacing-responsive-sm;
	}

	&[data-size="medium"] {
		padding-block: $db-spacing-responsive-md;
	}

	&[data-size="large"] {
		padding-block: $db-spacing-responsive-lg;
	}

	& > div {
		margin: 0 auto;

		&[data-variant="full"] {
			max-inline-size: none;
		}

		&[data-variant="medium"] {
			max-inline-size: $db-screens-m;
		}

		&[data-variant="large"] {
			max-inline-size: $db-screens-l;
		}
	}
}
