@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "@db-ui/foundations/build/scss/helpers/component";

.db-section {
	padding-inline: variables.$db-spacing-fixed-md;

	@include component.screen("md") {
		padding-inline: variables.$db-spacing-fixed-md;
	}

	&[data-variant="full"] {
		padding-inline: 0;
	}

	&[data-size="none"] {
		padding-block: 0;
	}

	&[data-size="small"] {
		padding-block: variables.$db-spacing-responsive-sm;
	}

	&[data-size="medium"] {
		padding-block: variables.$db-spacing-responsive-md;
	}

	&[data-size="large"] {
		padding-block: variables.$db-spacing-responsive-lg;
	}

	& > div {
		margin: 0 auto;

		&[data-variant="full"] {
			max-inline-size: none;
		}

		&[data-variant="medium"] {
			max-inline-size: screen-sizes.$db-screen-md;
		}

		&[data-variant="large"] {
			max-inline-size: screen-sizes.$db-screen-lg;
		}
	}
}
