@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "../../styles/component";

.db-section {
	padding-inline: variables.$db-spacing-fixed-md;

	&[data-width="full"] {
		padding-inline: 0;
	}

	@include component.get-data-spacing(
		"padding-block",
		component.$responsive-spacings
	);

	> div {
		margin: 0 auto;

		&[data-width="full"] {
			max-inline-size: none;
		}

		&[data-width="medium"] {
			max-inline-size: screen-sizes.$db-breakpoint-md;
		}

		&[data-width="large"] {
			max-inline-size: screen-sizes.$db-breakpoint-lg;
		}
	}
}
