@use "sass:map";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/color-placeholder";
@use "@db-ui/foundations/build/scss/helpers/component";
@use "@db-ui/foundations/build/scss/color/color-variants";
@use "@db-ui/foundations/build/scss/icon/icon-helpers";
@use "@db-ui/foundations/build/scss/helpers/font";
@use "../../styles/form-components";

%select-icon {
	@extend %dropdown-icon;

	&::after {
		inset-inline-end: variables.$db-spacing-fixed-sm;
	}

	&:has(select:focus-within) {
		&::after {
			transform: form-components.$dropdown-icon-transform;
		}
	}
}

%select-label {
	@extend %db-overwrite-font-size-md;
	inset-block-start: calc(
		(
				#{variables.$db-sizing-md} - var(--db-base-font-size) * var(--db-base-line-height)
			) / 2
	);
}

.db-select {
	--db-has-before: 0;
	--db-has-status: 0;
	@extend %db-overwrite-font-size-sm;
	@extend %select-icon;
	@extend %default-form-message;
	@extend %disabled-form-element;
	@extend %required-form-element;

	@include form-components.get-input-color-variants();

	position: relative;
	min-inline-size: calc(
		var(--db-select-min-width, calc(3 * #{variables.$db-sizing-md})) +
			var(--db-has-before) * #{variables.$db-sizing-md}
	);

	&[data-icon] {
		--db-has-before: 1;
	}

	&[data-variant="adaptive"],
	&:not([data-variant]) {
		select {
			@include color-variants.get-variant-bg-color(0.08);
		}
	}

	select {
		@extend %default-interactive-component;
		@extend %component-border;

		@include color-variants.bg-transparent-hover();

		border-radius: component.$default-border-radius;

		appearance: none;
		background-color: transparent;
		block-size: variables.$db-sizing-md;
		text-overflow: ellipsis;
		text-indent: calc(
			var(--db-has-before) *
				(#{variables.$db-sizing-md} - #{variables.$db-spacing-fixed-sm})
		);
		inline-size: 100%;
		padding-block-start: variables.$db-spacing-fixed-sm;
		padding-inline-start: variables.$db-spacing-fixed-sm;
		padding-inline-end: variables.$db-sizing-md;

		&:not([data-value]) {
			& ~ label {
				@extend %select-label;
			}
		}
	}

	&::after,
	&::before,
	label {
		position: absolute;
		pointer-events: none;
	}

	&:has(select:disabled) {
		// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
		opacity: 0.25;
		pointer-events: none;
	}

	label {
		@extend %db-overwrite-font-size-2xs;
		inset-block-start: variables.$db-spacing-fixed-2xs;
		transition:
			left,
			top,
			font-size 0.2s variables.$db-transition-functional-timing;
		inset-inline-start: calc(
			var(--db-has-before) *
				(#{variables.$db-sizing-md} - #{variables.$db-spacing-fixed-sm}) +
				#{variables.$db-spacing-fixed-sm}
		);
	}

	&::after,
	&::before {
		inset-block-start: calc(
			var(--db-base-font-size) * var(--db-base-line-height) / 2
		);
	}

	&::before {
		inset-inline-start: variables.$db-spacing-fixed-sm;
	}

	// Most likely this wouldn't work on MacOS, but we're still progressively enhancing Windows by this
	option {
		background-color: var(--db-current-bg-color);
	}
}
