@use "sass:map";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/fonts";
@use "../../styles/form-components";
@use "../../styles/component";
@use "../../styles/select-components";

.db-select {
	--db-form-component-padding-inline-end: #{select-components.$select-icon-padding};
	// shared from form-components
	@extend %select-icon;
	@extend %select-placeholder;

	@include form-components.set-default-form-component(select);

	min-inline-size: calc(
		4 * #{variables.$db-sizing-md} + var(--db-form-has-before) * #{variables.$db-sizing-md}
	);

	select {
		text-indent: select-components.$has-before-padding;
	}

	// Most likely this wouldn't work on MacOS, but we're still progressively enhancing Windows by this
	option {
		background-color: colors.$db-adaptive-bg-basic-level-1-default;
		color: colors.$db-adaptive-on-bg-basic-emphasis-100-default;
	}

	&[data-variant="hidden"] {
		--db-label-visible-height: 0;
		--db-label-visible-spacing: 1;
	}

	&:has(> select option:checked:not([hidden])) {
		[id$="-placeholder"] {
			display: none;
		}
	}
}
