@use "sass:map";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/helpers/component";
@use "@db-ui/foundations/build/scss/helpers/font";
@use "@db-ui/foundations/build/scss/icon/icon-helpers";
@use "@db-ui/foundations/build/scss/helpers/functions";
@use "@db-ui/foundations/build/scss/color/color-variants";
@use "../../styles/button-components";
@use "../../styles/tag-components";
@use "../../styles/icon-passing";

%no-text {
	&[data-no-text="true"] {
		--icon-margin-after: 0;
		@include icon-helpers.is-icon-text-replace();
		padding: 0;

		label,
		span {
			@include icon-helpers.is-icon-text-replace();
		}
	}

	&:not([data-no-text="true"]) {
		padding-inline: variables.$db-spacing-fixed-2xs;

		&:has(.db-tab-remove-button) {
			padding-inline-start: variables.$db-spacing-fixed-2xs;
			padding-inline-end: 0;
		}

		&:has(dbbutton):has(dbbutton:not(.db-tab-remove-button)),
		&:has(db-button):has(db-button:not(.db-tab-remove-button)),
		&:not(:has(dbbutton)):has(button:not(.db-tab-remove-button)),
		&:has(a) {
			padding-inline: 0;
		}
	}
}

%db-tag {
	--db-icon-margin-end: #{variables.$db-spacing-fixed-2xs};
	@extend %default-interactive-component;
	@extend %db-overwrite-font-size-sm;
	@extend %default-button;
	@extend %no-text;

	padding-block: 0;
	block-size: variables.$db-sizing-sm;
	min-inline-size: variables.$db-sizing-sm;
	inline-size: fit-content;
	position: relative;

	&:not([data-emphasis="strong"]) {
		@extend %component-border;
	}

	&:has(input) {
		@extend %component-border;
	}

	&:not(:has(#{tag-components.$interactive-selectors})) {
		@include tag-components.get-tag-colors();
	}

	&:has(#{tag-components.$interactive-selectors}) {
		@include icon-passing.icon-passing(variables.$db-spacing-fixed-2xs);
		@include tag-components.get-tag-colors-interactive();
	}

	button:nth-of-type(2),
	dbbutton:nth-of-type(2),
	&:has(db-button):has(dbbutton) .db-tab-remove-button {
		display: none;
	}
}

.db-tag {
	@extend %db-tag;
	position: relative;

	input {
		appearance: none;
		border: none;
		inline-size: 100%;
		block-size: 100%;
		border-radius: component.$default-border-radius;
		position: absolute;

		&:checked {
			&[type="checkbox"] {
				// overwrite for checkbox
				@include color-variants.bg-transparent-interactive();
				color: var(--db-current-color);
			}

			&::before {
				content: none;
			}
		}
	}

	label,
	span {
		@extend %db-overwrite-font-size-sm;
		margin-inline-start: 0;
	}

	button,
	a {
		@extend %db-overwrite-font-size-sm;
		border: transparent;
		block-size: 100%;
		padding: 0 variables.$db-spacing-fixed-2xs;
		border-radius: component.$default-border-radius;
	}

	a {
		display: inline-flex;
		text-decoration: none;

		&::after {
			--db-icon-margin-start: 0;
			content: "" !important;
		}
	}

	&[data-disabled="true"] {
		opacity: component.$default-disabled-opacity;
		pointer-events: none;
	}

	.db-button[data-size="small"] {
		border-radius: functions.to-rem(3);
		block-size: 100%;
	}

	&[data-overflow="true"] {
		max-inline-size: variables.$db-sizing-2xl;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		overflow: hidden;
	}

	.db-tab-remove-button {
		&:is(button),
		button {
			margin-inline-start: variables.$db-spacing-fixed-2xs;
			block-size: 100%;
		}
	}
}
