@use "sass:map";
@use "@db-ui/foundations/build/scss/init" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/color-placeholder" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;
@use "@db-ui/foundations/build/scss/helpers/font" as *;
@use "../../styles/button-components" as *;
@use "../../styles/tag-components" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;

.db-tag {
	@extend %focus-placeholder;
	@extend %default-interactive-component;
	@extend %component-border;
	@extend %db-overwrite-font-size-sm;
	@extend %default-button;

	block-size: $db-sizing-sm;
	min-inline-size: $db-sizing-sm;
	inline-size: fit-content;

	&:not(&[data-interactive="true"]) {
		@include get-tag-colors();
	}

	&[data-interactive="true"] {
		@include get-tag-colors-interactive();
	}

	input {
		@include a11y-visually-hidden();
	}

	.tag-label {
		@extend %db-overwrite-font-size-sm;
		display: block;

		&:not(.is-icon-text-replace) {
			margin-inline: $db-spacing-fixed-2xs;
			/*
			::before {
				margin-inline-end: $db-spacing-fixed-2xs;
			}
*/
		}

		&[data-overflow="true"] {
			max-inline-size: $db-sizing-2xl;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&[data-icon] {
			--icon-margin-after: #{$db-spacing-fixed-3xs};

			&::before {
				vertical-align: top;
			}
		}
	}

	.db-button[data-size="small"] {
		border-radius: to-rem(3);
		block-size: 100%;
	}

	&[data-disabled="true"] {
		opacity: $default-opacity;
		pointer-events: none;
	}
}
