@use "sass:map";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/color-placeholder";
@use "@db-ui/foundations/build/scss/helpers/component";
@use "@db-ui/foundations/build/scss/helpers/font";
@use "../../styles/button-components";
@use "../../styles/tag-components";
@use "@db-ui/foundations/build/scss/helpers/functions";

.db-tag {
	@extend %default-interactive-component;
	@extend %component-border;
	@extend %db-overwrite-font-size-sm;
	@extend %default-button;

	block-size: variables.$db-sizing-sm;
	min-inline-size: variables.$db-sizing-sm;
	inline-size: fit-content;

	&:not(&[data-interactive="true"]) {
		@include tag-components.get-tag-colors();
	}

	&[data-interactive="true"] {
		@include tag-components.get-tag-colors-interactive();
	}

	input {
		@include functions.a11y-visually-hidden();
	}

	.tag-label {
		@extend %db-overwrite-font-size-sm;
		display: block;

		&:not(.is-icon-text-replace) {
			margin-inline: variables.$db-spacing-fixed-2xs;
			/*
			::before {
				margin-inline-end: variables.$db-spacing-fixed-2xs;
			}
*/
		}

		&[data-overflow="true"] {
			max-inline-size: variables.$db-sizing-2xl;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&[data-icon] {
			--db-icon-margin-end: #{variables.$db-spacing-fixed-3xs};

			&::before {
				vertical-align: top;
			}
		}
	}

	.db-button[data-size="small"] {
		border-radius: functions.to-rem(3);
		block-size: 100%;
	}

	&[data-disabled="true"] {
		opacity: component.$default-disabled-opacity;
		pointer-events: none;
	}
}
