@use "@db-ui/foundations/build/scss/variables";
@use "../../styles/multi-select-components";

.db-multi-select-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: variables.$db-spacing-fixed-sm;
	max-block-size: multi-select-components.$max-height;
}
