@use "sass:map";
@use "@db-ui/foundations/build/scss/helpers/font" as font;
@use "@db-ui/foundations/build/scss/variables.global" as var;
@use "@db-ui/foundations/build/scss/color/color-variants" as col-var;
@use "@db-ui/foundations/build/scss/icon/icons.helpers" as icons;

.db-infotext {
	--db-icon-margin-end: #{var.$db-spacing-fixed-2xs};
	@extend %db-overwrite-font-size-sm;

	@include icons.to-solid-icon();

	display: flex;

	@include icons.has-no-icon() {
		@include icons.icon("info");
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-xs;
	}

	@each $name, $colors in col-var.$component-variants {
		&[data-variant="#{$name}"] {
			@include icons.variant-icons($name);
			color: map.get($colors, "primary");

			&::before {
				--db-current-icon-color: #{map.get($colors, "element")};
			}
		}
	}
}
