@use "sass:map";
@use "@db-ui/foundations/build/scss/tonality";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/icons";

.db-infotext {
	--db-icon-margin-end: #{variables.$db-spacing-fixed-2xs};
	@extend %db-overwrite-font-size-sm;

	display: flex;

	@include icons.has-no-icon() {
		@include icons.to-solid-icon();
		@include icons.set-icon("info");
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-xs;
	}

	@each $name, $colors in colors.$component-variants {
		&[data-variant="#{$name}"] {
			@include icons.variant-icons($name);
			color: map.get($colors, "text");

			&::before {
				--db-current-icon-color: #{map.get($colors, "element")};
			}
		}
	}
}
