@use "sass:map";
@use "@db-ui/foundations/build/scss/body-styles" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;

.db-infotext {
	@extend %db-body-sm;

	display: flex;

	.db-icon {
		@extend %db-body-sm;
		margin-inline-end: $db-spacing-fixed-2xs;

		&::before {
			--icon-font-family: var(--db-base-icon-font-family-filled);
			--icon-font-size: var(--db-base-icon-font-size);
		}
	}

	&[data-size="small"] {
		@extend %db-body-xs;

		.db-icon {
			@extend %db-body-xs;
		}
	}

	@each $name, $colors in $component-variants {
		&[data-variant="#{$name}"] {
			color: map.get($colors, "primary");

			.db-icon {
				color: map.get($colors, "element");
			}
		}
	}
}
