@use "sass:map";
@use "@db-ui/foundations/build/scss/density";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/icons";

.db-infotext {
	--db-icon-margin-end: #{variables.$db-spacing-fixed-2xs};
	@extend %db-overwrite-font-size-sm;

	display: flex;

	@include icons.has-no-icon() {
		@include icons.to-solid-icon();
		@include icons.set-icon("info");
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-xs;
	}

	&[data-semantic="adaptive"],
	&:not([data-semantic]) {
		color: colors.$db-neutral-contrast-high;

		&::before {
			--db-current-icon-color: #{colors.$db-neutral-contrast-low};
		}
	}

	@each $name, $colors in colors.$variant-colors {
		&[data-semantic="#{$name}"] {
			@include icons.variant-icons($name);
			color: var(--db-#{$name}-contrast-high);

			&::before {
				--db-current-icon-color: var(--db-#{$name}-contrast-low);
			}
		}
	}
}
