@use "sass:map";
@use "@db-ui/foundations/build/scss/helpers/font" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;

.db-infotext {
	@extend %db-overwrite-font-size-sm;

	display: flex;

	&[data-icon]::before {
		--icon-margin-after: #{$db-spacing-fixed-2xs};
		--icon-font-family: var(--db-base-icon-font-family-filled);
		--icon-font-size: var(--db-base-icon-font-size);
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-xs;

		&::before {
			display: none;
		}
	}

	@each $name, $colors in $component-variants {
		&[data-variant="#{$name}"] {
			color: map.get($colors, "primary");

			&::before {
				color: map.get($colors, "element");
			}
		}
	}
}
