<main>
	<h1>Angular</h1>
	<DBCard>
		<div style="display: flex; gap: 4px; align-items: center">
			<DBButton variant="secondary">Test</DBButton>
			<DBButton text="Test" icon="account" (click)="onClick()"></DBButton>
			<DBIcon icon="account"></DBIcon>

			<form class="db-ui-expressive" (ngSubmit)="onSubmitForm($event)">
				<DBInput
					[(ngModel)]="formData.username"
					name="username"
					label="Textinput"
					placeholder="Platzhalter"
					description="Beschreibung"
					value="{{ formData.username }}"
					iconBefore="edit"
					ngDefaultControl
				></DBInput>
				<fieldset>
					<legend>Native HTML <code>input</code> element</legend>
					<input
						[(ngModel)]="formData.password"
						name="password"
						value="test"
					/>
				</fieldset>
				<DBButton variant="secondary">Senden</DBButton>
			</form>

			<section class="db-ui-regular">
				<DBInput label="Label"></DBInput>
			</section>

			<section class="db-ui-functional">
				<DBInput></DBInput>
			</section>
		</div>
	</DBCard>
</main>
