<main>
	<h1>Angular</h1>
	<DBCard>
		<div style="display: flex; gap: 4px; align-items: center">
			<DBButton variant="secondary">Test</DBButton>
			<DBButton text="Test" icon="account" (click)="onClick()"></DBButton>
			<DBIcon icon="account"></DBIcon>

			<form class="db-ui-expressive" (ngSubmit)="onSubmitForm($event)">
				<DBInput
					[(ngModel)]="formData.username"
					name="username"
					label="Textinput"
					placeholder="Placeholder"
					description="Description"
					value="{{ formData.username }}"
					iconBefore="edit"
					ngDefaultControl
				></DBInput>
				<input
					[(ngModel)]="formData.password"
					name="password"
					value="test"
				/>
				<DBButton variant="secondary">Send</DBButton>
			</form>

			<section class="db-ui-regular">
				<DBInput label="Label"></DBInput>
			</section>

			<section class="db-ui-functional">
				<DBInput></DBInput>
			</section>
		</div>
	</DBCard>
</main>
