@charset "UTF-8";
.db-input .db-icon,
.db-input db-icon, .db-input input[type=color], .db-input input[type=date], .db-input input[type=datetime-local], .db-input input[type=email], .db-input input[type=month], .db-input input[type=number], .db-input input[type=password], .db-input input[type=search], .db-input input[type=tel], .db-input input[type=text], .db-input input[type=time], .db-input input[type=url], .db-input input[type=week] {
  --db-base-icon-font-size: var(--db-base-icon-font-size-sm);
  --db-base-icon-font-family: var(--db-base-icon-font-family-sm);
  /* prettier-ignore */
  --db-base-icon-font-family-filled: var(--db-base-icon-font-family-filled-sm);
  --db-base-line-height: var(--db-type-body-line-height-sm);
  --db-base-font-size: var(--db-type-body-font-size-sm);
  line-height: var(--db-type-body-line-height-sm);
  font-size: var(--db-type-body-font-size-sm);
}

.db-input .description {
  --db-base-icon-font-size: var(--db-base-icon-font-size-xs);
  --db-base-icon-font-family: var(--db-base-icon-font-family-xs);
  /* prettier-ignore */
  --db-base-icon-font-family-filled: var(--db-base-icon-font-family-filled-xs);
  --db-base-line-height: var(--db-type-body-line-height-xs);
  --db-base-font-size: var(--db-type-body-font-size-xs);
  line-height: var(--db-type-body-line-height-xs);
  font-size: var(--db-type-body-font-size-xs);
}

.db-input[data-variant=warning] input:not(:disabled):hover, .db-input[data-variant=warning] input button:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-warning-bg-transparent-semi-hover, rgba(172, 102, 0, 0.16));
  background-color: var(--db-current-background-color, rgba(172, 102, 0, 0.16));
  --db-current-background-color-red: 158;
  --db-current-background-color-green: 94;
  --db-current-background-color-blue: 0;
}

.db-input[data-variant=warning] input button:not(:disabled):active, .db-input[data-variant=warning] input[data-variant=ia]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-warning-bg-transparent-semi-pressed, rgba(172, 102, 0, 0.24));
  background-color: var(--db-current-background-color, rgba(172, 102, 0, 0.24));
  --db-current-background-color-red: 146;
  --db-current-background-color-green: 87;
  --db-current-background-color-blue: 0;
}

.db-input[data-variant=warning] input {
  --db-current-background-color: var(--db-colors-warning-bg-transparent-semi-enabled, rgba(172, 102, 0, 0.08));
  --db-current-color: var(--db-colors-warning-on-bg-enabled, #3e2500);
  --db-current-element-color: var(--db-colors-warning-element-enabled, #d68000);
  --db-current-border-color: var(--db-colors-warning-border-enabled, rgba(172, 102, 0, 0.32));
  background-color: var(--db-current-background-color, rgba(172, 102, 0, 0.08));
  color: var(--db-current-color, #3e2500);
  --db-current-background-color-red: 172;
  --db-current-background-color-green: 102;
  --db-current-background-color-blue: 0;
}
.db-input[data-variant=warning] input a:not(:disabled):hover {
  --db-current-color: var(--db-colors-warning-on-bg-hover, rgba(62, 37, 0, 0.75));
  color: var(--db-current-color, rgba(62, 37, 0, 0.75));
}
.db-input[data-variant=warning] input a:not(:disabled):active {
  --db-current-color: var(--db-colors-warning-on-bg-pressed, rgba(62, 37, 0, 0.5));
  color: var(--db-current-color, rgba(62, 37, 0, 0.5));
}
.db-input[data-variant=informational] input:not(:disabled):hover, .db-input[data-variant=informational] input button:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-informational-bg-transparent-semi-hover, rgba(0, 135, 185, 0.16));
  background-color: var(--db-current-background-color, rgba(0, 135, 185, 0.16));
  --db-current-background-color-red: 0;
  --db-current-background-color-green: 125;
  --db-current-background-color-blue: 171;
}

.db-input[data-variant=informational] input button:not(:disabled):active, .db-input[data-variant=informational] input[data-variant=ia]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-informational-bg-transparent-semi-pressed, rgba(0, 135, 185, 0.24));
  background-color: var(--db-current-background-color, rgba(0, 135, 185, 0.24));
  --db-current-background-color-red: 0;
  --db-current-background-color-green: 115;
  --db-current-background-color-blue: 157;
}

.db-input[data-variant=informational] input {
  --db-current-background-color: var(--db-colors-informational-bg-transparent-semi-enabled, rgba(0, 135, 185, 0.08));
  --db-current-color: var(--db-colors-informational-on-bg-enabled, #003143);
  --db-current-element-color: var(--db-colors-informational-element-enabled, #309fd1);
  --db-current-border-color: var(--db-colors-informational-border-enabled, rgba(0, 135, 185, 0.32));
  background-color: var(--db-current-background-color, rgba(0, 135, 185, 0.08));
  color: var(--db-current-color, #003143);
  --db-current-background-color-red: 0;
  --db-current-background-color-green: 135;
  --db-current-background-color-blue: 185;
}
.db-input[data-variant=informational] input a:not(:disabled):hover {
  --db-current-color: var(--db-colors-informational-on-bg-hover, rgba(0, 49, 67, 0.75));
  color: var(--db-current-color, rgba(0, 49, 67, 0.75));
}
.db-input[data-variant=informational] input a:not(:disabled):active {
  --db-current-color: var(--db-colors-informational-on-bg-pressed, rgba(0, 49, 67, 0.5));
  color: var(--db-current-color, rgba(0, 49, 67, 0.5));
}
.db-input[data-variant=successful] input:not(:disabled):hover, .db-input[data-variant=successful] input button:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-successful-bg-transparent-semi-hover, rgba(76, 133, 0, 0.16));
  background-color: var(--db-current-background-color, rgba(76, 133, 0, 0.16));
  --db-current-background-color-red: 71;
  --db-current-background-color-green: 124;
  --db-current-background-color-blue: 1;
}

.db-input[data-variant=successful] input button:not(:disabled):active, .db-input[data-variant=successful] input[data-variant=ia]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-successful-bg-transparent-semi-pressed, rgba(76, 133, 0, 0.24));
  background-color: var(--db-current-background-color, rgba(76, 133, 0, 0.24));
  --db-current-background-color-red: 67;
  --db-current-background-color-green: 115;
  --db-current-background-color-blue: 2;
}

.db-input[data-variant=successful] input {
  --db-current-background-color: var(--db-colors-successful-bg-transparent-semi-enabled, rgba(76, 133, 0, 0.08));
  --db-current-color: var(--db-colors-successful-on-bg-enabled, #243c08);
  --db-current-element-color: var(--db-colors-successful-element-enabled, #63a615);
  --db-current-border-color: var(--db-colors-successful-border-enabled, rgba(76, 133, 0, 0.32));
  background-color: var(--db-current-background-color, rgba(76, 133, 0, 0.08));
  color: var(--db-current-color, #243c08);
  --db-current-background-color-red: 76;
  --db-current-background-color-green: 133;
  --db-current-background-color-blue: 0;
}
.db-input[data-variant=successful] input a:not(:disabled):hover {
  --db-current-color: var(--db-colors-successful-on-bg-hover, rgba(36, 60, 8, 0.75));
  color: var(--db-current-color, rgba(36, 60, 8, 0.75));
}
.db-input[data-variant=successful] input a:not(:disabled):active {
  --db-current-color: var(--db-colors-successful-on-bg-pressed, rgba(36, 60, 8, 0.5));
  color: var(--db-current-color, rgba(36, 60, 8, 0.5));
}
.db-input[data-variant=critical] input:not(:disabled):hover,
.db-input input:not(:disabled):hover:required:invalid:not(:placeholder-shown),
.db-input input[aria-invalid=true]:not(:disabled):hover, .db-input[data-variant=critical] input button:not(:disabled):hover,
.db-input input:required:invalid:not(:placeholder-shown) button:not(:disabled):hover,
.db-input input[aria-invalid=true] button:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-critical-bg-transparent-semi-hover, rgba(236, 0, 22, 0.16));
  background-color: var(--db-current-background-color, rgba(236, 0, 22, 0.16));
  --db-current-background-color-red: 217;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 20;
}

.db-input[data-variant=critical] input button:not(:disabled):active,
.db-input input:required:invalid:not(:placeholder-shown) button:not(:disabled):active,
.db-input input[aria-invalid=true] button:not(:disabled):active, .db-input[data-variant=critical] input[data-variant=ia]:not(:disabled):active,
.db-input input[data-variant=ia]:not(:disabled):active:required:invalid:not(:placeholder-shown),
.db-input input[data-variant=ia][aria-invalid=true]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-critical-bg-transparent-semi-pressed, rgba(236, 0, 22, 0.24));
  background-color: var(--db-current-background-color, rgba(236, 0, 22, 0.24));
  --db-current-background-color-red: 198;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 18;
}

.db-input[data-variant=critical] input,
.db-input input:required:invalid:not(:placeholder-shown),
.db-input input[aria-invalid=true] {
  --db-current-background-color: var(--db-colors-critical-bg-transparent-semi-enabled, rgba(236, 0, 22, 0.08));
  --db-current-color: var(--db-colors-critical-on-bg-enabled, #550007);
  --db-current-element-color: var(--db-colors-critical-element-enabled, #ec0016);
  --db-current-border-color: var(--db-colors-critical-border-enabled, rgba(236, 0, 22, 0.32));
  background-color: var(--db-current-background-color, rgba(236, 0, 22, 0.08));
  color: var(--db-current-color, #550007);
  --db-current-background-color-red: 236;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 22;
}
.db-input[data-variant=critical] input a:not(:disabled):hover,
.db-input input:required:invalid:not(:placeholder-shown) a:not(:disabled):hover,
.db-input input[aria-invalid=true] a:not(:disabled):hover {
  --db-current-color: var(--db-colors-critical-on-bg-hover, rgba(85, 0, 7, 0.75));
  color: var(--db-current-color, rgba(85, 0, 7, 0.75));
}
.db-input[data-variant=critical] input a:not(:disabled):active,
.db-input input:required:invalid:not(:placeholder-shown) a:not(:disabled):active,
.db-input input[aria-invalid=true] a:not(:disabled):active {
  --db-current-color: var(--db-colors-critical-on-bg-pressed, rgba(85, 0, 7, 0.5));
  color: var(--db-current-color, rgba(85, 0, 7, 0.5));
}
.db-input input {
  background-color: rgba(var(--db-current-background-color-red), var(--db-current-background-color-green), var(--db-current-background-color-blue), var(--db-current-background-color-alpha, 0));
}

.db-input input:not(:disabled):hover {
  background-color: rgba(var(--db-current-background-color-red), var(--db-current-background-color-green), var(--db-current-background-color-blue), var(--db-current-background-color-alpha, 0.16));
}

.db-input input {
  border: solid 1px var(--db-current-color, #242629);
}

.db-input input {
  border: solid 1px var(--db-current-border-color, rgba(100, 105, 115, 0.32));
}

.db-input input {
  --db-focus-outline-radius: 0.25rem;
  border-radius: 0.25rem;
}

.db-input label, .db-input input {
  color: var(--db-current-color, #242629);
}

.db-input input:focus {
  border-radius: var(--db-focus-outline-radius, 0.375rem);
}

:root,
.db-ui-regular,
.db-ui-expressive {
  --db-input-disabled-label-opacity: 0.25;
}

.db-ui-functional {
  --db-input-disabled-label-opacity: 0;
}

.db-input {
  --db-input-padding-inline-start: var(--db-spacing-fixed-sm);
  --db-input-padding-inline-end: var(--db-spacing-fixed-sm);
  --icon-margin-after: 0;
  --db-input-label-max-width: 80%;
  position: relative;
}
.db-input:has(> .icon-before) {
  --db-input-padding-inline-start: calc(2 * var(--db-spacing-fixed-sm) + 1.25rem - 0.375rem);
  --db-input-label-max-width: 70%;
}
.db-input:has(> .icon-before) input {
  padding-inline-start: var(--db-input-padding-inline-start);
}
.db-input:has(> .icon-after), .db-input[data-variant] {
  --db-input-padding-inline-end: calc(
  		2 * var(--db-spacing-fixed-sm) + 0.425rem
  	);
}
.db-input:has(> .icon-after) input, .db-input[data-variant] input {
  padding-inline-end: var(--db-input-padding-inline-end);
}
.db-input[data-variant]:has(> .icon-after) {
  --db-input-padding-inline-end: calc(
  		2 * var(--db-spacing-fixed-sm) + 0.425rem + 0.75rem + var(--db-spacing-fixed-sm)
  	);
  --db-input-label-max-width: 61%;
}
.db-input[data-variant]:has(> .icon-after) input {
  padding-inline-end: var(--db-input-padding-inline-end);
}
.db-input[data-variant]:has(> .icon-after) .icon-input-state {
  margin-inline-end: calc(0.75rem + 2 * var(--db-spacing-fixed-sm));
}
.db-input .db-icon,
.db-input db-icon {
  --icon-font-family: var(--db-base-icon-font-family);
  --icon-font-size: var(--db-base-icon-font-size);
  height: var(--db-sizing-md);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 0 var(--db-spacing-fixed-sm);
}
.db-input .icon-after,
.db-input dbicon.icon-after > .db-icon {
  right: 0;
}
.db-input:has(> input:disabled) .db-icon,
.db-input:has(> input:disabled) .icon-input-state {
  opacity: 0.5;
}
.db-input label {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: var(--db-type-body-font-size-md);
  transform-origin: left;
  transform: translate(var(--db-input-padding-inline-start), calc(-1 * var(--db-sizing-md)));
  transition: transform 0.2s cubic-bezier(0.15, 0, 0.45, 1);
  will-change: transform;
  height: var(--db-sizing-md);
  cursor: text;
  max-width: var(--db-input-label-max-width, 80%);
}
.db-input label span:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.db-input .description {
  margin: var(--db-spacing-fixed-2xs) var(--db-spacing-fixed-sm) 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.db-input input {
  background-color: rgba(var(--db-current-background-color-red), var(--db-current-background-color-green), var(--db-current-background-color-blue), var(--db-current-background-color-alpha, 0.08));
  height: var(--db-sizing-md);
  max-width: 100%;
  width: 100%;
  padding: var(--db-spacing-fixed-xs) var(--db-input-padding-inline-end) var(--db-spacing-fixed-xs) var(--db-input-padding-inline-start);
}
.db-input input:focus, .db-input input:not(:placeholder-shown) {
  padding-bottom: calc(var(--db-spacing-fixed-xs) - var(--db-input-focus-opacity) * var(--db-spacing-fixed-xs));
  padding-top: calc(var(--db-spacing-fixed-xs) + 0.25em * var(--db-input-focus-opacity));
}
.db-input input:focus + label, .db-input input:not(:placeholder-shown) + label {
  transition: opacity 0.08s, transform 0.15s;
  opacity: var(--db-input-focus-opacity);
  transform: translate(calc(var(--db-input-padding-inline-start) + 0.1em), calc(var(--db-sizing-md) * -1.25)) scale(var(--db-input-label-scale));
}
.db-input input:disabled, .db-input input:disabled + label, fieldset:disabled .db-input input, fieldset:disabled .db-input input + label {
  opacity: 0.25;
  pointer-events: none;
}
.db-input input:required + label::after {
  content: " *";
  padding-left: 0.2rem;
}
.db-input input:disabled:not(:placeholder-shown) + label {
  opacity: var(--db-input-disabled-label-opacity);
}
@media (prefers-reduced-motion: reduce) {
  .db-input input[type=color]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=date]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=datetime-local]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=email]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=month]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=number]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=password]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=search]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=tel]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=text]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=time]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=url]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label, .db-input input[type=week]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=time]):not([type=week]) + label {
    transition-duration: 0.01s !important;
  }
}
.db-input input[type=color]::placeholder, .db-input input[type=date]::placeholder, .db-input input[type=datetime-local]::placeholder, .db-input input[type=email]::placeholder, .db-input input[type=month]::placeholder, .db-input input[type=number]::placeholder, .db-input input[type=password]::placeholder, .db-input input[type=search]::placeholder, .db-input input[type=tel]::placeholder, .db-input input[type=text]::placeholder, .db-input input[type=time]::placeholder, .db-input input[type=url]::placeholder, .db-input input[type=week]::placeholder {
  opacity: 0;
}
.db-input input[type=color]:focus::placeholder, .db-input input[type=date]:focus::placeholder, .db-input input[type=datetime-local]:focus::placeholder, .db-input input[type=email]:focus::placeholder, .db-input input[type=month]:focus::placeholder, .db-input input[type=number]:focus::placeholder, .db-input input[type=password]:focus::placeholder, .db-input input[type=search]:focus::placeholder, .db-input input[type=tel]:focus::placeholder, .db-input input[type=text]:focus::placeholder, .db-input input[type=time]:focus::placeholder, .db-input input[type=url]:focus::placeholder, .db-input input[type=week]:focus::placeholder {
  opacity: 0.5;
}
.db-input input[type=search] {
  padding-inline-start: var(--db-input-padding-inline-start);
}
.db-input input[type=search], .db-input input[type=search] + label {
  --db-input-padding-inline-start: calc(var(--db-spacing-fixed-sm) * 2 + 0.625rem);
}
.db-input input[type=search] ~ .icon-input-state::before {
  margin-inline-end: var(--icon-margin-after, 0.375rem);
  --icon-glyph: "🔍";
}
.db-input input[type=search] + label {
  transform: translate(calc(var(--db-spacing-fixed-sm) * 2 + 0.625rem), calc(-1 * var(--db-sizing-md)));
}
.db-input input[type=search] ~ .description {
  padding-inline-start: calc(var(--db-spacing-fixed-sm) * 2 + 0.625rem);
}
.db-input input[type=search]:focus:not(:disabled) + label, .db-input input[type=search]:not(:placeholder-shown):not(:disabled) + label {
  padding-inline-start: 0;
}
.db-input input[type=search]::-webkit-search-cancel-button {
  appearance: none;
  position: absolute;
  right: var(--db-spacing-fixed-sm);
  top: 0;
  height: var(--db-sizing-md);
  width: 1em;
  background: url(../assets/icons/functional/images/navigation/db_ic_cancel_24.svg) no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.12s;
}
.db-input .icon-input-state {
  --icon-font-family: var(--db-base-icon-font-family-filled);
  --icon-font-size: var(--db-base-icon-font-size);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  padding: 0 var(--db-spacing-fixed-xs);
  height: var(--db-sizing-md);
  pointer-events: none;
  right: 0;
}
.db-input .icon-input-state::before {
  --icon-font-family: var(--db-base-icon-font-family-filled);
  --icon-font-size: var(--db-base-icon-font-size);
}
.db-input .icon-input-state > .db-icon {
  position: static;
  padding: 0;
}
.db-input .icon-input-state > .db-icon::before {
  --icon-font-family: var(--db-base-icon-font-family-filled);
  --icon-font-size: var(--db-base-icon-font-size);
}
.db-input[data-variant=critical] {
  color: #550007;
}
.db-input[data-variant=critical] input,
.db-input input:required:invalid:not(:placeholder-shown),
.db-input input[aria-invalid=true] {
  --db-current-border-color: var(
  	--db-colors-critical-border-enabled,
  	rgba(236, 0, 22, 0.32)
  );
}
.db-input[data-variant=critical] input + label,
.db-input input:required:invalid:not(:placeholder-shown) + label,
.db-input input[aria-invalid=true] + label {
  color: #550007;
}
.db-input[data-variant=critical] input ~ .description, .db-input[data-variant=critical] input ~ .icon-input-state,
.db-input input:required:invalid:not(:placeholder-shown) ~ .description,
.db-input input:required:invalid:not(:placeholder-shown) ~ .icon-input-state,
.db-input input[aria-invalid=true] ~ .description,
.db-input input[aria-invalid=true] ~ .icon-input-state {
  color: #ec0016;
}
.db-input[data-variant=critical] input ~ .icon-input-state,
.db-input input:required:invalid:not(:placeholder-shown) ~ .icon-input-state,
.db-input input[aria-invalid=true] ~ .icon-input-state {
  --icon-glyph: "󡄣";
}
.db-input[data-variant=critical] input ~ .icon-input-state::after,
.db-input input:required:invalid:not(:placeholder-shown) ~ .icon-input-state::after,
.db-input input[aria-invalid=true] ~ .icon-input-state::after {
  margin-inline-start: var(--icon-margin-before, 0.375rem);
  --icon-glyph: "󡄣";
}
.db-input[data-variant=warning] input {
  --db-current-border-color: var(
  	--db-colors-warning-border-enabled,
  	rgba(172, 102, 0, 0.32)
  );
}
.db-input[data-variant=warning] input + label {
  color: #3e2500;
}
.db-input[data-variant=warning] input ~ .description, .db-input[data-variant=warning] input ~ .icon-input-state, .db-input[data-variant=warning] input ~ .icon-input-state .db-icon {
  color: #d68000;
}
.db-input[data-variant=warning] input ~ .icon-input-state::after, .db-input[data-variant=warning] input ~ .icon-input-state .db-icon::after {
  margin-inline-start: var(--icon-margin-before, 0.375rem);
  --icon-glyph: "⚠";
}
.db-input[data-variant=successful] input {
  --db-current-border-color: var(
  	--db-colors-successful-border-enabled,
  	rgba(76, 133, 0, 0.32)
  );
}
.db-input[data-variant=successful] input + label {
  color: #243c08;
}
.db-input[data-variant=successful] input ~ .description, .db-input[data-variant=successful] input ~ .icon-input-state, .db-input[data-variant=successful] input ~ .icon-input-state .db-icon {
  color: #63a615;
}
.db-input[data-variant=successful] input ~ .icon-input-state::after, .db-input[data-variant=successful] input ~ .icon-input-state .db-icon::after {
  margin-inline-start: var(--icon-margin-before, 0.375rem);
  --icon-glyph: "✅";
}
.db-input[data-variant=informational] input {
  --db-current-border-color: var(
  	--db-colors-informational-border-enabled,
  	rgba(0, 135, 185, 0.32)
  );
}
.db-input[data-variant=informational] input + label {
  color: #003143;
}
.db-input[data-variant=informational] input ~ .description, .db-input[data-variant=informational] input ~ .icon-input-state, .db-input[data-variant=informational] input ~ .icon-input-state .db-icon {
  color: #309fd1;
}
.db-input[data-variant=informational] input ~ .icon-input-state::after, .db-input[data-variant=informational] input ~ .icon-input-state .db-icon::after {
  margin-inline-start: var(--icon-margin-before, 0.375rem);
  --icon-glyph: "🛈";
}

.db-ui-regular .db-input > input[type=date]::-webkit-calendar-picker-indicator,
.db-ui-regular .db-input > input[type=week]::-webkit-calendar-picker-indicator,
.db-ui-regular .db-input > input[type=datetime-local]::-webkit-calendar-picker-indicator,
.db-ui-expressive .db-input > input[type=date]::-webkit-calendar-picker-indicator,
.db-ui-expressive .db-input > input[type=week]::-webkit-calendar-picker-indicator,
.db-ui-expressive .db-input > input[type=datetime-local]::-webkit-calendar-picker-indicator {
  margin-top: -0.75em;
  padding: 0;
}
