@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/helpers";
@use "../../styles/form-components";
@use "../../styles/multi-select-components";

.db-multi-select-header {
	@include helpers.divider("bottom");

	display: flex;
	background-color: colors.$db-adaptive-bg-basic-level-2-default;
	padding-block: variables.$db-spacing-fixed-xs;
	padding-inline: calc(
			#{multi-select-components.$list-padding-inline} + #{multi-select-components.$list-item-padding-inline}
		)
		variables.$db-spacing-fixed-2xs;
	border-start-start-radius: variables.$db-border-radius-xs;
	border-start-end-radius: variables.$db-border-radius-xs;
	justify-content: space-between;
	gap: variables.$db-spacing-fixed-md;
	align-items: center;
	text-wrap: nowrap;

	.db-input {
		display: none;
	}

	.db-button {
		flex-shrink: 0;
	}

	&[data-variant="search"] {
		padding-block: variables.$db-spacing-fixed-md;

		.db-checkbox {
			label {
				font-size: 0;
			}
		}

		.db-input {
			display: flex;
			inline-size: 100%;
		}
	}
}
