<app-default-component
	title="DBCard"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-card
			[colorVariant]="exampleProps.colorVariant"
			[variant]="exampleProps.variant"
			[spacing]="exampleProps.spacing"
		>
			<strong>{{ exampleName }}</strong>
			<span *ngIf="exampleProps.colorVariant">{{
				exampleProps.colorVariant
			}}</span>
		</db-card>
	</ng-template>
</app-default-component>
