@keyframes show-right-to-left {
	from {
		transform: translateX(110%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes hide-right-to-left {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(110%);
	}
}

@keyframes show-left-to-right {
	from {
		transform: translateX(-110%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes hide-left-to-right {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-110%);
	}
}

@keyframes show-bottom-to-top {
	from {
		transform: translateY(110%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes hide-bottom-to-top {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(110%);
	}
}

@keyframes show-top-to-bottom {
	from {
		transform: translateY(-110%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes hide-top-to-bottom {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-110%);
	}
}

@keyframes accordion-open {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes popover-animation {
	0% {
		opacity: 0;
		transform: translate(
			var(--db-popover-translate-x, 0%),
			var(--db-popover-translate-y, 0%)
		);
	}

	100% {
		opacity: 1;
		transform: translate(0%, 0%);
	}
}
