/* Styles for the showcases */
.desktop-navigation ul {
	list-style-type: none;
	display: flex;
}

.default-container {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-md);
	padding: var(--db-spacing-fixed-md);
}

.variants-list {
	display: flex;
	flex-wrap: wrap;
	inline-size: 100%;
	justify-content: center;
	gap: var(--db-spacing-fixed-md);
}

.variants-list > div {
	align-items: center;
	display: flex;
	gap: var(--db-spacing-fixed-md);
}

.html-code-container {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-md);
}

.example-name {
	margin-block: 0 var(--db-spacing-fixed-md);
}

.link-headline {
	display: block;
	margin-block: var(--db-spacing-fixed-md);
	font-weight: 700;
}

/**
 component container styles
**/

.form-container {
	display: flex;
	gap: var(--db-spacing-fixed-md);
	margin: var(--db-spacing-fixed-md);
}

.form-container fieldset {
	/* Disabling fieldset styles in this specific case */
	padding: 0;
	border-color: transparent;
}

.form-container > div {
	flex-direction: column;
	inline-size: 50%;
}

.button-container {
	display: flex;
	gap: var(--db-spacing-fixed-md);
	padding: var(--db-spacing-fixed-md);
}

.input-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--db-spacing-fixed-md);
	padding: var(--db-spacing-fixed-md);
}

.input-container > form {
	display: flex;
	flex-wrap: wrap;
	gap: var(--db-spacing-fixed-md);
}

.badge-inline-container {
	display: flex;
	gap: var(--db-spacing-fixed-sm);
	padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-sm);
}

.badge-inline-container .db-badge {
	margin-inline-start: var(--db-spacing-responsive-md);
	margin-block: auto;
}
