/**
* SECONDARY - Placeholder Utilities
**/
/**
* WARNING - Placeholder Utilities
**/
/**
* INFORMATION - Placeholder Utilities
**/
/**
* PRIMARY - Placeholder Utilities
**/
/**
* SUCCESS - Placeholder Utilities
**/
/**
* NEUTRAL - Placeholder Utilities
**/
.db-radio button:not(:disabled):hover, .db-radio:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-neutral-bg-0-hover, #e4e5e5);
  background-color: var(--db-current-background-color, #e4e5e5);
  --db-current-background-color-red: 119;
  --db-current-background-color-green: 123;
  --db-current-background-color-blue: 132;
}

.db-radio button:not(:disabled):active, .db-radio:not(:disabled):active {
  --db-current-background-color: var(--db-colors-neutral-bg-0-pressed, #cbcbcc);
  background-color: var(--db-current-background-color, #cbcbcc);
  --db-current-background-color-red: 137;
  --db-current-background-color-green: 141;
  --db-current-background-color-blue: 148;
}

.db-radio:checked, .db-radio {
  --db-current-background-color: var(--db-colors-neutral-bg-0-enabled, #ffffff);
  --db-current-color: var(--db-colors-neutral-on-bg-enabled, #242629);
  --db-current-element-color: var(--db-colors-neutral-element-enabled, #646973);
  background-color: var(--db-current-background-color, #ffffff);
  color: var(--db-current-color, #242629);
  --db-current-background-color-red: 100;
  --db-current-background-color-green: 105;
  --db-current-background-color-blue: 115;
}
.db-radio a:not(:disabled):hover {
  --db-current-color: var(--db-colors-neutral-on-bg-hover, rgba(36, 38, 41, 0.75));
  color: var(--db-current-color, rgba(36, 38, 41, 0.75));
}
.db-radio a:not(:disabled):active {
  --db-current-color: var(--db-colors-neutral-on-bg-pressed, rgba(36, 38, 41, 0.5));
  color: var(--db-current-color, rgba(36, 38, 41, 0.5));
}
/**
* CRITICAL - Placeholder Utilities
**/
.db-radio + label {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

.db-radio {
  --radio-size: var(--db-sizing-sm);
  appearance: none;
  aspect-ratio: 1;
  border: max(var(--radio-size, var(--db-sizing-sm)) / 16 + 0.5px, 2px) solid currentColor;
  border-radius: 1em;
  display: inline-block;
  height: var(--radio-size);
  transition: border-width 0.5s ease;
}
.db-radio[type=radio] {
  vertical-align: bottom;
}
.db-radio:checked {
  border-width: calc(var(--db-sizing-sm) * 0.3);
}
.db-radio:checked:not(:disabled):hover {
  --db-current-color: rgba(36, 38, 41, 0.75);
  color: rgba(36, 38, 41, 0.75);
  background-color: initial;
}
.db-radio:checked:not(:disabled):active {
  --db-current-color: rgba(36, 38, 41, 0.5);
  color: rgba(36, 38, 41, 0.5);
}
.db-radio:invalid, .db-radio[aria-invalid=true] {
  border-color: #c13e34;
}
.db-radio + label {
  font-size: 1rem;
  line-height: 1.5;
  margin-inline-start: 0.5rem;
}
.db-radio:disabled, .db-radio:disabled + label {
  opacity: 0.25;
}
.db-radio:required + label::after {
  content: "*";
}
.db-radio[data-size=small] {
  --radio-size: calc(var(--db-sizing-sm) * 0.83333333);
}
.db-radio[data-size=small]:checked {
  border-width: calc(var(--db-sizing-sm) * 0.83333333 * 0.3);
}
.db-radio[data-size=small] + label {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  margin-inline-start: 0.25rem;
}
@media (prefers-reduced-motion: reduce) {
  .db-radio {
    transition-duration: 0.01s !important;
  }
}
