@charset "utf-8";
@use "@db-ui/foundations/build/scss/body-styles" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/color-placeholder" as *;
@use "@db-ui/foundations/build/scss/icon/icons.helpers" as *;
@use "@db-ui/foundations/build/scss/helpers/shadow-dom" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;
@use "@db-ui/foundations/build/scss/helpers/component";

.db-button {
	// Including a loading indicator
	--loadingIndicator---color: currentColor;

	$icon-size: var(--db-icon-size, 20);

	@extend %shadow-dom-extend;
	@extend %default-interactive-component;
	@extend %default-background-transition;
	@extend %bg-transparent-interactive;

	align-items: center; // Centering the content vertically and horizontally

	display: inline-flex;

	font-weight: 700;
	justify-content: center;
	height: $db-sizing-md;
	padding: $db-spacing-fixed-xs $db-spacing-fixed-md;

	text-align: center;

	&[data-icon],
	&[data-icon-before] {
		padding-left: $db-spacing-fixed-xs;

		&::before {
			--icon-font-family: var(--db-base-icon-font-family);
			--icon-font-size: var(--db-base-icon-font-size);
		}
	}

	&[data-icon-after] {
		padding-right: $db-spacing-fixed-xs;

		&::after {
			--icon-font-family: var(--db-base-icon-font-family);
			--icon-font-size: var(--db-base-icon-font-size);
		}
	}
	// Square icon only buttons
	&.is-icon-text-replace {
		font-size: 0;
		padding: 0;
		width: $db-sizing-md;
	}

	&[data-size="small"] {
		@extend %db-body-sm;
		height: $db-sizing-sm;
		padding: $db-spacing-fixed-3xs $db-spacing-fixed-sm;

		// Square icon only buttons
		&.is-icon-text-replace {
			width: $db-sizing-sm;
		}
	}

	&[data-width="full"] {
		width: 100%;
	}

	&[data-variant="primary"] {
		@extend %db-bg-primary-ia;
	}

	&[data-variant="semi-transparent"] {
		@include get-variant-bg-color(0.08);
		border: solid 1px transparent;
	}

	&[data-variant="transparent"] {
		border: solid 1px transparent;
	}

	&:disabled {
		opacity: 0.25;
	}

	// States (currently only "loading")
	&[data-state="loading"] {
		@include is-icon-text-replace();

		&::before {
			content: "";
		}
	}

	&[data-state="loading"] {
		font-size: 0;
	}
}
