.db-section {
  width: 100%;
  padding-inline: var(--db-spacing-fixed-md);
}
@media screen and (min-width: 1024px) {
  .db-section {
    padding-inline: var(--db-spacing-fixed-md);
  }
}
.db-section[data-variant=full] {
  padding-inline: 0;
}
.db-section[data-size=none] {
  padding-block: 0;
}
.db-section[data-size=small] {
  padding-block: var(--db-spacing-responsive-sm);
}
.db-section[data-size=medium] {
  padding-block: var(--db-spacing-responsive-md);
}
.db-section[data-size=large] {
  padding-block: var(--db-spacing-responsive-lg);
}
.db-section > div {
  margin: 0 auto;
}
.db-section > div[data-variant=full] {
  max-width: none;
}
.db-section > div[data-variant=medium] {
  max-width: 1024px;
}
.db-section > div[data-variant=large] {
  max-width: 1440px;
}
