.db-section {
  width: 100%;
  padding-left: var(--db-spacing-fixed-md);
  padding-right: var(--db-spacing-fixed-md);
}
@media screen and (min-width: 1024px) {
  .db-section {
    padding-left: var(--db-spacing-fixed-lg);
    padding-right: var(--db-spacing-fixed-lg);
  }
}
.db-section[data-size=none] {
  padding-top: 0;
  padding-bottom: 0;
}
.db-section[data-size=small] {
  padding-top: var(--db-spacing-responsive-sm);
  padding-bottom: var(--db-spacing-responsive-sm);
}
.db-section[data-size=medium] {
  padding-top: var(--db-spacing-responsive-md);
  padding-bottom: var(--db-spacing-responsive-md);
}
.db-section[data-size=large] {
  padding-top: var(--db-spacing-responsive-lg);
  padding-bottom: var(--db-spacing-responsive-lg);
}
.db-section > div {
  margin: 0 auto;
  width: 100%;
}
.db-section > div[data-max-width=none] {
  max-width: none;
}
.db-section > div[data-max-width=small] {
  max-width: 1024px;
}
.db-section > div[data-max-width=medium] {
  max-width: 1280px;
}
.db-section > div[data-max-width=large] {
  max-width: 1440px;
}
