@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;

.db-section {
	width: 100%;

	padding-left: $db-spacing-fixed-md;
	padding-right: $db-spacing-fixed-md;

	@media screen and (min-width: $db-screens-lg) {
		padding-left: $db-spacing-fixed-lg;
		padding-right: $db-spacing-fixed-lg;
	}

	&[data-size="none"] {
		padding-top: 0;
		padding-bottom: 0;
	}

	&[data-size="small"] {
		padding-top: $db-spacing-responsive-sm;
		padding-bottom: $db-spacing-responsive-sm;
	}

	&[data-size="medium"] {
		padding-top: $db-spacing-responsive-md;
		padding-bottom: $db-spacing-responsive-md;
	}

	&[data-size="large"] {
		padding-top: $db-spacing-responsive-lg;
		padding-bottom: $db-spacing-responsive-lg;
	}

	& > div {
		margin: 0 auto;
		width: 100%;

		&[data-max-width="none"] {
			max-width: none;
		}

		&[data-max-width="small"] {
			max-width: $db-screens-lg;
		}

		&[data-max-width="medium"] {
			max-width: $db-screens-xl;
		}

		&[data-max-width="large"] {
			max-width: $db-screens-2xl;
		}
	}
}
