@use "../variables";
@use "../colors";

%focus-placeholder {
	outline: #{variables.$db-border-height-2xs} solid #{colors.$db-informational-contrast-high-enabled};
	outline-offset: variables.$db-border-height-xs;

	&:not([type="radio"], [role="switch"]) {
		border-radius: variables.$db-border-radius-xs;
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		transition:
			outline #{variables.$db-transition-duration-extra-fast},
			box-shadow #{variables.$db-transition-duration-extra-fast};
	}
}
