@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/tonality" as *;

.db-header {
	background-color: $db-colors-neutral-bg-0-enabled;
	box-shadow: $db-elevation-4;
	display: flex;
	flex-direction: column;
	margin-bottom: $db-spacing-fixed-2xs;
	position: relative;

	.db-link {
		display: inline-block;
	}
}

.db-header-navigation-bar {
	display: flex;
	position: relative;
	padding: $db-spacing-fixed-md;
	gap: $db-spacing-fixed-xs;
	width: 100%;
	align-items: center;

	// TODO: why 72px?
	height: to-rem(72);
}

.db-header-meta-navigation {
	@extend %db-ui-functional;
	display: flex;
	gap: inherit;
	justify-content: end;
	background-color: $db-colors-neutral-bg-1-enabled;

	padding: $db-spacing-fixed-md;

	// Workaround for rounded border in mobile
	margin: 1px;

	@media screen and (min-width: $db-screens-s) {
		padding: $db-spacing-fixed-xs $db-spacing-fixed-md;
		margin: 0;
	}

	&:empty {
		display: none;
	}
}

.db-header-navigation-container {
	display: inherit;
	flex: 1 1 auto;
	width: 100%;
	gap: inherit;
	align-items: center;
}

.db-header-call-to-action {
	margin-inline-start: auto;
}

.db-header-brand-container:not(:has(> :nth-child(2))) {
	display: none;
}

.db-header-action-container:has(> .db-header-action-bar:empty) {
	@media screen and (min-width: $db-screens-s) {
		display: none;
	}
}

.db-header-brand-container,
.db-header-action-container {
	align-items: center;
	height: 100%;
	display: inherit;
	gap: inherit;
	flex: 0 1 auto;
	flex-grow: 0;
	flex-shrink: 0;
}

.db-header-action-bar {
	@media screen and (max-width: $db-screens-s) {
		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 0;
		box-shadow: $db-elevation-4;
		margin-top: $db-spacing-fixed-2xs;
	}
}

.db-header-drawer-navigation {
	@media screen and (max-width: $db-screens-s) {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		height: 100%;
		overflow: auto;
		justify-content: space-between;
	}
}

.db-header-navigation,
.db-header-action-bar {
	display: flex;
	gap: $db-spacing-fixed-sm;
	padding: $db-spacing-fixed-md;

	@media screen and (min-width: $db-screens-s) {
		gap: $db-spacing-fixed-xs;
		padding: 0;
	}
}

.db-header-hide-on-mobile {
	@media screen and (max-width: $db-screens-s) {
		display: none;
	}
}

.db-header-hide-on-desktop {
	@media screen and (min-width: $db-screens-s) {
		display: none;
	}
}
