.form-container {
	display: flex;
}

.form-container fieldset {
	/* Disabling fieldset styles in this specific case */
	padding: 0;
	border-color: transparent;
}

.form-container div {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: var(--db-spacing-fixed-md);
}
