.db-drawer {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

.db-drawer .db-drawer-container {
  display: flex;
  background-color: #ffffff;
  width: 85%;
  height: 100%;
  right: 0;
  max-width: calc(360px - var(--db-sizing-md));
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex-direction: column;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.2), 0 0 8px 1px rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  left: auto;
}
.db-drawer .db-drawer-container .db-drawer-header {
  display: flex;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.2), 0 0 8px 1px rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: var(--db-spacing-fixed-2xs);
  height: 4.5rem;
  padding: var(--db-spacing-fixed-md);
  flex-direction: row-reverse;
}
.db-drawer .db-drawer-container .db-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
