@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/helpers/shadow-dom" as *;

.db-drawer {
	@extend %shadow-dom-extend;
}

.db-drawer {
	.db-drawer-container {
		display: flex;
		background-color: $db-colors-neutral-bg-0-enabled;
		width: 85%;
		height: 100%;
		right: 0;
		max-width: calc($db-screens-xs - $db-sizing-md);
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		flex-direction: column;
		box-shadow: $db-elevation-4;
		position: fixed;
		left: auto;

		.db-drawer-header {
			display: flex;
			box-shadow: $db-elevation-4;
			margin-bottom: $db-spacing-fixed-2xs;
			height: to-rem(72);
			padding: $db-spacing-fixed-md;
			flex-direction: row-reverse;
		}

		.db-drawer-content {
			display: flex;
			flex-direction: column;
			height: 100%;
			overflow: hidden;
		}
	}
}
