.db-alert[data-variant=warning] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=warning]:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-warning-bg-hover, #ecdbc5);
  background-color: var(--db-current-background-color, #ecdbc5);
  --db-current-background-color-red: 158;
  --db-current-background-color-green: 94;
  --db-current-background-color-blue: 0;
}

.db-alert[data-variant=warning] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=warning]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-warning-bg-pressed, #e3ccaa);
  background-color: var(--db-current-background-color, #e3ccaa);
  --db-current-background-color-red: 146;
  --db-current-background-color-green: 87;
  --db-current-background-color-blue: 0;
}

.db-alert[data-variant=warning] {
  --db-current-background-color: var(--db-colors-warning-bg-enabled, #f5ece0);
  --db-current-color: var(--db-colors-warning-on-bg-enabled, #3e2500);
  --db-current-element-color: var(--db-colors-warning-element-enabled, #d68000);
  --db-current-border-color: var(--db-colors-warning-border-enabled, rgba(172, 102, 0, 0.32));
  background-color: var(--db-current-background-color, #f5ece0);
  color: var(--db-current-color, #3e2500);
  --db-current-background-color-red: 172;
  --db-current-background-color-green: 102;
  --db-current-background-color-blue: 0;
}
.db-alert[data-variant=warning] a:not(:disabled):hover {
  --db-current-color: var(--db-colors-warning-on-bg-hover, rgba(62, 37, 0, 0.75));
  color: var(--db-current-color, rgba(62, 37, 0, 0.75));
}
.db-alert[data-variant=warning] a:not(:disabled):active {
  --db-current-color: var(--db-colors-warning-on-bg-pressed, rgba(62, 37, 0, 0.5));
  color: var(--db-current-color, rgba(62, 37, 0, 0.5));
}
.db-alert[data-variant=informational] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=informational]:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-informational-bg-hover, #c5e3ee);
  background-color: var(--db-current-background-color, #c5e3ee);
  --db-current-background-color-red: 0;
  --db-current-background-color-green: 125;
  --db-current-background-color-blue: 171;
}

.db-alert[data-variant=informational] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=informational]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-informational-bg-pressed, #aad7e7);
  background-color: var(--db-current-background-color, #aad7e7);
  --db-current-background-color-red: 0;
  --db-current-background-color-green: 115;
  --db-current-background-color-blue: 157;
}

.db-alert[data-variant=informational] {
  --db-current-background-color: var(--db-colors-informational-bg-enabled, #e0f0f6);
  --db-current-color: var(--db-colors-informational-on-bg-enabled, #003143);
  --db-current-element-color: var(--db-colors-informational-element-enabled, #309fd1);
  --db-current-border-color: var(--db-colors-informational-border-enabled, rgba(0, 135, 185, 0.32));
  background-color: var(--db-current-background-color, #e0f0f6);
  color: var(--db-current-color, #003143);
  --db-current-background-color-red: 0;
  --db-current-background-color-green: 135;
  --db-current-background-color-blue: 185;
}
.db-alert[data-variant=informational] a:not(:disabled):hover {
  --db-current-color: var(--db-colors-informational-on-bg-hover, rgba(0, 49, 67, 0.75));
  color: var(--db-current-color, rgba(0, 49, 67, 0.75));
}
.db-alert[data-variant=informational] a:not(:disabled):active {
  --db-current-color: var(--db-colors-informational-on-bg-pressed, rgba(0, 49, 67, 0.5));
  color: var(--db-current-color, rgba(0, 49, 67, 0.5));
}
.db-alert[data-variant=successful] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=successful]:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-successful-bg-hover, #d6e3c5);
  background-color: var(--db-current-background-color, #d6e3c5);
  --db-current-background-color-red: 71;
  --db-current-background-color-green: 124;
  --db-current-background-color-blue: 1;
}

.db-alert[data-variant=successful] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=successful]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-successful-bg-pressed, #c3d7aa);
  background-color: var(--db-current-background-color, #c3d7aa);
  --db-current-background-color-red: 67;
  --db-current-background-color-green: 115;
  --db-current-background-color-blue: 2;
}

.db-alert[data-variant=successful] {
  --db-current-background-color: var(--db-colors-successful-bg-enabled, #e9f0e0);
  --db-current-color: var(--db-colors-successful-on-bg-enabled, #243c08);
  --db-current-element-color: var(--db-colors-successful-element-enabled, #63a615);
  --db-current-border-color: var(--db-colors-successful-border-enabled, rgba(76, 133, 0, 0.32));
  background-color: var(--db-current-background-color, #e9f0e0);
  color: var(--db-current-color, #243c08);
  --db-current-background-color-red: 76;
  --db-current-background-color-green: 133;
  --db-current-background-color-blue: 0;
}
.db-alert[data-variant=successful] a:not(:disabled):hover {
  --db-current-color: var(--db-colors-successful-on-bg-hover, rgba(36, 60, 8, 0.75));
  color: var(--db-current-color, rgba(36, 60, 8, 0.75));
}
.db-alert[data-variant=successful] a:not(:disabled):active {
  --db-current-color: var(--db-colors-successful-on-bg-pressed, rgba(36, 60, 8, 0.5));
  color: var(--db-current-color, rgba(36, 60, 8, 0.5));
}
.db-alert button:not(:disabled):hover, [data-variant=ia].db-alert:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-neutral-bg-0-hover, #e4e5e5);
  background-color: var(--db-current-background-color, #e4e5e5);
  --db-current-background-color-red: 119;
  --db-current-background-color-green: 123;
  --db-current-background-color-blue: 132;
}

.db-alert button:not(:disabled):active, [data-variant=ia].db-alert:not(:disabled):active {
  --db-current-background-color: var(--db-colors-neutral-bg-0-pressed, #cbcbcc);
  background-color: var(--db-current-background-color, #cbcbcc);
  --db-current-background-color-red: 137;
  --db-current-background-color-green: 141;
  --db-current-background-color-blue: 148;
}

.db-alert, [data-variant=ia].db-alert {
  --db-current-background-color: var(--db-colors-neutral-bg-0-enabled, #ffffff);
  --db-current-color: var(--db-colors-neutral-on-bg-enabled, #242629);
  --db-current-element-color: var(--db-colors-neutral-element-enabled, #646973);
  --db-current-border-color: var(--db-colors-neutral-border-enabled, rgba(100, 105, 115, 0.32));
  background-color: var(--db-current-background-color, #ffffff);
  color: var(--db-current-color, #242629);
  --db-current-background-color-red: 100;
  --db-current-background-color-green: 105;
  --db-current-background-color-blue: 115;
}
.db-alert a:not(:disabled):hover {
  --db-current-color: var(--db-colors-neutral-on-bg-hover, rgba(36, 38, 41, 0.75));
  color: var(--db-current-color, rgba(36, 38, 41, 0.75));
}
.db-alert a:not(:disabled):active {
  --db-current-color: var(--db-colors-neutral-on-bg-pressed, rgba(36, 38, 41, 0.5));
  color: var(--db-current-color, rgba(36, 38, 41, 0.5));
}
.db-alert[data-variant=critical] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=critical]:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-critical-bg-hover, #f9c4c9);
  background-color: var(--db-current-background-color, #f9c4c9);
  --db-current-background-color-red: 217;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 20;
}

.db-alert[data-variant=critical] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=critical]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-critical-bg-pressed, #f8aab0);
  background-color: var(--db-current-background-color, #f8aab0);
  --db-current-background-color-red: 198;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 18;
}

.db-alert[data-variant=critical] {
  --db-current-background-color: var(--db-colors-critical-bg-enabled, #fce0e2);
  --db-current-color: var(--db-colors-critical-on-bg-enabled, #550007);
  --db-current-element-color: var(--db-colors-critical-element-enabled, #ec0016);
  --db-current-border-color: var(--db-colors-critical-border-enabled, rgba(236, 0, 22, 0.32));
  background-color: var(--db-current-background-color, #fce0e2);
  color: var(--db-current-color, #550007);
  --db-current-background-color-red: 236;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 22;
}
.db-alert[data-variant=critical] a:not(:disabled):hover {
  --db-current-color: var(--db-colors-critical-on-bg-hover, rgba(85, 0, 7, 0.75));
  color: var(--db-current-color, rgba(85, 0, 7, 0.75));
}
.db-alert[data-variant=critical] a:not(:disabled):active {
  --db-current-color: var(--db-colors-critical-on-bg-pressed, rgba(85, 0, 7, 0.5));
  color: var(--db-current-color, rgba(85, 0, 7, 0.5));
}
/* TODO: We should get the variables from UX */
.db-alert {
  border: solid 1px var(--db-current-border-color, rgba(100, 105, 115, 0.32));
}

.db-alert[data-type=inline] {
  border-radius: 8px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.2), 0 0 8px 1px rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.db-alert {
  padding: var(--db-spacing-fixed-md);
  display: flex;
  gap: var(--db-spacing-fixed-md);
  width: 100%;
  text-align: start;
}
.db-alert .db-alert-headline-link {
  display: inherit;
}
.db-alert .db-alert-content-link {
  display: none;
}
@media screen and (max-width: 768px) {
  .db-alert .db-alert-headline-link {
    display: none;
  }
  .db-alert .db-alert-content-link {
    display: inherit;
  }
}
.db-alert .db-icon::before {
  /* TODO: Take filled icons if they are ready */
  --icon-font-family: var(--db-base-icon-font-family);
  --icon-font-size: var(--db-base-icon-font-size);
}
.db-alert[data-type=inline][data-elevation=none] {
  box-shadow: none;
}
.db-alert[data-variant=critical] {
  --db-current-border-color: var(--db-colors-critical-border-enabled, rgba(236, 0, 22, 0.32));
}
.db-alert[data-variant=critical] .db-alert-icon {
  color: var(--db-colors-critical-element-enabled, #ec0016);
}
.db-alert[data-variant=informational] {
  --db-current-border-color: var(--db-colors-informational-border-enabled, rgba(0, 135, 185, 0.32));
}
.db-alert[data-variant=informational] .db-alert-icon {
  color: var(--db-colors-informational-element-enabled, #309fd1);
}
.db-alert[data-variant=warning] {
  --db-current-border-color: var(--db-colors-warning-border-enabled, rgba(172, 102, 0, 0.32));
}
.db-alert[data-variant=warning] .db-alert-icon {
  color: var(--db-colors-warning-element-enabled, #d68000);
}
.db-alert[data-variant=successful] {
  --db-current-border-color: var(--db-colors-successful-border-enabled, rgba(76, 133, 0, 0.32));
}
.db-alert[data-variant=successful] .db-alert-icon {
  color: var(--db-colors-successful-element-enabled, #63a615);
}

.db-alert-content-container {
  display: flex;
  flex-direction: column;
  gap: var(--db-spacing-fixed-xs);
  width: 100%;
}

.db-alert-headline-container {
  display: flex;
  gap: var(--db-spacing-fixed-lg);
  justify-content: space-between;
}

.db-alert-close-container {
  display: flex;
  gap: var(--db-spacing-fixed-md);
}
