@use "sass:string";
@use "../color-placeholder";
@use "../variables";

$color-variants: "neutral", "neutral-strong", "primary", "critical",
	"successful", "warning", "informational";

@mixin color-variants($ia) {
	@each $variant in $color-variants {
		&[data-color-variant="#{$variant}"] {
			@extend %db-bg-#{$variant};
		}
		@if ($ia == true) {
			&[data-color-variant="#{$variant}-ia"] {
				@extend %db-bg-#{$variant}-ia;
			}
		}
	}
}

%color-variants {
	@include color-variants(false);
}
%color-variants-ia {
	@include color-variants(true);
}

@mixin get-variant-bg-color($alpha) {
	background-color: color-mix(
		in srgb,
		transparent
			var(
				--db-current-base-color-alpha,
				string.unquote(calc((1 - $alpha) * 100) + "%")
			),
		var(--db-current-base-color, #fff)
	);
}

%bg-transparent {
	@include get-variant-bg-color(0);
}

@mixin bg-transparent-hover($with-enabled: true) {
	@extend %bg-transparent;

	@if ($with-enabled) {
		&:enabled {
			&:hover {
				@include get-variant-bg-color(0.16);
			}
		}
	} @else {
		&:hover {
			@include get-variant-bg-color(0.16);
		}
	}
}

@mixin bg-transparent-interactive($with-enabled: true) {
	@include bg-transparent-hover($with-enabled);

	@if ($with-enabled) {
		&:enabled {
			&:active {
				@include get-variant-bg-color(0.24);
			}
		}
	} @else {
		&:active {
			@include get-variant-bg-color(0.24);
		}
	}
}

%db-bg-inverted {
	color: var(--db-current-bg-color);
	background-color: var(--db-current-color);
}

%db-bg-inverted-ia {
	@extend %db-bg-inverted;

	&::before {
		color: var(--db-current-bg-color);
	}

	&:enabled {
		&:hover {
			background-color: color-mix(
				in srgb,
				transparent 16%,
				var(--db-current-color)
			);
		}

		&:active {
			background-color: color-mix(
				in srgb,
				transparent 24%,
				var(--db-current-color)
			);
		}
	}
}

$component-variants: (
	"critical": (
		"border": variables.$db-colors-critical-border-weak,
		"element": variables.$db-colors-critical-element,
		"on-bg": variables.$db-colors-critical-on-bg,
		"primary": variables.$db-colors-critical
	),
	"informational": (
		"border": variables.$db-colors-informational-border-weak,
		"element": variables.$db-colors-informational-element,
		"on-bg": variables.$db-colors-informational-on-bg,
		"primary": variables.$db-colors-informational
	),
	"warning": (
		"border": variables.$db-colors-warning-border-weak,
		"element": variables.$db-colors-warning-element,
		"on-bg": variables.$db-colors-warning-on-bg,
		"primary": variables.$db-colors-warning
	),
	"successful": (
		"border": variables.$db-colors-successful-border-weak,
		"element": variables.$db-colors-successful-element,
		"on-bg": variables.$db-colors-successful-on-bg,
		"primary": variables.$db-colors-successful
	)
);
