@use "@db-ui/foundations/build/scss/variables";
@use "../../styles/multi-select-components";

.db-multi-select-dropdown {
	position: absolute;
	z-index: 2;
	box-shadow: variables.$db-elevation-md;
	inline-size: 100%;
	min-inline-size: multi-select-components.$min-size;
	margin-block-end: variables.$db-spacing-fixed-md;

	section {
		padding-block: variables.$db-spacing-fixed-sm;
		padding-inline: multi-select-components.$list-padding-inline;
		overflow-y: auto;
	}
}
