/* You can add global styles to this file, and also import other style files */

@use "~@db-ui/base/build/scss/webpack.assets-paths" as *;
@use "~@db-ui/base/build/scss/icon/icons" as *;
@use "~@db-ui/base/build/scss/db-ui-base" as *;

