.db-header {
  background-color: #ffffff;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.2), 0 0 8px 1px rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* Mobile header should always be 56px */
  min-height: 3.5rem;
  padding-left: var(--db-spacing-fixed-md);
  padding-right: var(--db-spacing-fixed-md);
}
.db-header .db-link {
  display: inline-block;
}
.db-header .desktop-navigation,
.db-header .meta-navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .db-header {
    /* Desktop header should always be 80px */
    min-height: 5rem;
  }
  .db-header .mobile-navigation {
    display: none;
  }
  .db-header .meta-navigation {
    display: inherit;
  }
  .db-header .desktop-navigation {
    display: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
