@charset "utf-8";

@use "@db-ui/foundations/build/scss/fonts";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/animation";
@use "@db-ui/foundations/build/scss/helpers";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/link-components";

.db-link {
	@extend %db-default-link;

	a {
		// Workaround for angular
		@extend %db-link-height;
	}

	&:not([data-variant="inline"]) {
		&[data-content="internal"] {
			@include icons.set-icon("arrow_right", "after");

			&::after {
				vertical-align: top;
			}
		}

		&[data-content="external"] {
			@include icons.set-icon("arrow_up_right", "after");
		}
	}

	&[data-content="internal"],
	&[data-content="external"] {
		--db-icon-margin-start: #{variables.$db-spacing-fixed-2xs};

		&::after {
			margin-inline-start: var(--db-icon-margin-start);
		}
	}

	// We couldn't extend any existing SCSS placeholders, as this is a special construct
	&[data-variant="brand"] {
		--db-current-color-enabled: #{colors.$db-brand-contrast-high-enabled};
		--db-current-icon-color: #{colors.$db-brand-contrast-high-enabled};
		color: colors.$db-current-color-enabled;

		@include helpers.hover {
			--db-current-color-enabled: #{colors.$db-brand-contrast-high-hover};
		}

		@include helpers.active {
			--db-current-color-enabled: #{colors.$db-brand-contrast-high-pressed};
		}
	}

	&[data-size="small"] {
		--db-icon-margin-start: #{variables.$db-spacing-fixed-3xs};
		@extend %db-overwrite-font-size-sm;
	}
}
