@charset "utf-8";

@use "@db-ui/foundations/build/scss/tonality";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/animation";
@use "@db-ui/foundations/build/scss/helpers";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/component";

%db-link-height {
	display: inline-block;
	block-size: variables.$db-sizing-sm;
}

.db-link {
	@extend %default-fg-transition;
	@extend %db-link-height;
	inline-size: fit-content;
	align-items: center;

	// Link underline
	// TODO: We should evaluate whether we could move this declaration to the @font-face declarations even already
	text-underline-position: from-font;
	text-decoration-thickness: helpers.to-rem($pxValue: 1);

	white-space: nowrap;

	&:hover {
		color: color-mix(in srgb, transparent 25%, colors.$db-base-on-bg);
	}

	&:active {
		color: color-mix(in srgb, transparent 50%, colors.$db-base-on-bg);
	}

	a {
		// Workaround for angular
		@extend %db-link-height;
	}

	// "disabled" links
	&[aria-disabled="true"] {
		// TODO: probably move these to the tokens as well
		opacity: var(--db-disabled-text-opacity, 0.5);
		pointer-events: none;
	}

	&:not([data-variant="inline"]) {
		&[data-content="internal"] {
			@include icons.set-icon("arrow_forward", "after");
		}

		&[data-content="external"] {
			@include icons.set-icon("link_external", "after");
		}
	}

	&:focus-visible {
		border-radius: component.$default-border-radius;
	}

	&[data-content="internal"],
	&[data-content="external"] {
		--db-icon-margin-start: #{variables.$db-spacing-fixed-2xs};

		&:focus-visible {
			outline-offset: var(--db-focus-outline-offset, 1px);
		}

		&::after {
			margin-inline-start: var(--db-icon-margin-start);
		}
	}

	// We couldn't extend any existing SCSS placeholders, as this is a special construct
	&[data-variant="primary"] {
		@extend %db-brand-text-interactive;
	}

	&[data-size="small"] {
		--db-icon-margin-start: #{variables.$db-spacing-fixed-3xs};
		@extend %db-overwrite-font-size-sm;
	}
}
