@charset "utf-8";

@use "@db-ui/foundations/build/scss/body-styles" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/scaling-placeholder" as *;
@use "@db-ui/foundations/build/scss/color-placeholder" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/icon/icons.helpers" as *;
@use "@db-ui/foundations/build/scss/helpers/component";

.db-link {
	@extend %default-color;
	width: fit-content;
	align-items: center;
	border-radius: to-rem($pxValue: 6);

	// Link underline
	// TODO: We should evaluate whether we could move this declaration to the @font-face declarations even already
	text-underline-position: from-font;
	text-decoration-thickness: to-rem($pxValue: 1);

	// Changing color on hover should be animated by a transition
	transition: outline 0.06s, color $db-transition-color;

	&:hover {
		color: inherit;
	}

	// "disabled" links
	&[aria-disabled="true"] {
		// TODO: probably move these to the tokens as well
		opacity: var(--db-disabled-text-opacity, 0.5);
		pointer-events: none;
	}

	&[data-content="internal"] {
		@include icon(glyph(arrow-forward), 24, "outline", "after");
	}

	&[data-content="external"] {
		@include icon(glyph(link-external), 24, "outline", "after");
	}

	&:focus-visible {
		border-radius: 4px;
	}

	&[data-content="internal"],
	&[data-content="external"] {
		&:focus-visible {
			outline-offset: var(--db-focus-outline-offset, 1px);
		}

		&::after {
			--icon-margin-before: var(--db-spacing-fixed-2xs);
			margin-inline-start: var(--icon-margin-before);
		}
	}

	&[data-variant="primary"] {
		@extend %db-primary-text-ia;
	}

	&[data-size="small"] {
		--icon-font-size: var(--db-base-icon-font-size);
		@extend %db-body-sm;

		&[data-content="internal"],
		&[data-content="external"] {
			&::after {
				--icon-margin-before: var(--db-spacing-fixed-3xs);
				--icon-font-size: var(--db-base-icon-font-size);
				@extend %db-body-sm;
			}
		}
	}
}
