.db-alert {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

/**
* NEUTRAL - Placeholder Utilities
**/
.db-alert button:not(:disabled):hover, [data-variant=ia].db-alert:not(:disabled):hover {
  background-color: #e0e0e0;
  --db-current-background-color: #e0e0e0;
}
.db-alert button:not(:disabled):active, [data-variant=ia].db-alert:not(:disabled):active {
  background-color: #c2c2c2;
  --db-current-background-color: #c2c2c2;
}

.db-alert, [data-variant=ia].db-alert {
  background-color: #ffffff;
  color: #282d37;
  --db-current-background-color: #ffffff;
  --db-current-color: #282d37;
}
.db-alert a:not(:disabled):hover {
  color: rgba(40, 45, 55, 0.75);
  --db-current-color: rgba(40, 45, 55, 0.75);
}
.db-alert a:not(:disabled):active {
  color: rgba(40, 45, 55, 0.5);
  --db-current-color: rgba(40, 45, 55, 0.5);
}
/**
* PRIMARY - Placeholder Utilities
**/
/**
* SECONDARY - Placeholder Utilities
**/
/**
* WARNING - Placeholder Utilities
**/
.db-alert[data-variant=warning] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=warning]:not(:disabled):hover {
  background-color: #ecdbc5;
  --db-current-background-color: #ecdbc5;
}
.db-alert[data-variant=warning] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=warning]:not(:disabled):active {
  background-color: #e3ccaa;
  --db-current-background-color: #e3ccaa;
}

.db-alert[data-variant=warning] {
  background-color: #f5ece0;
  color: #3e2500;
  --db-current-background-color: #f5ece0;
  --db-current-color: #3e2500;
}
.db-alert[data-variant=warning] a:not(:disabled):hover {
  color: rgba(62, 37, 0, 0.75);
  --db-current-color: rgba(62, 37, 0, 0.75);
}
.db-alert[data-variant=warning] a:not(:disabled):active {
  color: rgba(62, 37, 0, 0.5);
  --db-current-color: rgba(62, 37, 0, 0.5);
}
/**
* SUCCESS - Placeholder Utilities
**/
.db-alert[data-variant=success] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=success]:not(:disabled):hover {
  background-color: #d6e3c5;
  --db-current-background-color: #d6e3c5;
}
.db-alert[data-variant=success] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=success]:not(:disabled):active {
  background-color: #c3d7aa;
  --db-current-background-color: #c3d7aa;
}

.db-alert[data-variant=success] {
  background-color: #e9f0e0;
  color: #243c08;
  --db-current-background-color: #e9f0e0;
  --db-current-color: #243c08;
}
.db-alert[data-variant=success] a:not(:disabled):hover {
  color: rgba(36, 60, 8, 0.75);
  --db-current-color: rgba(36, 60, 8, 0.75);
}
.db-alert[data-variant=success] a:not(:disabled):active {
  color: rgba(36, 60, 8, 0.5);
  --db-current-color: rgba(36, 60, 8, 0.5);
}
/**
* CRITICAL - Placeholder Utilities
**/
.db-alert[data-variant=critical] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=critical]:not(:disabled):hover {
  background-color: #f9c4c9;
  --db-current-background-color: #f9c4c9;
}
.db-alert[data-variant=critical] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=critical]:not(:disabled):active {
  background-color: #f8aab0;
  --db-current-background-color: #f8aab0;
}

.db-alert[data-variant=critical] {
  background-color: #fce0e2;
  color: #550007;
  --db-current-background-color: #fce0e2;
  --db-current-color: #550007;
}
.db-alert[data-variant=critical] a:not(:disabled):hover {
  color: rgba(85, 0, 7, 0.75);
  --db-current-color: rgba(85, 0, 7, 0.75);
}
.db-alert[data-variant=critical] a:not(:disabled):active {
  color: rgba(85, 0, 7, 0.5);
  --db-current-color: rgba(85, 0, 7, 0.5);
}
/**
* INFORMATION - Placeholder Utilities
**/
.db-alert[data-variant=information] button:not(:disabled):hover, [data-variant=ia].db-alert[data-variant=information]:not(:disabled):hover {
  background-color: #c5e3ee;
  --db-current-background-color: #c5e3ee;
}
.db-alert[data-variant=information] button:not(:disabled):active, [data-variant=ia].db-alert[data-variant=information]:not(:disabled):active {
  background-color: #aad7e7;
  --db-current-background-color: #aad7e7;
}

.db-alert[data-variant=information] {
  background-color: #e0f0f6;
  color: #003143;
  --db-current-background-color: #e0f0f6;
  --db-current-color: #003143;
}
.db-alert[data-variant=information] a:not(:disabled):hover {
  color: rgba(0, 49, 67, 0.75);
  --db-current-color: rgba(0, 49, 67, 0.75);
}
.db-alert[data-variant=information] a:not(:disabled):active {
  color: rgba(0, 49, 67, 0.5);
  --db-current-color: rgba(0, 49, 67, 0.5);
}
.db-alert {
  padding: var(--db-spacing-fixed-md);
  display: flex;
  gap: var(--db-spacing-fixed-md);
  width: 100%;
}
.db-alert .db-alert-headline-link {
  display: inherit;
}
.db-alert .db-alert-content-link {
  display: none;
}
@media screen and (max-width: 768px) {
  .db-alert .db-alert-headline-link {
    display: none;
  }
  .db-alert .db-alert-content-link {
    display: inherit;
  }
}
.db-alert .db-icon::before {
  /* TODO: Take filled icons if they are ready */
  --icon-font-family: var(--db-base-icon-font-family);
  --icon-font-size: var(--db-base-icon-font-size);
}
.db-alert[data-type=inline] {
  width: fit-content;
  min-width: calc(360px - var(--db-spacing-fixed-md));
}
.db-alert[data-type=inline] .db-alert-headline-link {
  display: none;
}
.db-alert[data-type=inline] .db-alert-content-link {
  display: inherit;
}
.db-alert[data-variant=critical] .db-alert-icon-container {
  color: #ec0016;
}
.db-alert[data-variant=information] .db-alert-icon-container {
  color: #309fd1;
}
.db-alert[data-variant=warning] .db-alert-icon-container {
  color: #d68000;
}
.db-alert[data-variant=success] .db-alert-icon-container {
  color: #63a615;
}

.db-alert-content-container {
  display: flex;
  flex-direction: column;
  gap: var(--db-spacing-fixed-xs);
  width: 100%;
}

.db-alert-headline-container {
  display: flex;
  gap: var(--db-spacing-fixed-lg);
  justify-content: space-between;
}

.db-alert-close-container {
  display: flex;
  gap: var(--db-spacing-fixed-md);
}
