@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/density";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/component";
@use "../../styles/form-components";

.db-checkbox {
	@extend %check-element;

	input {
		border-radius: variables.$db-border-radius-2xs;

		&::before {
			--db-icon-margin-end: 0;
			position: absolute;
			inset-inline: 0;
			inset-block: 0;
		}

		&:checked {
			// Check icon
			@include icons.set-icon("done");

			// The icon within the checkbox has the same dimensions as the checkbox itself and that for there can't be any border
			border-width: 0;

			color: colors.$db-current-color-bg-enabled;
			background-color: colors.$db-current-color-enabled;

			&::before {
				color: colors.$db-current-color-bg-enabled;
			}

			&:not(:disabled) {
				&:hover {
					background-color: colors.$db-current-color-hover;
				}

				&:active {
					background-color: colors.$db-current-color-pressed;
				}
			}
		}

		&:indeterminate {
			@include icons.set-icon("minus");
		}
	}
}
