@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/tonality";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/component";
@use "../../styles/form-components";

.db-checkbox {
	@extend %check-element;

	input {
		border-radius: variables.$db-border-radius-sm;

		&::before {
			--db-icon-margin-end: 0;
			position: absolute;
			inset-inline: 0;
			inset-block: 0;
		}

		&:checked {
			@extend %db-base-component-interactive;

			// Check icon
			@include icons.set-icon("done");

			// The icon within the checkbox has the same dimensions as the checkbox itself and that for there can't be any border
			border-width: 0;
		}

		&:indeterminate {
			@include icons.set-icon("minus");
		}
	}
}
