/**
* NEUTRAL - Placeholder Utilities
**/
/**
* PRIMARY - Placeholder Utilities
**/
.db-button:not([data-variant]) button:not(:disabled):hover, .db-button[data-variant=primary] button:not(:disabled):hover, .db-button:not(:disabled):hover:not([data-variant]), .db-button[data-variant=primary]:not(:disabled):hover {
  background-color: #d90014;
  --db-current-background-color: #d90014;
}
.db-button:not([data-variant]) button:not(:disabled):active, .db-button[data-variant=primary] button:not(:disabled):active, .db-button:not(:disabled):active:not([data-variant]), .db-button[data-variant=primary]:not(:disabled):active {
  background-color: #c70012;
  --db-current-background-color: #c70012;
}

.db-button:not([data-variant]), .db-button[data-variant=primary] {
  background-color: #ec0016;
  color: #ffffff;
  --db-current-background-color: #ec0016;
  --db-current-color: #ffffff;
}
.db-button:not([data-variant]) a:not(:disabled):hover, .db-button[data-variant=primary] a:not(:disabled):hover {
  color: rgba(255, 255, 255, 0.75);
  --db-current-color: rgba(255, 255, 255, 0.75);
}
.db-button:not([data-variant]) a:not(:disabled):active, .db-button[data-variant=primary] a:not(:disabled):active {
  color: rgba(255, 255, 255, 0.5);
  --db-current-color: rgba(255, 255, 255, 0.5);
}

/**
* CRITICAL - Placeholder Utilities
**/
/**
* SECONDARY - Placeholder Utilities
**/
/**
* SUCCESS - Placeholder Utilities
**/
/**
* WARNING - Placeholder Utilities
**/
/**
* INFORMATION - Placeholder Utilities
**/
.db-button {
  --loadingIndicator---color: currentColor;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  font-weight: 700;
  justify-content: center;
  min-height: var(--db-sizing-md);
  padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-md);
  text-align: center;
  transition: background-color var(--db-transition-color, 0.3s cubic-bezier(0.15, 0, 0.45, 1));
}
.db-button[data-icon], .db-button[data-icon-before] {
  padding-left: var(--db-spacing-fixed-xs);
}
.db-button[data-icon]::before, .db-button[data-icon-before]::before {
  --icon-font-family: var(--db-base-icon-font-family);
  --icon-font-size: var(--db-base-icon-font-size);
}
.db-button[data-icon-after] {
  padding-right: var(--db-spacing-fixed-xs);
}
.db-button[data-icon-after]::after {
  --icon-font-family: var(--db-base-icon-font-family);
  --icon-font-size: var(--db-base-icon-font-size);
}
.db-button.is-icon-text-replace {
  padding: 0;
  width: var(--db-sizing-md);
}
.db-button[data-variant=secondary] {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px var(--db-current-color, #282d37);
  color: var(--db-current-color, #282d37);
}
.db-button[data-variant=secondary]:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.db-button[data-variant=secondary]:not(:disabled):active {
  background-color: rgba(0, 0, 0, 0.24);
}
.db-button[data-variant=tertiary] {
  background-color: rgba(0, 0, 0, 0.04);
  color: var(--db-current-color, #282d37);
}
.db-button[data-variant=tertiary]:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.db-button[data-variant=tertiary]:not(:disabled):active {
  background-color: rgba(0, 0, 0, 0.24);
}
.db-button[data-variant=ghost] {
  background-color: rgba(0, 0, 0, 0);
  color: var(--db-current-color, #282d37);
}
.db-button[data-variant=ghost]:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.db-button[data-variant=ghost]:not(:disabled):active {
  background-color: rgba(0, 0, 0, 0.24);
}
.db-button[data-size=small] {
  min-height: var(--db-sizing-sm);
  padding: var(--db-spacing-fixed-3xs) var(--db-spacing-fixed-sm);
}
.db-button.is-icon-text-replace[data-size=small] {
  width: var(--db-sizing-sm);
}
.db-button[data-width=full] {
  width: 100%;
}
.db-button:disabled {
  opacity: 0.25;
}
.db-button[data-state=loading] {
  font-size: 0 !important;
}
.db-button[data-state=loading]::before {
  --icon-margin-after: 0;
}
.db-button[data-state=loading]::before {
  content: "";
}
.db-button[data-state=loading] {
  font-size: 0;
}
