@use "@db-ui/foundations/build/scss/body-styles" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;

$variants: (
	"critical": (
		var(--db-colors-critical-enabled, $db-colors-critical-enabled),
		var(
			--db-colors-critical-element-enabled,
			$db-colors-critical-element-enabled
		)
	),
	"information": (
		var(--db-colors-information-enabled, $db-colors-information-enabled),
		var(
			--db-colors-information-element-enabled,
			$db-colors-information-element-enabled
		)
	),
	"warning": (
		var(--db-colors-warning-enabled, $db-colors-warning-enabled),
		var(
			--db-colors-warning-element-enabled,
			$db-colors-warning-element-enabled
		)
	),
	"success": (
		var(--db-colors-success-enabled, $db-colors-success-enabled),
		var(
			--db-colors-success-element-enabled,
			$db-colors-success-element-enabled
		)
	)
);

.db-infotext {
	@extend %db-body-sm;

	display: flex;

	.db-icon {
		@extend %db-body-sm;
		margin-inline-end: $db-spacing-fixed-2xs;

		&::before {
			--icon-font-family: var(--db-base-icon-font-family-filled);
			--icon-font-size: var(--db-base-icon-font-size);
		}
	}

	&[data-size="small"] {
		@extend %db-body-xs;

		.db-icon {
			@extend %db-body-xs;
		}
	}

	@each $name, $colors in $variants {
		&[data-variant="#{$name}"] {
			color: nth($colors, 1);

			.db-icon {
				color: nth($colors, 2);
			}
		}
	}
}
