@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/color/color-variants";
@use "@db-ui/foundations/build/scss/helpers/component";

.db-card {
	@extend %color-variants;
	@extend %default-card;

	background-color: variables.$db-colors-neutral-bg;

	display: flex;
	flex-direction: column;

	& > a {
		text-decoration: none;
	}

	&[data-spacing="medium"] {
		padding: variables.$db-spacing-fixed-lg;
	}

	&[data-spacing="small"] {
		padding: variables.$db-spacing-fixed-md;
	}

	&[data-variant="interactive"] {
		// TODO use transition duration as variable
		transition: box-shadow 0.15s variables.$db-transition-functional-timing;

		&:hover:not([data-elevation="none"]) {
			cursor: pointer;
			box-shadow: variables.$db-elevation-8;
		}

		&:active:not([data-elevation="none"]) {
			box-shadow: variables.$db-elevation-2;
		}
	}

	&[data-elevation="none"] {
		box-shadow: none;
	}
}
