@use "@db-ui/foundations/build/scss/variables";
@use "../../styles/popover-component";

.db-popover {
	position: relative;

	&[data-e2e-hover="true"],
	&:hover,
	&:focus-within {
		> article:not([data-open="false"]) {
			@extend %show-popover;
		}
	}

	> article {
		@extend %popover-center;
		@extend %default-popover;

		&,
		&[data-spacing="small"] {
			padding: variables.$db-spacing-fixed-sm;
		}

		&[data-spacing="medium"] {
			padding: variables.$db-spacing-fixed-md;
		}

		&[data-spacing="none"] {
			padding: 0;
		}

		&[data-open="true"] {
			@extend %show-popover;
		}
	}
}
