@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/helpers";
@use "../../styles/form-components";
@use "../../styles/component";
@use "../../styles/multi-select-components";
@use "../../styles/select-components";
@use "../../styles/scrollbar";

.db-multi-select {
	@extend %select-icon;
	@extend %select-placeholder;

	position: relative;
	min-inline-size: calc(#{multi-select-components.$min-size} / 2);

	&,
	.db-multi-select-dropdown,
	.db-multi-select-form-field {
		inline-size: 100%;
		max-inline-size: 100%;
	}

	&[data-width="fixed"] {
		min-inline-size: multi-select-components.$min-size;
		max-inline-size: multi-select-components.$min-size;
	}

	@include form-components.set-default-form-component(summary);

	[id$="-placeholder"] {
		display: none;
		margin-inline-end: calc(
			#{form-components.$font-size-height} + #{variables.$db-spacing-fixed-sm}
		);
	}

	&:has(.db-multi-select-form-field:empty),
	&:has(.db-multi-select-form-field > :empty) {
		[id$="-placeholder"] {
			display: block;
		}
	}

	.db-multi-select-header {
		display: none;
	}

	.db-notification {
		display: none;
	}

	&:has(.db-multi-select-header) {
		&:is([data-header-enabled="true"], :not([data-header-enabled])) {
			.db-multi-select-dropdown {
				block-size: multi-select-components.$min-size;
			}
		}
	}

	&[data-header-enabled="true"] {
		.db-multi-select-header {
			display: flex;
		}
	}

	&[data-notification-enabled="true"] {
		.db-notification {
			display: grid;
		}
	}

	&[data-selected-type="tag"] {
		&[data-wrapping="overflow"] {
			.db-multi-select-form-field {
				> div {
					@extend %scrollbar;

					overflow: auto hidden;

					.db-tag {
						flex-shrink: 0;
						flex-grow: 0;
					}
				}
			}
		}

		&:not([data-wrapping="overflow"]) {
			.db-multi-select-form-field {
				&:has(:not(div:empty)) {
					padding-block: variables.$db-spacing-fixed-xs;
					block-size: auto;

					> div {
						flex-wrap: wrap;
					}
				}
			}
		}
	}
}
