@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/helpers";
@use "../../styles/form-components";
@use "../../styles/component";
@use "../../styles/multi-select-components";
@use "../../styles/select-components";

.db-multi-select {
	@extend %select-icon;
	@extend %select-placeholder;

	position: relative;
	min-inline-size: multi-select-components.$min-size;

	@include form-components.set-default-form-component(summary);

	[id$="-placeholder"] {
		display: none;
	}

	&:has(summary:empty) {
		[id$="-placeholder"] {
			display: block;
		}
	}

	.db-multi-select-header {
		display: none;
	}

	.db-notification {
		display: none;
	}

	&:has(.db-multi-select-header) {
		&:is([data-header-enabled="true"], :not([data-header-enabled])) {
			.db-multi-select-dropdown {
				block-size: multi-select-components.$min-size;
			}
		}
	}

	&[data-header-enabled="true"] {
		.db-multi-select-header {
			display: flex;
		}
	}

	&[data-notification-enabled="true"] {
		.db-notification {
			display: grid;
		}
	}
}
