@use "@db-ui/components/build/styles/db-ui-42-webpack" as *;
@use "@db-ui/foundations/build/scss/color-classes" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/tonality" as *;

#__next {
	height: inherit;
}
#__next > div {
	height: inherit;
}

db-mainnavigation {
	margin: auto;
}

github-version-switcher {
	margin: auto 16px;
}

iframe {
	width: 100%;
	height: calc(100% - 8px) !important;
}

.example-list {
	dd {
		margin-block-end: $db-spacing-fixed-md;
		max-width: 500px;
	}
}

.code-pre-wrap {
	white-space: pre-wrap;
}

.iframe-component-container {
	display: flex;
	flex-direction: column;

	.flex {
		display: flex;
		gap: $db-spacing-fixed-sm;

		&[data-variant="column"] {
			flex-direction: column;
		}
	}
}

.base-64-container {
	display: grid;
	padding: $db-spacing-fixed-md;
	gap: $db-spacing-fixed-md;

	span {
		word-break: break-all;
	}
}

.noh1 {
	h1 {
		display: none;
	}
}

.is-properties {
	height: 100%;
	overflow: auto;

	h1,
	h2 {
		display: none;
	}
}

/* TODO: Use real table css in future */
table {
	@extend %db-ui-functional;
	width: 100%;
	border-collapse: collapse;
}

table td,
table th {
	border: 1px solid $db-colors-neutral-bg-2-enabled;
	padding: $db-spacing-fixed-md;
	max-width: 33vw;
}

table tr:nth-child(even) {
	background-color: $db-colors-neutral-bg-1-enabled;
}

table th {
	padding-inline: $db-spacing-fixed-md;
	background-color: $db-colors-neutral-bg-2-enabled;
}

/* Workaround for current db-page from db-ui-elements */
div[class^="ch-"] {
	div,
	span {
		@extend %db-body-sm;
		color: $db-colors-secondary-on-enabled;
	}
}

// Code Hike (https://github.com/code-hike/codehike) styles
.ch-frame-buttons {
	display: none !important;
}
