@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";

@forward "@db-ui/components/build/styles/db-ui-42-webpack";

#__next {
	height: inherit;
}
#__next > div {
	height: inherit;
}

db-mainnavigation {
	margin: auto;
}

github-version-switcher {
	margin: auto 16px;
}

iframe {
	width: 100%;
	height: calc(100% - 8px) !important;
}

.example-list {
	dd {
		margin-block-end: variables.$db-spacing-fixed-md;
		max-width: 500px;
	}
}

.code-pre-wrap {
	white-space: pre-wrap;
}

.iframe-component-container {
	display: flex;
	flex-direction: column;

	.flex {
		display: flex;
		gap: variables.$db-spacing-fixed-sm;

		&[data-variant="column"] {
			flex-direction: column;
		}
	}
}

.base-64-container {
	display: grid;
	padding: variables.$db-spacing-fixed-md;
	gap: variables.$db-spacing-fixed-md;

	span {
		word-break: break-all;
	}
}

.noh1 {
	h1 {
		display: none;
	}
}

.is-properties {
	height: 100%;
	overflow: auto;

	h1,
	h2 {
		display: none;
	}
}

/* TODO: Use real table css in future */
table {
	@extend %db-ui-functional;
	width: 100%;
	border-collapse: collapse;
}

table td,
table th {
	border: 1px solid colors.$db-neutral-border-weak;
	padding: variables.$db-spacing-fixed-md;
	max-width: 33vw;
}

table tr:nth-child(even) {
	@extend %db-bg-neutral-transparent-semi;
}

table th {
	@extend %db-bg-neutral-transparent-semi;
	padding-inline: variables.$db-spacing-fixed-md;
}

/* Workaround for current db-page from db-ui-elements */
div[class^="ch-"] {
	div,
	span {
		@extend %db-overwrite-font-size-sm;
		color: colors.$db-base-on-bg;
	}
}

// Code Hike (https://github.com/code-hike/codehike) styles
.ch-frame-buttons {
	display: none !important;
}
