@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";

pre:has(.hljs):not(:has(.language-shell)) {
	@extend %db-bg-neutral-transparent-full;

	.hljs {
		@extend %db-bg-neutral-transparent-full;
	}
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: colors.$db-successful-text;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: colors.$db-successful-text;
}
.hljs-attribute,
.hljs-literal,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: colors.$db-successful-text;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
	/* prettylights-syntax-string */
	color: colors.$db-successful-text;
}
.hljs-built_in,
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: colors.$db-warning-text;
}
.hljs-attr {
	color: colors.$db-informational-text;
}
.hljs-meta,
.hljs-comment,
.hljs-code,
.hljs-formula {
	/* prettylights-syntax-comment */
	color: colors.$db-current-color;
}

.hljs-tag,
.hljs-name {
	color: colors.$db-warning-text;
}

.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: colors.$db-successful-text;
}
.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: colors.$db-neutral-bg;
}
.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: colors.$db-informational-text;
	font-weight: bold;
}
.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: colors.$db-warning-text;
}
.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: colors.$db-current-color;
	font-style: italic;
}
.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: colors.$db-current-color;
	font-weight: bold;
}
.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	color: colors.$db-successful-text;
	background-color: colors.$db-neutral-text;
}
.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	color: colors.$db-critical-text;
	background-color: colors.$db-neutral-text;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation {
	/* purposely ignored */
}
