<app-default-component
	title="db-main-navigation"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<div>
			<h6>{{ exampleName }}</h6>
			<db-main-navigation>
				<db-navigation-item [active]="true">
					<ng-container *dbNavigationContent>
						Navi-Item 1
					</ng-container>
					<ng-container sub-navigation>
						<db-navigation-item [active]="true">
							<ng-container *dbNavigationContent>
								Sub-Navi-Item 1
							</ng-container>
							<ng-container sub-navigation>
								<db-navigation-item
									[active]="true"
									[areaPopup]="false"
								>
									<ng-container *dbNavigationContent>
										<a href="#">Sub-Sub-Navi-Item 1</a>
									</ng-container>
								</db-navigation-item>
								<db-navigation-item [areaPopup]="false">
									<ng-container *dbNavigationContent>
										<a href="#">Sub-Sub-Navi-Item 2</a>
									</ng-container>
								</db-navigation-item>
							</ng-container>
						</db-navigation-item>
						<db-navigation-item [areaPopup]="false">
							<ng-container *dbNavigationContent>
								<a href="#">Sub-Navi-Item 2</a>
							</ng-container>
						</db-navigation-item>
					</ng-container>
				</db-navigation-item>
				<db-navigation-item icon="account" [areaPopup]="false">
					<ng-container *dbNavigationContent>
						<a href="#">Navi-Item 2</a>
					</ng-container>
				</db-navigation-item>
				<db-navigation-item [disabled]="true" [areaPopup]="false">
					<ng-container *dbNavigationContent>
						<a href="#">Navi-Item 3</a>
					</ng-container>
				</db-navigation-item>
			</db-main-navigation>
		</div>
	</ng-template>
</app-default-component>
