@use "sass:string";
@use "variables";
@use "../helpers/functions";
@use "variables.additional" as additional-colors;

@mixin set-current-colors($bg, $on, $hover: false, $pressed: false) {
	background-color: $bg;
	color: $on;

	&::before,
	&::after {
		--db-icon-color: $on;
	}

	@if ($hover) {
		@include functions.hover {
			background-color: $hover;
		}
	}

	@if ($pressed) {
		@include functions.active {
			background-color: $pressed;
		}
	}
}

$backgrounds: "lvl-1", "lvl-2", "lvl-3", "transparent-full", "transparent-semi";

@mixin generate-color-placeholder($variant) {
	@each $contrast in [ "high", "low"] {
		%db-#{$variant}-contrast-#{$contrast} {
			--db-current-color-border: var(
				--db-#{$variant}-contrast-#{$contrast}-enabled
			);
			@include set-current-colors(
				var(--db-#{$variant}-contrast-#{$contrast}-enabled),
				var(--db-#{$variant}-on-contrast-enabled)
			);

			&-interactive {
				@extend %db-#{$variant}-contrast-#{$contrast};

				&:hover {
					background: var(
						--db-#{$variant}-contrast-#{$contrast}-hover
					);
				}

				&:active {
					background: var(
						--db-#{$variant}-contrast-#{$contrast}-pressed
					);
				}
			}
		}
	}

	%db-#{$variant}-variables {
		/* used for transparent backgrounds */
		--db-current-color-bg-transparent-full-enabled: var(
			--db-#{$variant}-bg-transparent-full-enabled
		);
		--db-current-color-bg-transparent-semi-enabled: var(
			--db-#{$variant}-bg-transparent-semi-enabled
		);
		--db-current-color-bg-transparent-hover: var(
			--db-#{$variant}-bg-transparent-hover
		);
		--db-current-color-bg-transparent-pressed: var(
			--db-#{$variant}-bg-transparent-pressed
		);

		/* used for backgrounds */
		--db-current-color-bg-lvl-1-enabled: var(
			--db-#{$variant}-bg-lvl-1-enabled
		);
		--db-current-color-bg-lvl-2-enabled: var(
			--db-#{$variant}-bg-lvl-2-enabled
		);
		--db-current-color-bg-lvl-3-enabled: var(
			--db-#{$variant}-bg-lvl-3-enabled
		);

		/* used for icons and borders */
		--db-current-color-contrast-low-enabled: var(
			--db-#{$variant}-contrast-low-enabled
		);
		--db-current-color-border: var(--db-#{$variant}-border);

		/* used for adaptive tags (interactive) */
		--db-current-color-bg-lvl-1-hover: var(--db-#{$variant}-bg-lvl-1-hover);
		--db-current-color-bg-lvl-1-pressed: var(
			--db-#{$variant}-bg-lvl-1-pressed
		);
		--db-current-color-bg-lvl-2-hover: var(--db-#{$variant}-bg-lvl-2-hover);
		--db-current-color-bg-lvl-2-pressed: var(
			--db-#{$variant}-bg-lvl-2-pressed
		);
		--db-current-color-bg-lvl-3-hover: var(--db-#{$variant}-bg-lvl-3-hover);
		--db-current-color-bg-lvl-3-pressed: var(
			--db-#{$variant}-bg-lvl-3-pressed
		);
		/* used for adaptive tags (strong & interactive) */
		--db-current-color-on-contrast-enabled: var(
			--db-#{$variant}-on-contrast-enabled
		);

		--db-current-color-contrast-high-enabled: var(
			--db-#{$variant}-contrast-high-enabled
		);
		--db-current-color-contrast-high-hover: var(
			--db-#{$variant}-contrast-high-hover
		);
		--db-current-color-contrast-high-pressed: var(
			--db-#{$variant}-contrast-high-pressed
		);

		--db-current-color-contrast-low-enabled: var(
			--db-#{$variant}-contrast-low-enabled
		);
		--db-current-color-contrast-low-hover: var(
			--db-#{$variant}-contrast-low-hover
		);
		--db-current-color-contrast-low-pressed: var(
			--db-#{$variant}-contrast-low-pressed
		);

		/* on-colors */
		--db-current-color-on-bg-enabled: var(--db-#{$variant}-on-bg-enabled);
		--db-current-color-on-bg-hover: var(--db-#{$variant}-on-bg-hover);
		--db-current-color-on-bg-pressed: var(--db-#{$variant}-on-bg-pressed);

		/* weak colors */
		--db-current-color-on-bg-weak-enabled: var(
			--db-#{$variant}-on-bg-weak-enabled
		);
		--db-current-color-on-bg-weak-hover: var(
			--db-#{$variant}-on-bg-weak-hover
		);
		--db-current-color-on-bg-weak-pressed: var(
			--db-#{$variant}-on-bg-weak-pressed
		);
	}

	@each $bg in $backgrounds {
		%db-#{$variant}-bg-#{$bg} {
			@extend %db-#{$variant}-variables;

			@include set-current-colors(
				var(--db-#{$variant}-bg-#{$bg}-enabled),
				var(--db-#{$variant}-on-bg-enabled)
			);
		}
	}
}

@each $variant in variables.$variants {
	@include generate-color-placeholder($variant);
}

@each $variant in additional-colors.$additional-variants {
	@include generate-color-placeholder($variant);
}
