$variants: "neutral", "brand", "critical", "successful", "warning",
	"informational";

$variant-colors: "neutral", "critical", "successful", "warning", "informational";

$on-background-colors: "default", "weak", "contrast", "contrast-weak", "border";

$background-colors: "lvl-1", "lvl-2", "lvl-3", "transparent-full",
	"transparent-semi";

// current - for adaptive colors
$db-current-icon-color: var(--db-current-icon-color, inherit);

$db-current-color-enabled: var(--db-current-color-enabled);
$db-current-color-hover: var(--db-current-color-hover);
$db-current-color-pressed: var(--db-current-color-pressed);
$db-current-color-bg-enabled: var(--db-current-color-bg-enabled);
$db-current-color-bg-hover: var(--db-current-color-bg-hover);
$db-current-color-bg-pressed: var(--db-current-color-bg-pressed);
$db-current-color-on-bg-enabled: var(--db-current-color-on-bg-enabled);
$db-current-color-on-bg-hover: var(--db-current-color-on-bg-hover);
$db-current-color-on-bg-pressed: var(--db-current-color-on-bg-pressed);
$db-current-color-on-bg-weak-enabled: var(
	--db-current-color-on-bg-weak-enabled
);
$db-current-color-on-bg-weak-hover: var(--db-current-color-on-bg-weak-hover);
$db-current-color-on-bg-weak-pressed: var(
	--db-current-color-on-bg-weak-pressed
);
$db-current-color-bg-lvl-1-enabled: var(--db-current-color-bg-lvl-1-enabled);
$db-current-color-bg-lvl-1-hover: var(--db-current-color-bg-lvl-1-hover);
$db-current-color-bg-lvl-1-pressed: var(--db-current-color-bg-lvl-1-pressed);
$db-current-color-bg-lvl-2-enabled: var(--db-current-color-bg-lvl-2-enabled);
$db-current-color-bg-lvl-2-hover: var(--db-current-color-bg-lvl-2-hover);
$db-current-color-bg-lvl-2-pressed: var(--db-current-color-bg-lvl-2-pressed);
$db-current-color-bg-lvl-3-enabled: var(--db-current-color-bg-lvl-3-enabled);
$db-current-color-bg-lvl-3-hover: var(--db-current-color-bg-lvl-3-hover);
$db-current-color-bg-lvl-3-pressed: var(--db-current-color-bg-lvl-3-pressed);
$db-current-color-on-contrast-enabled: var(
	--db-current-color-on-contrast-enabled
);
$db-current-color-on-contrast-hover: var(--db-current-color-on-contrast-hover);
$db-current-color-on-contrast-pressed: var(
	--db-current-color-on-contrast-pressed
);
$db-current-color-contrast-high-enabled: var(
	--db-current-color-contrast-high-enabled
);
$db-current-color-contrast-high-hover: var(
	--db-current-color-contrast-high-hover
);
$db-current-color-contrast-high-pressed: var(
	--db-current-color-contrast-high-pressed
);
$db-current-color-contrast-low-enabled: var(
	--db-current-color-contrast-low-enabled
);
$db-current-color-contrast-low-hover: var(
	--db-current-color-contrast-low-hover
);
$db-current-color-contrast-low-pressed: var(
	--db-current-color-contrast-low-pressed
);
$db-current-color-border: var(--db-current-color-border);
$db-current-color-bg-transparent-full-enabled: var(
	--db-current-color-bg-transparent-full-enabled
);
$db-current-color-bg-transparent-semi-enabled: var(
	--db-current-color-bg-transparent-semi-enabled
);
$db-current-color-bg-transparent-hover: var(
	--db-current-color-bg-transparent-hover
);
$db-current-color-bg-transparent-pressed: var(
	--db-current-color-bg-transparent-pressed
);

// special tokens just for db-button
$db-brand-on-enabled: var(--db-brand-on-enabled);
$db-brand-on-hover: var(--db-brand-on-hover);
$db-brand-on-pressed: var(--db-brand-on-pressed);
$db-brand-origin-enabled: var(--db-brand-origin-enabled);
$db-brand-origin-hover: var(--db-brand-origin-hover);
$db-brand-origin-pressed: var(--db-brand-origin-pressed);
