$variants: "neutral", "brand", "critical", "successful", "warning",
	"informational";

$variant-colors: "neutral", "critical", "successful", "warning", "informational";

// current - for adaptive colors
$db-current-icon-color: var(--db-current-icon-color, inherit);

$db-current-color-enabled: var(--db-current-color-enabled);
$db-current-color-hover: var(--db-current-color-hover);
$db-current-color-pressed: var(--db-current-color-pressed);
$db-current-color-bg-enabled: var(--db-current-color-bg-enabled);
$db-current-color-bg-hover: var(--db-current-color-bg-hover);
$db-current-color-bg-pressed: var(--db-current-color-bg-pressed);

$db-current-color-bg-lvl-1-enabled: var(--db-current-color-bg-lvl-1-enabled);
$db-current-color-bg-lvl-1-hover: var(--db-current-color-bg-lvl-1-hover);
$db-current-color-bg-lvl-1-pressed: var(--db-current-color-bg-lvl-1-pressed);
$db-current-color-bg-lvl-2-enabled: var(--db-current-color-bg-lvl-2-enabled);
$db-current-color-bg-lvl-2-hover: var(--db-current-color-bg-lvl-2-hover);
$db-current-color-bg-lvl-2-pressed: var(--db-current-color-bg-lvl-2-pressed);
$db-current-color-bg-lvl-3-enabled: var(--db-current-color-bg-lvl-3-enabled);
$db-current-color-bg-lvl-3-hover: var(--db-current-color-bg-lvl-3-hover);
$db-current-color-bg-lvl-3-pressed: var(--db-current-color-bg-lvl-3-pressed);
$db-current-color-on-contrast-enabled: var(
	--db-current-color-on-contrast-enabled
);
$db-current-color-on-contrast-hover: var(--db-current-color-on-contrast-hover);
$db-current-color-on-contrast-pressed: var(
	--db-current-color-on-contrast-pressed
);
$db-current-color-contrast-high-enabled: var(
	--db-current-color-contrast-high-enabled
);
$db-current-color-contrast-high-hover: var(
	--db-current-color-contrast-high-hover
);
$db-current-color-contrast-high-pressed: var(
	--db-current-color-contrast-high-pressed
);
$db-current-color-contrast-low-enabled: var(
	--db-current-color-contrast-low-enabled
);
$db-current-color-contrast-low-hover: var(
	--db-current-color-contrast-low-hover
);
$db-current-color-contrast-low-pressed: var(
	--db-current-color-contrast-low-pressed
);
$db-current-color-border: var(--db-current-color-border);
$db-current-color-bg-transparent-full-enabled: var(
	--db-current-color-bg-transparent-full-enabled
);
$db-current-color-bg-transparent-semi-enabled: var(
	--db-current-color-bg-transparent-semi-enabled
);
$db-current-color-bg-transparent-hover: var(
	--db-current-color-bg-transparent-hover
);
$db-current-color-bg-transparent-pressed: var(
	--db-current-color-bg-transparent-pressed
);

// special tokens just for db-button
$db-brand-on-enabled: var(--db-brand-on-enabled);
$db-brand-on-hover: var(--db-brand-on-hover);
$db-brand-on-pressed: var(--db-brand-on-pressed);
$db-brand-origin-enabled: var(--db-brand-origin-enabled);
$db-brand-origin-hover: var(--db-brand-origin-hover);
$db-brand-origin-pressed: var(--db-brand-origin-pressed);

/* Palette colors */

// brand
$db-brand-0: var(--db-brand-0);
$db-brand-1: var(--db-brand-1);
$db-brand-2: var(--db-brand-2);
$db-brand-3: var(--db-brand-3);
$db-brand-4: var(--db-brand-4);
$db-brand-5: var(--db-brand-5);
$db-brand-6: var(--db-brand-6);
$db-brand-7: var(--db-brand-7);
$db-brand-8: var(--db-brand-8);
$db-brand-9: var(--db-brand-9);
$db-brand-10: var(--db-brand-10);
$db-brand-11: var(--db-brand-11);
$db-brand-12: var(--db-brand-12);

// neutral
$db-neutral-0: var(--db-neutral-0);
$db-neutral-1: var(--db-neutral-1);
$db-neutral-2: var(--db-neutral-2);
$db-neutral-3: var(--db-neutral-3);
$db-neutral-4: var(--db-neutral-4);
$db-neutral-5: var(--db-neutral-5);
$db-neutral-6: var(--db-neutral-6);
$db-neutral-7: var(--db-neutral-7);
$db-neutral-8: var(--db-neutral-8);
$db-neutral-9: var(--db-neutral-9);
$db-neutral-10: var(--db-neutral-10);
$db-neutral-11: var(--db-neutral-11);
$db-neutral-12: var(--db-neutral-12);

// informational
$db-informational-0: var(--db-informational-0);
$db-informational-1: var(--db-informational-1);
$db-informational-2: var(--db-informational-2);
$db-informational-3: var(--db-informational-3);
$db-informational-4: var(--db-informational-4);
$db-informational-5: var(--db-informational-5);
$db-informational-6: var(--db-informational-6);
$db-informational-7: var(--db-informational-7);
$db-informational-8: var(--db-informational-8);
$db-informational-9: var(--db-informational-9);
$db-informational-10: var(--db-informational-10);
$db-informational-11: var(--db-informational-11);
$db-informational-12: var(--db-informational-12);

// warning
$db-warning-0: var(--db-warning-0);
$db-warning-1: var(--db-warning-1);
$db-warning-2: var(--db-warning-2);
$db-warning-3: var(--db-warning-3);
$db-warning-4: var(--db-warning-4);
$db-warning-5: var(--db-warning-5);
$db-warning-6: var(--db-warning-6);
$db-warning-7: var(--db-warning-7);
$db-warning-8: var(--db-warning-8);
$db-warning-9: var(--db-warning-9);
$db-warning-10: var(--db-warning-10);
$db-warning-11: var(--db-warning-11);
$db-warning-12: var(--db-warning-12);

// successful
$db-successful-0: var(--db-successful-0);
$db-successful-1: var(--db-successful-1);
$db-successful-2: var(--db-successful-2);
$db-successful-3: var(--db-successful-3);
$db-successful-4: var(--db-successful-4);
$db-successful-5: var(--db-successful-5);
$db-successful-6: var(--db-successful-6);
$db-successful-7: var(--db-successful-7);
$db-successful-8: var(--db-successful-8);
$db-successful-9: var(--db-successful-9);
$db-successful-10: var(--db-successful-10);
$db-successful-11: var(--db-successful-11);
$db-successful-12: var(--db-successful-12);

// critical
$db-critical-0: var(--db-critical-0);
$db-critical-1: var(--db-critical-1);
$db-critical-2: var(--db-critical-2);
$db-critical-3: var(--db-critical-3);
$db-critical-4: var(--db-critical-4);
$db-critical-5: var(--db-critical-5);
$db-critical-6: var(--db-critical-6);
$db-critical-7: var(--db-critical-7);
$db-critical-8: var(--db-critical-8);
$db-critical-9: var(--db-critical-9);
$db-critical-10: var(--db-critical-10);
$db-critical-11: var(--db-critical-11);
$db-critical-12: var(--db-critical-12);

/* Variants for adaptive components like input, select, notification, ... */

$db-brand-bg-lvl-1-enabled: var(--db-brand-bg-lvl-1-enabled);
$db-brand-bg-lvl-1-hover: var(--db-brand-bg-lvl-1-hover);
$db-brand-bg-lvl-1-pressed: var(--db-brand-bg-lvl-1-pressed);
$db-brand-bg-lvl-2-enabled: var(--db-brand-bg-lvl-2-enabled);
$db-brand-bg-lvl-2-hover: var(--db-brand-bg-lvl-2-hover);
$db-brand-bg-lvl-2-pressed: var(--db-brand-bg-lvl-2-pressed);
$db-brand-bg-lvl-3-enabled: var(--db-brand-bg-lvl-3-enabled);
$db-brand-bg-lvl-3-hover: var(--db-brand-bg-lvl-3-hover);
$db-brand-bg-lvl-3-pressed: var(--db-brand-bg-lvl-3-pressed);
$db-brand-bg-transparent-full-enabled: var(
	--db-brand-bg-transparent-full-enabled
);
$db-brand-bg-transparent-semi-enabled: var(
	--db-brand-bg-transparent-semi-enabled
);
$db-brand-bg-transparent-hover: var(--db-brand-bg-transparent-hover);
$db-brand-bg-transparent-pressed: var(--db-brand-bg-transparent-pressed);
$db-brand-on-bg-enabled: var(--db-brand-on-bg-enabled);
$db-brand-on-bg-hover: var(--db-brand-on-bg-hover);
$db-brand-on-bg-pressed: var(--db-brand-on-bg-pressed);
$db-brand-on-bg-weak-enabled: var(--db-brand-on-bg-weak-enabled);
$db-brand-on-bg-weak-hover: var(--db-brand-on-bg-weak-hover);
$db-brand-on-bg-weak-pressed: var(--db-brand-on-bg-weak-pressed);
$db-brand-on-contrast-enabled: var(--db-brand-on-contrast-enabled);
$db-brand-contrast-high-enabled: var(--db-brand-contrast-high-enabled);
$db-brand-contrast-high-hover: var(--db-brand-contrast-high-hover);
$db-brand-contrast-high-pressed: var(--db-brand-contrast-high-pressed);
$db-brand-contrast-low-enabled: var(--db-brand-contrast-low-enabled);
$db-brand-contrast-low-hover: var(--db-brand-contrast-low-hover);
$db-brand-contrast-low-pressed: var(--db-brand-contrast-low-pressed);
$db-brand-border: var(--db-brand-border);

$db-neutral-bg-lvl-1-enabled: var(--db-neutral-bg-lvl-1-enabled);
$db-neutral-bg-lvl-1-hover: var(--db-neutral-bg-lvl-1-hover);
$db-neutral-bg-lvl-1-pressed: var(--db-neutral-bg-lvl-1-pressed);
$db-neutral-bg-lvl-2-enabled: var(--db-neutral-bg-lvl-2-enabled);
$db-neutral-bg-lvl-2-hover: var(--db-neutral-bg-lvl-2-hover);
$db-neutral-bg-lvl-2-pressed: var(--db-neutral-bg-lvl-2-pressed);
$db-neutral-bg-lvl-3-enabled: var(--db-neutral-bg-lvl-3-enabled);
$db-neutral-bg-lvl-3-hover: var(--db-neutral-bg-lvl-3-hover);
$db-neutral-bg-lvl-3-pressed: var(--db-neutral-bg-lvl-3-pressed);
$db-neutral-bg-transparent-full-enabled: var(
	--db-neutral-bg-transparent-full-enabled
);
$db-neutral-bg-transparent-semi-enabled: var(
	--db-neutral-bg-transparent-semi-enabled
);
$db-neutral-bg-transparent-hover: var(--db-neutral-bg-transparent-hover);
$db-neutral-bg-transparent-pressed: var(--db-neutral-bg-transparent-pressed);
$db-neutral-on-bg-enabled: var(--db-neutral-on-bg-enabled);
$db-neutral-on-bg-hover: var(--db-neutral-on-bg-hover);
$db-neutral-on-bg-pressed: var(--db-neutral-on-bg-pressed);
$db-neutral-on-bg-weak-enabled: var(--db-neutral-on-bg-weak-enabled);
$db-neutral-on-bg-weak-hover: var(--db-neutral-on-bg-weak-hover);
$db-neutral-on-bg-weak-pressed: var(--db-neutral-on-bg-weak-pressed);
$db-neutral-on-contrast-enabled: var(--db-neutral-on-contrast-enabled);
$db-neutral-contrast-high-enabled: var(--db-neutral-contrast-high-enabled);
$db-neutral-contrast-high-hover: var(--db-neutral-contrast-high-hover);
$db-neutral-contrast-high-pressed: var(--db-neutral-contrast-high-pressed);
$db-neutral-contrast-low-enabled: var(--db-neutral-contrast-low-enabled);
$db-neutral-contrast-low-hover: var(--db-neutral-contrast-low-hover);
$db-neutral-contrast-low-pressed: var(--db-neutral-contrast-low-pressed);
$db-neutral-border: var(--db-neutral-border);

$db-informational-bg-lvl-1-enabled: var(--db-informational-bg-lvl-1-enabled);
$db-informational-bg-lvl-1-hover: var(--db-informational-bg-lvl-1-hover);
$db-informational-bg-lvl-1-pressed: var(--db-informational-bg-lvl-1-pressed);
$db-informational-bg-lvl-2-enabled: var(--db-informational-bg-lvl-2-enabled);
$db-informational-bg-lvl-2-hover: var(--db-informational-bg-lvl-2-hover);
$db-informational-bg-lvl-2-pressed: var(--db-informational-bg-lvl-2-pressed);
$db-informational-bg-lvl-3-enabled: var(--db-informational-bg-lvl-3-enabled);
$db-informational-bg-lvl-3-hover: var(--db-informational-bg-lvl-3-hover);
$db-informational-bg-lvl-3-pressed: var(--db-informational-bg-lvl-3-pressed);
$db-informational-bg-transparent-full-enabled: var(
	--db-informational-bg-transparent-full
);
$db-informational-bg-transparent-semi-enabled: var(
	--db-informational-bg-transparent-semi
);
$db-informational-bg-transparent-hover: var(
	--db-informational-bg-transparent-hover
);
$db-informational-bg-transparent-pressed: var(
	--db-informational-bg-transparent-pressed
);
$db-informational-on-bg-enabled: var(--db-informational-on-bg-enabled);
$db-informational-on-bg-hover: var(--db-informational-on-bg-hover);
$db-informational-on-bg-pressed: var(--db-informational-on-bg-pressed);
$db-informational-on-bg-weak-enabled: var(
	--db-informational-on-bg-weak-enabled
);
$db-informational-on-bg-weak-hover: var(--db-informational-on-bg-weak-hover);
$db-informational-on-bg-weak-pressed: var(
	--db-informational-on-bg-weak-pressed
);
$db-informational-on-contrast-enabled: var(
	--db-informational-on-contrast-enabled
);
$db-informational-contrast-high-enabled: var(
	--db-informational-contrast-high-enabled
);
$db-informational-contrast-high-hover: var(
	--db-informational-contrast-high-hover
);
$db-informational-contrast-high-pressed: var(
	--db-informational-contrast-high-pressed
);
$db-informational-contrast-low-enabled: var(
	--db-informational-contrast-low-enabled
);
$db-informational-contrast-low-hover: var(
	--db-informational-contrast-low-hover
);
$db-informational-contrast-low-pressed: var(
	--db-informational-contrast-low-pressed
);
$db-informational-border: var(--db-informational-border);

$db-warning-bg-lvl-1-enabled: var(--db-warning-bg-lvl-1-enabled);
$db-warning-bg-lvl-1-hover: var(--db-warning-bg-lvl-1-hover);
$db-warning-bg-lvl-1-pressed: var(--db-warning-bg-lvl-1-pressed);
$db-warning-bg-lvl-2-enabled: var(--db-warning-bg-lvl-2-enabled);
$db-warning-bg-lvl-2-hover: var(--db-warning-bg-lvl-2-hover);
$db-warning-bg-lvl-2-pressed: var(--db-warning-bg-lvl-2-pressed);
$db-warning-bg-lvl-3-enabled: var(--db-warning-bg-lvl-3-enabled);
$db-warning-bg-lvl-3-hover: var(--db-warning-bg-lvl-3-hover);
$db-warning-bg-lvl-3-pressed: var(--db-warning-bg-lvl-3-pressed);
$db-warning-bg-transparent-full-enabled: var(
	--db-warning-bg-transparent-full-enabled
);
$db-warning-bg-transparent-semi-enabled: var(
	--db-warning-bg-transparent-semi-enabled
);
$db-warning-bg-transparent-hover: var(--db-warning-bg-transparent-hover);
$db-warning-bg-transparent-pressed: var(--db-warning-bg-transparent-pressed);
$db-warning-on-bg-enabled: var(--db-warning-on-bg-enabled);
$db-warning-on-bg-hover: var(--db-warning-on-bg-hover);
$db-warning-on-bg-pressed: var(--db-warning-on-bg-pressed);
$db-warning-on-bg-weak-enabled: var(--db-warning-on-bg-weak-enabled);
$db-warning-on-bg-weak-hover: var(--db-warning-on-bg-weak-hover);
$db-warning-on-bg-weak-pressed: var(--db-warning-on-bg-weak-pressed);
$db-warning-on-contrast-enabled: var(--db-warning-on-contrast-enabled);
$db-warning-contrast-high-enabled: var(--db-warning-contrast-high-enabled);
$db-warning-contrast-high-hover: var(--db-warning-contrast-high-hover);
$db-warning-contrast-high-pressed: var(--db-warning-contrast-high-pressed);
$db-warning-contrast-low-enabled: var(--db-warning-contrast-low-enabled);
$db-warning-contrast-low-hover: var(--db-warning-contrast-low-hover);
$db-warning-contrast-low-pressed: var(--db-warning-contrast-low-pressed);
$db-warning-border: var(--db-warning-border);

$db-successful-bg-lvl-1-enabled: var(--db-successful-bg-lvl-1-enabled);
$db-successful-bg-lvl-1-hover: var(--db-successful-bg-lvl-1-hover);
$db-successful-bg-lvl-1-pressed: var(--db-successful-bg-lvl-1-pressed);
$db-successful-bg-lvl-2-enabled: var(--db-successful-bg-lvl-2-enabled);
$db-successful-bg-lvl-2-hover: var(--db-successful-bg-lvl-2-hover);
$db-successful-bg-lvl-2-pressed: var(--db-successful-bg-lvl-2-pressed);
$db-successful-bg-lvl-3-enabled: var(--db-successful-bg-lvl-3-enabled);
$db-successful-bg-lvl-3-hover: var(--db-successful-bg-lvl-3-hover);
$db-successful-bg-lvl-3-pressed: var(--db-successful-bg-lvl-3-pressed);
$db-successful-bg-transparent-full-enabled: var(
	--db-successful-bg-transparent-full-enabled
);
$db-successful-bg-transparent-semi-enabled: var(
	--db-successful-bg-transparent-semi-enabled
);
$db-successful-bg-transparent-hover: var(--db-successful-bg-transparent-hover);
$db-successful-bg-transparent-pressed: var(
	--db-successful-bg-transparent-pressed
);
$db-successful-on-bg-enabled: var(--db-successful-on-bg-enabled);
$db-successful-on-bg-hover: var(--db-successful-on-bg-hover);
$db-successful-on-bg-pressed: var(--db-successful-on-bg-pressed);
$db-successful-on-bg-weak-enabled: var(--db-successful-on-bg-weak-enabled);
$db-successful-on-bg-weak-hover: var(--db-successful-on-bg-weak-hover);
$db-successful-on-bg-weak-pressed: var(--db-successful-on-bg-weak-pressed);
$db-successful-on-contrast-enabled: var(--db-successful-on-contrast-enabled);
$db-successful-contrast-high-enabled: var(
	--db-successful-contrast-high-enabled
);
$db-successful-contrast-high-hover: var(--db-successful-contrast-high-hover);
$db-successful-contrast-high-pressed: var(
	--db-successful-contrast-high-pressed
);
$db-successful-contrast-low-enabled: var(--db-successful-contrast-low-enabled);
$db-successful-contrast-low-hover: var(--db-successful-contrast-low-hover);
$db-successful-contrast-low-pressed: var(--db-successful-contrast-low-pressed);
$db-successful-border: var(--db-successful-border);

$db-critical-bg-lvl-1-enabled: var(--db-critical-bg-lvl-1-enabled);
$db-critical-bg-lvl-1-hover: var(--db-critical-bg-lvl-1-hover);
$db-critical-bg-lvl-1-pressed: var(--db-critical-bg-lvl-1-pressed);
$db-critical-bg-lvl-2-enabled: var(--db-critical-bg-lvl-2-enabled);
$db-critical-bg-lvl-2-hover: var(--db-critical-bg-lvl-2-hover);
$db-critical-bg-lvl-2-pressed: var(--db-critical-bg-lvl-2-pressed);
$db-critical-bg-lvl-3-enabled: var(--db-critical-bg-lvl-3-enabled);
$db-critical-bg-lvl-3-hover: var(--db-critical-bg-lvl-3-hover);
$db-critical-bg-lvl-3-pressed: var(--db-critical-bg-lvl-3-pressed);
$db-critical-bg-transparent-full-enabled: var(
	--db-critical-bg-transparent-full-enabled
);
$db-critical-bg-transparent-semi-enabled: var(
	--db-critical-bg-transparent-semi-enabled
);
$db-critical-bg-transparent-hover: var(--db-critical-bg-transparent-hover);
$db-critical-bg-transparent-pressed: var(--db-critical-bg-transparent-pressed);
$db-critical-on-bg-enabled: var(--db-critical-on-bg-enabled);
$db-critical-on-bg-hover: var(--db-critical-on-bg-hover);
$db-critical-on-bg-pressed: var(--db-critical-on-bg-pressed);
$db-critical-on-bg-weak-enabled: var(--db-critical-on-bg-weak-enabled);
$db-critical-on-bg-weak-hover: var(--db-critical-on-bg-weak-hover);
$db-critical-on-bg-weak-pressed: var(--db-critical-on-bg-weak-pressed);
$db-critical-on-contrast-enabled: var(--db-critical-on-contrast-enabled);
$db-critical-contrast-high-enabled: var(--db-critical-contrast-high-enabled);
$db-critical-contrast-high-hover: var(--db-critical-contrast-high-hover);
$db-critical-contrast-high-pressed: var(--db-critical-contrast-high-pressed);
$db-critical-contrast-low-enabled: var(--db-critical-contrast-low-enabled);
$db-critical-contrast-low-hover: var(--db-critical-contrast-low-hover);
$db-critical-contrast-low-pressed: var(--db-critical-contrast-low-pressed);
$db-critical-border: var(--db-critical-border);
