@use "sass:map";
@use "@db-ui/foundations/build/scss/variables.global" as var;
@use "@db-ui/foundations/build/scss/helpers/font" as font;
@use "@db-ui/foundations/build/scss/color/color-variants" as col-var;
@use "@db-ui/foundations/build/scss/helpers/component" as component;
@use "../../styles/form-components" as form;

%resize-textarea {
	&[data-resize="none"] {
		resize: none;
	}

	&[data-resize="both"] {
		resize: both;
	}

	&[data-resize="horizontal"] {
		resize: horizontal;
	}

	&[data-resize="vertical"] {
		resize: vertical;
	}
}

.db-textarea {
	--db-textarea-label-max-width: 80%;

	@extend %default-form-message;
	@extend %default-form-label;

	@extend %disabled-form-element;
	@extend %required-form-element;

	@include form.get-input-color-variants();

	position: relative;
	display: flex;
	flex-direction: column;

	textarea {
		@extend %default-interactive-component;
		@extend %component-border;
		@extend %db-overwrite-font-size-md;
		@extend %resize-textarea;

		@include col-var.bg-transparent-hover();
		@include col-var.get-variant-bg-color(0.08);

		max-inline-size: 100%;
		inline-size: 100%;
		padding: var.$db-spacing-fixed-xs var.$db-spacing-fixed-sm;

		&::placeholder {
			opacity: component.$default-placeholder-opacity;
		}
	}

	textarea:required:invalid:not(:placeholder-shown),
	textarea[aria-invalid="true"] {
		@extend %adaptive-critical-component;
	}
}
