<app-default-component
	title="DBBadge"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<ng-container *ngIf="!exampleProps.placement && !exampleProps.example">
			<db-badge
				[variant]="exampleProps.variant"
				[emphasis]="exampleProps.emphasis"
				[size]="exampleProps.size"
				>{{ exampleProps.noContent ? "" : exampleName }}</db-badge
			>
			<db-infotext
				*ngIf="exampleProps.noContent"
				variant="informational"
				size="small"
				icon="none"
			>
				{{ exampleName }}
			</db-infotext>
		</ng-container>

		<ng-container
			*ngIf="
				exampleProps.placement &&
				exampleProps.placement !== 'inline' &&
				!exampleProps.example
			"
		>
			<db-button icon="account" variant="outlined" [noText]="true">
				<db-badge
					emphasis="strong"
					variant="critical"
					size="small"
					[placement]="exampleProps.placement"
				></db-badge>
				{{ exampleName }}
			</db-button>
			<db-infotext variant="informational" size="small" icon="none">
				{{ exampleName }}
			</db-infotext>
		</ng-container>

		<ng-container *ngIf="exampleProps.placement === 'inline'">
			<div class="badge-inline-container">
				<db-icon icon="account"></db-icon>
				<span>{{ exampleName }}</span>
				<db-badge size="small" emphasis="strong" variant="critical">
					Label
				</db-badge>
				<db-icon icon="error"></db-icon>
			</div>
		</ng-container>

		<ng-container *ngIf="exampleProps.example === 'icon'">
			<db-badge
				variant="critical"
				emphasis="strong"
				[size]="exampleProps.size"
			>
				<db-icon icon="account">{{ exampleName }}</db-icon>
			</db-badge>
			<db-infotext variant="informational" size="small" icon="none">
				{{ exampleName }}
			</db-infotext>
		</ng-container>

		<ng-container *ngIf="exampleProps.example === 'number'">
			<db-badge variant="successful">9</db-badge>
			<db-badge variant="informational">12</db-badge>
			<db-badge variant="warning">123</db-badge>
			<db-badge size="small" emphasis="strong" variant="successful">
				9
			</db-badge>
			<db-badge size="small" emphasis="strong" variant="informational">
				12
			</db-badge>
			<db-badge size="small" emphasis="strong" variant="warning">
				123
			</db-badge>
			<db-infotext variant="informational" size="small" icon="none">
				{{ exampleName }}
			</db-infotext></ng-container
		>
	</ng-template>
</app-default-component>
