<app-default-component
	title="Button"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-button *ngIf="exampleIndex === 0">{{ exampleName }}</db-button>
		<ng-container *ngIf="exampleIndex === 1 && variantIndex === 0">
			<db-button variant="primary">{{ exampleName }}</db-button>
		</ng-container>
		<ng-container *ngIf="exampleIndex === 2 && variantIndex === 0">
			<db-button variant="transparent">{{ exampleName }}</db-button>
		</ng-container>
		<ng-container *ngIf="exampleIndex === 3 && variantIndex === 0">
			<db-button variant="semi-transparent">{{ exampleName }}</db-button>
		</ng-container>
		<ng-container *ngIf="exampleIndex === 1 && variantIndex === 1">
			<db-button state="loading">{{ exampleName }}</db-button>
		</ng-container>
		<ng-container *ngIf="exampleIndex === 1 && variantIndex === 2">
			<db-button size="small">{{ exampleName }}</db-button>
		</ng-container>
		<ng-container *ngIf="exampleIndex === 1 && variantIndex === 3">
			<db-button icon="account" [icntxt]="true">{{
				exampleName
			}}</db-button>
		</ng-container>
		<ng-container *ngIf="exampleIndex === 2 && variantIndex === 3">
			<db-button icon="account">{{ exampleName }}</db-button>
		</ng-container>
		<ng-container *ngIf="exampleIndex === 1 && variantIndex === 4">
			<db-button width="full">{{ exampleName }}</db-button>
		</ng-container>
	</ng-template>
</app-default-component>
