<app-default-component
	title="DBTab"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-tab
			[active]="exampleProps.active"
			[noText]="exampleProps.noText"
			[icon]="exampleProps.icon"
			[iconAfter]="exampleProps.iconAfter"
			[width]="exampleProps.width"
			[alignment]="exampleProps.alignment"
			[disabled]="exampleProps.disabled"
		>
			{{ exampleName }}
		</db-tab>
	</ng-template>
</app-default-component>
