.db-radio:not(:disabled):hover:is(:user-invalid), .db-radio[aria-invalid=true]:not(:disabled):hover, .db-radio:is(:user-invalid) button:not(:disabled):hover, .db-radio[aria-invalid=true] button:not(:disabled):hover {
  --db-current-background-color: var(--db-colors-critical-bg-transparent-semi-hover, rgba(236, 0, 22, 0.16));
  background-color: var(--db-current-background-color, rgba(236, 0, 22, 0.16));
  --db-current-background-color-red: 217;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 20;
}

.db-radio:is(:user-invalid) button:not(:disabled):active, .db-radio[aria-invalid=true] button:not(:disabled):active, [data-variant=ia].db-radio:not(:disabled):active:is(:user-invalid), [data-variant=ia].db-radio[aria-invalid=true]:not(:disabled):active {
  --db-current-background-color: var(--db-colors-critical-bg-transparent-semi-pressed, rgba(236, 0, 22, 0.24));
  background-color: var(--db-current-background-color, rgba(236, 0, 22, 0.24));
  --db-current-background-color-red: 198;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 18;
}

.db-radio:is(:user-invalid), .db-radio[aria-invalid=true] {
  --db-current-background-color: var(--db-colors-critical-bg-transparent-semi-enabled, rgba(236, 0, 22, 0.08));
  --db-current-color: var(--db-colors-critical-on-bg-enabled, #550007);
  --db-current-element-color: var(--db-colors-critical-element-enabled, #ec0016);
  --db-current-border-color: var(--db-colors-critical-border-enabled, rgba(236, 0, 22, 0.32));
  background-color: var(--db-current-background-color, rgba(236, 0, 22, 0.08));
  color: var(--db-current-color, #550007);
  --db-current-background-color-red: 236;
  --db-current-background-color-green: 0;
  --db-current-background-color-blue: 22;
}
.db-radio:is(:user-invalid) a:not(:disabled):hover, .db-radio[aria-invalid=true] a:not(:disabled):hover {
  --db-current-color: var(--db-colors-critical-on-bg-hover, rgba(85, 0, 7, 0.75));
  color: var(--db-current-color, rgba(85, 0, 7, 0.75));
}
.db-radio:is(:user-invalid) a:not(:disabled):active, .db-radio[aria-invalid=true] a:not(:disabled):active {
  --db-current-color: var(--db-colors-critical-on-bg-pressed, rgba(85, 0, 7, 0.5));
  color: var(--db-current-color, rgba(85, 0, 7, 0.5));
}
.db-radio[data-size=small], .db-radio[data-size=small] + label {
  --db-base-icon-font-size: var(--db-base-icon-font-size-sm);
  --db-base-icon-font-family: var(--db-base-icon-font-family-sm);
  /* prettier-ignore */
  --db-base-icon-font-family-filled: var(--db-base-icon-font-family-filled-sm);
  --db-base-line-height: var(--db-type-body-line-height-sm);
  --db-base-font-size: var(--db-type-body-font-size-sm);
  line-height: var(--db-type-body-line-height-sm);
  font-size: var(--db-type-body-font-size-sm);
}

.db-radio {
  color: var(--db-current-color, #242629);
}

.db-radio:checked:not(:disabled):hover, .db-radio {
  background-color: rgba(var(--db-current-background-color-red), var(--db-current-background-color-green), var(--db-current-background-color-blue), var(--db-current-background-color-alpha, 0));
}

.db-radio:not(:disabled):hover {
  background-color: rgba(var(--db-current-background-color-red), var(--db-current-background-color-green), var(--db-current-background-color-blue), var(--db-current-background-color-alpha, 0.16));
}

.db-radio:not(:disabled):active {
  background-color: rgba(var(--db-current-background-color-red), var(--db-current-background-color-green), var(--db-current-background-color-blue), var(--db-current-background-color-alpha, 0.24));
}

.db-radio {
  appearance: none;
  aspect-ratio: 1;
  border: min(calc(var(--db-base-font-size) * var(--db-base-line-height)) / 16 + 0.5px, 2px) solid currentColor;
  border-radius: 100px;
  display: inline-block;
  height: calc(var(--db-base-font-size) * var(--db-base-line-height));
  transition: border-width 0.15s cubic-bezier(0.15, 0, 0.45, 1);
}
.db-radio:checked {
  border-width: calc(calc(var(--db-base-font-size) * var(--db-base-line-height)) * 0.3);
}
.db-radio:is(:user-invalid), .db-radio[aria-invalid=true] {
  border-color: var(--db-colors-critical-element-enabled, #ec0016);
}
.db-radio:is(:user-invalid) + label, .db-radio[aria-invalid=true] + label {
  color: var(--db-colors-critical-enabled, #ec0016);
}
.db-radio + label {
  margin-inline-start: var(--db-spacing-fixed-xs);
  vertical-align: top;
}
.db-radio:disabled, .db-radio:disabled + label {
  opacity: 0.25;
}
.db-radio:required + label::after {
  content: " *";
}
.db-radio[data-size=small] + label {
  margin-inline-start: var(--db-spacing-fixed-2xs);
}
@media (prefers-reduced-motion: reduce) {
  .db-radio {
    transition-duration: 0.01s !important;
  }
}
