@charset "utf-8";
@use "@db-ui/foundations/build/scss/helpers/font" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/color-placeholder" as *;
@use "@db-ui/foundations/build/scss/icon/icons.helpers" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;
@use "../../styles/button-components";

.db-button {
	// Including a loading indicator
	--loadingIndicator---color: currentColor;

	@extend %default-interactive-component;
	@extend %default-background-transition;
	@extend %bg-transparent-interactive;
	@extend %default-button;

	block-size: $db-sizing-md;
	padding: $db-spacing-fixed-xs $db-spacing-fixed-md;

	// Square icon only buttons
	&.is-icon-text-replace {
		font-size: 0;
		padding: 0;
		inline-size: $db-sizing-md;
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-sm;
		block-size: $db-sizing-sm;

		&:not(.is-icon-text-replace) {
			padding: $db-spacing-fixed-3xs $db-spacing-fixed-sm;

			&::before {
				margin-inline-end: $db-spacing-fixed-2xs;
			}
		}

		// Square icon only buttons
		&.is-icon-text-replace {
			inline-size: $db-sizing-sm;
		}
	}

	&[data-width="full"] {
		inline-size: 100%;
	}

	&[data-variant="primary"] {
		@extend %db-primary-component-ia;
		@extend %transparent-border;
	}

	&[data-variant="solid"] {
		@extend %transparent-border;
		@include get-variant-bg-color(0.08);
	}

	&[data-variant="text"] {
		@extend %transparent-border;
	}

	&:disabled {
		opacity: $default-opacity;
	}

	// States (currently only "loading")
	&[data-state="loading"] {
		@include is-icon-text-replace();

		&::before {
			content: "";
		}
	}

	&[data-state="loading"] {
		font-size: 0;
	}
}
