@charset "utf-8";
@use "@db-ui/foundations/build/scss/tonality";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/icons";
@use "../../styles/component";
@use "../../styles/button-components";

.db-button {
	@extend %default-interactive-component;
	@extend %default-button;

	color: colors.$db-current-color;

	block-size: variables.$db-sizing-md;
	inline-size: fit-content;
	padding: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-md;

	// disable text-decoration if someone wants to use the button for an <a> tag
	text-decoration: none;

	// Square icon only buttons
	&.is-icon-text-replace {
		font-size: 0;
		padding: 0;
		inline-size: variables.$db-sizing-md;
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-sm;
		block-size: variables.$db-sizing-sm;

		&:not(.is-icon-text-replace) {
			padding: variables.$db-spacing-fixed-3xs
				variables.$db-spacing-fixed-sm;

			&::before {
				margin-inline-end: variables.$db-spacing-fixed-2xs;
			}
		}

		// Square icon only buttons
		&.is-icon-text-replace {
			inline-size: variables.$db-sizing-sm;
		}
	}

	&[data-width="full"] {
		inline-size: 100%;
	}

	&[data-variant="primary"] {
		--db-current-icon-color: #{colors.$db-brand-on};
		@extend %transparent-border;
		background-color: colors.$db-brand;
		color: colors.$db-brand-on;

		&:enabled {
			&:hover {
				background-color: colors.$db-brand-hover;
			}

			&:active {
				background-color: colors.$db-brand-pressed;
			}
		}
	}

	&[data-variant="solid"],
	&[data-variant="text"] {
		@extend %transparent-border;
	}

	&[data-variant="outlined"],
	&:not([data-variant]),
	&[data-variant="text"] {
		background-color: colors.$db-current-bg-transparent-full;
	}

	&[data-variant="solid"] {
		background-color: colors.$db-current-bg-transparent-semi;
	}

	&:enabled {
		&:hover {
			background-color: colors.$db-current-bg-transparent-hover;
		}

		&:active {
			background-color: colors.$db-current-bg-transparent-pressed;
		}
	}

	&:disabled {
		opacity: component.$default-disabled;
	}

	// States (currently only "loading")
	&[data-state="loading"] {
		@include icons.is-icon-text-replace();

		&::before {
			content: "";
		}
	}

	&[data-state="loading"] {
		font-size: 0;
	}
}
