@charset "utf-8";
@use "@db-ui/foundations/build/scss/fonts";
@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/helpers";
@use "../../styles/component";
@use "../../styles/button-components";

.db-button {
	@extend %default-interactive-component;
	@extend %default-button;
	@extend %db-overwrite-font-size-md;

	color: colors.$db-current-color-on-bg-enabled;

	block-size: variables.$db-sizing-md;
	inline-size: fit-content;
	padding: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-md;

	// disable text-decoration if someone wants to use the button for an <a> tag
	text-decoration: none;

	@include helpers.hover {
		background-color: colors.$db-current-color-bg-transparent-hover;
	}

	@include helpers.active {
		background-color: colors.$db-current-color-bg-transparent-pressed;
	}

	// Square icon only buttons
	&[data-no-text="true"] {
		@include icons.is-icon-text-replace();
		padding: 0;
		inline-size: variables.$db-sizing-md;

		&::before {
			margin: auto;
		}
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-sm;
		block-size: variables.$db-sizing-sm;

		&:not([data-no-text="true"]) {
			padding: variables.$db-spacing-fixed-3xs
				variables.$db-spacing-fixed-sm;

			&::before {
				margin-inline-end: variables.$db-spacing-fixed-2xs;
			}
		}

		// Square icon only buttons
		&[data-no-text="true"] {
			inline-size: variables.$db-sizing-sm;
		}
	}

	&[data-width="full"] {
		inline-size: 100%;
	}

	&[data-variant="brand"] {
		@extend %transparent-border;
		background-color: colors.$db-brand-origin-enabled;
		color: colors.$db-brand-on-enabled;

		@include helpers.hover {
			background-color: colors.$db-brand-origin-hover;
		}

		@include helpers.active {
			background-color: colors.$db-brand-origin-pressed;
		}
	}

	&[data-variant="filled"],
	&[data-variant="ghost"] {
		@extend %transparent-border;
	}

	&[data-variant="outlined"],
	&:not([data-variant]),
	&[data-variant="ghost"] {
		background-color: colors.$db-current-color-bg-transparent-full-enabled;
	}

	&[data-variant="filled"] {
		background-color: colors.$db-current-color-bg-transparent-semi-enabled;
	}

	&:disabled {
		opacity: component.$default-disabled;
	}

	// States (currently only "loading")
	&[data-state="loading"] {
		@include icons.is-icon-text-replace();

		&::before {
			content: "";
		}
	}

	&[data-state="loading"] {
		font-size: 0;
	}
}
