<app-default-component
	title="DBTag"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
	>
		<db-tag
			[variant]="exampleProps.variant"
			[disabled]="exampleProps.disabled"
			[icon]="exampleProps.icon"
			[noText]="exampleProps.noText"
			[behaviour]="exampleProps.behaviour"
			[emphasis]="exampleProps.emphasis"
			[overflow]="exampleProps.overflow"
			[removeButton]="exampleProps.removeButton"
			(onRemove)="showAlert(exampleName)"
		>
			<db-button *ngIf="exampleProps.component === 'button'">{{
				exampleName
			}}</db-button>
			<db-link *ngIf="exampleProps.component === 'link'" href="#">{{
				exampleName
			}}</db-link>
			<db-checkbox
				*ngIf="exampleProps.component === 'checkbox'"
				[checked]="exampleProps.checked"
				>{{ exampleName }}</db-checkbox
			>
			<db-radio
				name="radio"
				*ngIf="exampleProps.component === 'radio'"
				[checked]="exampleProps.checked"
				>{{ exampleName }}</db-radio
			>
			<ng-container *ngIf="!exampleProps.component">{{
				exampleName
			}}</ng-container>
		</db-tag>
	</ng-template>
</app-default-component>
