@use "variables";
@use "colors";

%focus-placeholder {
	outline: #{variables.$db-border-height-2xs} solid #{colors.$db-informational-contrast-high-enabled};
	outline-offset: variables.$db-border-height-xs;

	// TODO: The fallback currently only includes the same CSS Custom Property, which doesn't make any sense
	transition:
		outline
			var(
				--db-transition-duration-ultra-fast,
				#{variables.$db-transition-duration-ultra-fast}
			),
		box-shadow
			var(
				--db-transition-duration-ultra-fast,
				#{variables.$db-transition-duration-ultra-fast}
			);

	&:not([type="radio"], [role="switch"]) {
		border-radius: variables.$db-border-radius-xs;
	}

	// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01s !important;
	}
}
