@use "default.assets-paths" as assets-paths;
$digitalregular: assets-paths.$fonts-path + "dbscreensans-digitalregular.woff2";
@font-face {
	font-family: "DB Screen Sans";
	font-style: normal;
	font-weight: 300;
	src: /* TODO: add those again as soon as the local files got fixed
		local("DB Screen Sans Digital Regular"),
		local("DB Screen Sans Digital"),
		local("DB Sans Digital"),*/
		url($digitalregular) format("woff2");
}
$regular: assets-paths.$fonts-path + "dbscreensans-regular.woff2";
@font-face {
	font-family: "DB Screen Sans";
	font-style: normal;
	font-weight: 400;
	src: /* local("DB Screen Sans Regular"),
		local("DB Screen Sans"),
		local("DB Sans"),*/
		url($regular) format("woff2");
}
$medium: assets-paths.$fonts-path + "dbscreensans-medium.woff2";
@font-face {
	font-family: "DB Screen Sans";
	font-style: normal;
	font-weight: 500;
	src: /* local("DB Screen Sans Medium"),
		local("DB Sans Medium"),*/
		url($medium) format("woff2");
}
$semibold: assets-paths.$fonts-path + "dbscreensans-semibold.woff2";
@font-face {
	font-family: "DB Screen Sans";
	font-style: normal;
	font-weight: 600;
	src: /* local("DB Screen Sans SemiBold"),
		local("DB Sans SemiBold"),*/
		url($semibold) format("woff2");
}
$bold: assets-paths.$fonts-path + "dbscreensans-bold.woff2";
@font-face {
	font-family: "DB Screen Sans";
	font-style: normal;
	font-weight: 700;
	src: /* local("DB Screen Sans Bold"),
		local("DB Sans Bold"),*/
		url($bold) format("woff2");
}
$light: assets-paths.$fonts-path + "dbscreenhead-light.woff2";
@font-face {
	font-family: "DB Screen Head";
	font-style: normal;
	font-weight: 300;
	src: /* local("DB Screen Head Light"),
		local("DB Head Light"),*/
		url($light) format("woff2");
}
$regular: assets-paths.$fonts-path + "dbscreenhead-regular.woff2";
@font-face {
	font-family: "DB Screen Head";
	font-style: normal;
	font-weight: 400;
	src: /* local("DB Screen Head"),
		local("DB Head"),*/
		url($regular) format("woff2");
}
$black: assets-paths.$fonts-path + "dbscreenhead-black.woff2";
@font-face {
	font-family: "DB Screen Head";
	font-style: normal;
	font-weight: 900;
	src: /* local("DB Screen Head Black"),
		local("DB Head Black"),*/
		url($black) format("woff2");
}
