@use "variables";
@use "colors";
@use "animation";
@use "tonality";

:root {
	// TODO: probably move these to the tokens as well
	--db-focus-outline-offset: 1px;
	--db-focus-outline-color: #{colors.$db-informational-text};
	--db-focus-outline-size: max(2px, 0.08em);
	--db-disabled-text-opacity: 0.5;

	@extend %db-component-variables-md;
	@extend %db-bg-base;

	/* This is a MS power apps specific class name */
	.app-canvas,
	&:not(:has(.app-canvas)) {
		@extend %db-ui-regular;
	}
}

// *! this is an opionionated (especially based on "enhancing" normalize.css) version of minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css
html,
body {
	margin: 0;
	padding: 0;
}

body,
	// Power Apps related
.app-canvas,
.control-pane {
	font-family: var(--db-font-family-sans);
}

// Box sizing
html {
	box-sizing: var(--db-box-sizing, border-box);
}

// global
* {
	@extend %db-font-size-md;
}

*,
::before,
::after {
	box-sizing: inherit;
}

// Make sure every elements has the current color from container above
body,
button,
input,
textarea,
summary,
select,
a {
	color: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

// Media
img,
embed,
iframe,
object,
video {
	block-size: auto;
	max-inline-size: 100%;
}

// Iframe
iframe {
	border: 0;
}

// Focus styles
%focus-placeholder,
:is(a, button, input, textarea, summary, select) {
	&:focus-visible {
		outline: var(--db-focus-outline-size)
			var(--db-focus-outline-style, solid)
			var(--db-focus-outline-color, currentColor);
		outline-offset: var(
			--db-focus-outline-offset,
			var(--db-focus-outline-size)
		);
	}
}

// transitions
[class^="db-"],
[class^="db-"] * {
	@extend %default-transition;

	::before,
	::after {
		@extend %default-transition;
	}
}

// List style / https://marketingportal.extranet.deutschebahn.com/marketingportal/Marke-und-Design/Basiselemente/Typografie#Aufzaehlungszeichen-9693110
:where(ul) {
	list-style-type: "\2022"+ "   ";

	li::marker {
		color: #{colors.$db-brand};
	}
}

// * Individual styles
// Navigation lists
nav,
[role="navigation"] {
	ol,
	ul {
		list-style: none;

		margin: 0;
		padding: 0;
	}
}

// Block
fieldset {
	border: none;
}

// Code

pre:has(code) {
	@extend %db-neutral-component;
	padding: variables.$db-spacing-fixed-xs;
}

code {
	@extend %db-neutral-component;
	padding-block: variables.$db-spacing-fixed-3xs;
	padding-inline: variables.$db-spacing-fixed-2xs;
}

blockquote {
	@extend %db-bg-neutral-transparent-semi;
	margin: 0;
	padding: variables.$db-spacing-fixed-sm variables.$db-spacing-fixed-md;
}

// details/summary box-sizing / https://kittygiraudel.com/2021/08/23/shadow-roots-and-inheritance/
details {
	& > *,
	& > ::before,
	& > ::after {
		box-sizing: var(--db-box-sizing, border-box);
	}
}

// fonts

small,
code {
	@extend %db-overwrite-font-size-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--db-font-family-head);
	font-weight: 700;

	&[data-variant="light"] {
		font-weight: 300;
	}
}

h1 {
	line-height: var(--db-type-headline-line-height-xl);
	font-size: var(--db-type-headline-font-size-xl);
	margin-block: variables.$db-spacing-fixed-xl;
}

h2 {
	line-height: var(--db-type-headline-line-height-lg);
	font-size: var(--db-type-headline-font-size-lg);
	margin-block: variables.$db-spacing-fixed-lg;
}

h3 {
	line-height: var(--db-type-headline-line-height-md);
	font-size: var(--db-type-headline-font-size-md);
	margin-block: variables.$db-spacing-fixed-md;
}

h4 {
	line-height: var(--db-type-headline-line-height-sm);
	font-size: var(--db-type-headline-font-size-sm);
	margin-block: variables.$db-spacing-fixed-sm;
}

h5 {
	line-height: var(--db-type-headline-line-height-xs);
	font-size: var(--db-type-headline-font-size-xs);
	margin-block: variables.$db-spacing-fixed-xs;
}

h6 {
	line-height: var(--db-type-headline-line-height-2xs);
	font-size: var(--db-type-headline-font-size-2xs);
	margin-block: variables.$db-spacing-fixed-2xs;
}

p {
	margin-block: variables.$db-spacing-fixed-md;
}

// tonalities

@mixin tonalities($tonalities) {
	@each $tonality in $tonalities {
		.db-ui-#{$tonality},
		[data-tonality="#{$tonality}"] {
			@extend %db-ui-#{$tonality};
		}
	}
}

@include tonalities(tonality.$tonalities);
