@use "default-variables";
@use "typography-placeholder";
@use "scaling-placeholder";
@use "helpers/font";

@forward "font-faces";

body,
// Power Apps related
.app-canvas,
.control-pane {
	font-family: default-variables.$db-font-family-sans;
}

:root {
	@extend %db-component-variables-md;
}

* {
	@extend %db-font-size-md;
}

small,
code {
	@extend %db-overwrite-font-size-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: default-variables.$db-font-family-head;
	font-weight: 700;

	&[data-variant="light"] {
		font-weight: 300;
	}
}

h1 {
	line-height: var(--db-type-headline-line-height-xl);
	font-size: var(--db-type-headline-font-size-xl);
}

h2 {
	line-height: var(--db-type-headline-line-height-lg);
	font-size: var(--db-type-headline-font-size-lg);
}

h3 {
	line-height: var(--db-type-headline-line-height-md);
	font-size: var(--db-type-headline-font-size-md);
}

h4 {
	line-height: var(--db-type-headline-line-height-sm);
	font-size: var(--db-type-headline-font-size-sm);
}

h5 {
	line-height: var(--db-type-headline-line-height-xs);
	font-size: var(--db-type-headline-font-size-xs);
}

h6 {
	line-height: var(--db-type-headline-line-height-2xs);
	font-size: var(--db-type-headline-font-size-2xs);
}

@mixin tonalities($tonalities...) {
	@for $i from 0 to length($tonalities) {
		%db-ui-#{nth($tonalities, $i + 1)},
		.db-ui-#{nth($tonalities, $i + 1)},
		[data-tonality="#{nth($tonalities, $i + 1)}"] {
			@extend %db-scaling-#{nth($tonalities, $i + 1)};
			@extend %db-typography-headline-#{nth($tonalities, $i + 1)};
			@extend %db-typography-body-#{nth($tonalities, $i + 1)};
			@extend %db-component-variables-md;
		}
	}
}

@include tonalities("expressive", "regular", "functional");
