/* Use sizing's for fixed heights/widths e.g. the db-button has always a fixed height*/
$db-sizing-3xs: var(--db-sizing-3xs);
$db-sizing-2xs: var(--db-sizing-2xs);
$db-sizing-xs: var(--db-sizing-xs);
$db-sizing-sm: var(--db-sizing-sm);
$db-sizing-md: var(--db-sizing-md);
$db-sizing-lg: var(--db-sizing-lg);
$db-sizing-xl: var(--db-sizing-xl);
$db-sizing-2xl: var(--db-sizing-2xl);
$db-sizing-3xl: var(--db-sizing-3xl);

/* Use fixed spacings for all kind of distances (margin, padding, ...) */
$db-spacing-fixed-3xs: var(--db-spacing-fixed-3xs);
$db-spacing-fixed-2xs: var(--db-spacing-fixed-2xs);
$db-spacing-fixed-xs: var(--db-spacing-fixed-xs);
$db-spacing-fixed-sm: var(--db-spacing-fixed-sm);
$db-spacing-fixed-md: var(--db-spacing-fixed-md);
$db-spacing-fixed-lg: var(--db-spacing-fixed-lg);
$db-spacing-fixed-xl: var(--db-spacing-fixed-xl);
$db-spacing-fixed-2xl: var(--db-spacing-fixed-2xl);
$db-spacing-fixed-3xl: var(--db-spacing-fixed-3xl);

/* The primary use-case for responsive spacings are
paddings/gaps in an application e.g. the <main> should have a responsive padding. */
$db-spacing-responsive-3xs: var(--db-spacing-responsive-3xs);
$db-spacing-responsive-2xs: var(--db-spacing-responsive-2xs);
$db-spacing-responsive-xs: var(--db-spacing-responsive-xs);
$db-spacing-responsive-sm: var(--db-spacing-responsive-sm);
$db-spacing-responsive-md: var(--db-spacing-responsive-md);
$db-spacing-responsive-lg: var(--db-spacing-responsive-lg);
$db-spacing-responsive-xl: var(--db-spacing-responsive-xl);
$db-spacing-responsive-2xl: var(--db-spacing-responsive-2xl);
$db-spacing-responsive-3xl: var(--db-spacing-responsive-3xl);

/* Elevation */

$db-elevation-sm: var(--db-elevation-sm);
$db-elevation-md: var(--db-elevation-md);
$db-elevation-lg: var(--db-elevation-lg);

/* Border */

$db-border-height-3xs: var(--db-border-height-3xs);
$db-border-height-2xs: var(--db-border-height-2xs);
$db-border-height-xs: var(--db-border-height-xs);
$db-border-height-sm: var(--db-border-height-sm);
$db-border-height-md: var(--db-border-height-md);
$db-border-height-lg: var(--db-border-height-lg);
$db-border-height-xl: var(--db-border-height-xl);
$db-border-height-2xl: var(--db-border-height-2xl);
$db-border-height-3xl: var(--db-border-height-3xl);

$db-border-radius-3xs: var(--db-border-radius-3xs);
$db-border-radius-2xs: var(--db-border-radius-2xs);
$db-border-radius-xs: var(--db-border-radius-xs);
$db-border-radius-sm: var(--db-border-radius-sm);
$db-border-radius-md: var(--db-border-radius-md);
$db-border-radius-lg: var(--db-border-radius-lg);
$db-border-radius-xl: var(--db-border-radius-xl);
$db-border-radius-2xl: var(--db-border-radius-2xl);
$db-border-radius-3xl: var(--db-border-radius-3xl);
$db-border-radius-full: var(--db-border-radius-full);

/* Transitions */

$db-transition-duration-extra-slow: var(--db-transition-duration-extra-slow);
$db-transition-duration-slow: var(--db-transition-duration-slow);
$db-transition-duration-medium: var(--db-transition-duration-medium);
$db-transition-duration-fast: var(--db-transition-duration-fast);
$db-transition-duration-extra-fast: var(--db-transition-duration-extra-fast);

$db-transition-timing-emotional: var(--db-transition-timing-emotional);
$db-transition-timing-functional: var(--db-transition-timing-functional);
$db-transition-timing-show: var(--db-transition-timing-show);
$db-transition-timing-hide: var(--db-transition-timing-hide);

$db-transition-straight-emotional: var(--db-transition-straight-emotional);
$db-transition-straight-functional: var(--db-transition-straight-functional);
$db-transition-straight-show: var(--db-transition-straight-show);
$db-transition-straight-hide: var(--db-transition-straight-hide);
