@use "@db-ui/foundations/build/scss/init" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;

.db-card {
	@extend %focus-placeholder;
	@extend %color-variants;

	background-color: var(
		--db-current-background-color,
		$db-colors-neutral-bg-0-enabled
	);

	border-radius: 8px;
	box-shadow: $db-elevation-4;
	display: flex;
	flex-direction: column;

	&[data-direction="row"] {
		@media only screen and (min-width: #{$db-screens-s}) {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: $db-spacing-fixed-md;

			& > .db-card-image {
				height: 100%;
			}
		}
	}

	& > a {
		text-decoration: none;
	}

	&[data-variant="full-width"] {
		width: 100vw;
		border-radius: 0;
	}

	&[data-variant="interactive"] {
		&:hover {
			cursor: pointer;
			box-shadow: $db-elevation-4;
		}

		&:active {
			box-shadow: $db-elevation-2;
		}
	}
}
