<main>
  <h1>Angular</h1>
  <div style="display: flex; gap: 4px; align-items: center">
    <DBButton variant="secondary">Test</DBButton>
    <DBButton text="Test" icon="account"></DBButton>
    <DBIcon icon="account"></DBIcon>
  </div>

  <div style="display: flex; gap: 4px; flex-direction: column">
    <h2>TabBar</h2>
    <DBTabBar>
      <DBTab name="tab-bar-1" label="Tab1">
        <strong>Content 1-1</strong>
      </DBTab>
      <DBTab name="tab-bar-1" label="Tab2" [active]="true"> Content 1-2 </DBTab>
    </DBTabBar>

    <DBTabBar [tabs]="tabs"></DBTabBar>
  </div>
</main>
