<div *ngIf="page" [class]="getChangeableClasses()">
	<router-outlet></router-outlet>
</div>
<db-page *ngIf="!page" type="fixedHeaderFooter" [fadeIn]="true">
	<db-header
		header
		[drawerOpen]="drawerOpen"
		(onToggle)="toggleDrawer($event)"
	>
		<db-brand
			brand
			title="Angular Showcase"
			src="./assets/db_logo.svg"
			href="/angular-showcase"
		>
			Showcase
		</db-brand>
		<db-main-navigation *dbNavigation>
			<ng-container *ngFor="let item of navigationItems">
				<app-nav-item [navItem]="item"> </app-nav-item>
			</ng-container>
		</db-main-navigation>
		<ng-container *dbMetaNavigation>
			<db-select
				label="Tonality"
				[(ngModel)]="tonality"
				(change)="onChange($event)"
			>
				<option *ngFor="let t of tonalities">
					{{ t }}
				</option>
			</db-select>
			<db-select
				label="Color"
				[(ngModel)]="color"
				(change)="onChange($event)"
			>
				<option *ngFor="let c of colors">
					{{ c }}
				</option>
			</db-select>
		</ng-container>
		<ng-container call-to-action>
			<DBButton icon="search" variant="text" [noText]="true"
				>Search</DBButton
			>
		</ng-container>
		<ng-container *dbActionBar>
			<DBButton icon="account" variant="text" [noText]="true">
				Profile
			</DBButton>
			<DBButton icon="alert" variant="text" [noText]="true">
				Notification
			</DBButton>
			<DBButton icon="help" variant="text" [noText]="true">
				Help
			</DBButton>
		</ng-container>
	</db-header>
	<div [class]="getChangeableClasses()">
		<router-outlet></router-outlet>
	</div>
</db-page>
