<div *ngIf="page" [class]="getChangeableClasses()">
	<router-outlet></router-outlet>
</div>
<db-page *ngIf="!page" type="fixedHeaderFooter">
	<db-header header>
		<db-brand
			brand
			title="Angular Showcase"
			src="./assets/db_logo.svg"
			href="/angular-showcase"
		>
			Showcase
		</db-brand>
		<nav class="desktop-navigation" desktop-navigation>
			<ul>
				<li *ngFor="let item of navigationItems">
					<a [routerLink]="item.path" queryParamsHandling="merge">
						<db-navigation-item>{{
							item.label
						}}</db-navigation-item></a
					>
				</li>
			</ul>
		</nav>
		<div meta-navigation>
			<!-- TODO: Use db-select here	-->
			<select [(ngModel)]="tonality" (change)="onChange($event)">
				<option *ngFor="let t of tonalities">
					{{ t }}
				</option>
			</select>
			<select [(ngModel)]="color" (change)="onChange($event)">
				<option *ngFor="let c of colors">
					{{ c }}
				</option>
			</select>
		</div>
	</db-header>
	<div [class]="getChangeableClasses()">
		<router-outlet></router-outlet>
	</div>
</db-page>
