@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/helpers";

.db-divider {
	&:not([data-margin="none"]) {
		margin: variables.$db-spacing-fixed-sm 0;
	}

	&:not([data-variant="vertical"]) {
		@include helpers.divider();
		block-size: 1px;
		inline-size: 100%;
	}

	&[data-variant="vertical"] {
		@include helpers.divider("left");
		block-size: 100%;
		inline-size: 1px;

		&:not([data-margin="none"]) {
			margin: 0 variables.$db-spacing-fixed-sm;
		}
	}
}
